<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3" style="margin-left: 0;">
    {#		<div class="well well-small"><a id="myCart" href="product_summary.html"><img src="/static/public/images/ico-cart.png" alt="cart">{{ cart.total_quantity }} Items in your cart  <span class="badge badge-warning bob pull-right">₦155.00</span></a></div>#}
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        {% for c in product_categories|sort(attribute='nested.name') %}
            {% if c.nested and c.nested.level < 1 %}
                <li class="subMenu"><a class="title">{{ c.nested.name }}</a>
                    <ul style="display: none">
                        <li><a href="{{ url_for('.products', sec_slug=c.nested.code) }}">All {{ c.nested.name }}</a>
                        </li>
                        {% for i in c.nested.categories|sort(attribute='name') %}
                            <li>
                                <a href="{{ url_for('.products', sec_slug=c.nested.code,cat_slug=i.code) }}"> {{ i.name }} </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br/>
    {% if all_done %}
        <div class="thumbnail">
            <img src="/static/public/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
            <div class="caption">
                <h5>Panasonic</h5>
                <h4>
                    <small class="pull-left black-price-tag" style="width: 100%; padding-bottom: 5px;"> ₦10,000 <span
                            class="yellow-price-tag">₦25,000</span></small>
                    <a class="center " href="{{ url_for('.products') }}"
                       style="font-size: 13px; color: rgba(94,93,94,0.69)">Add to Wishlist <i class="fa fa-heart"
                                                                                              style="font-size: 16px"></i></a>
                </h4>
                <div class="clearfix"></div>
            </div>
        </div><br/>
    {% endif %}
    {% if all_done %}
        <div class="thumbnail">
            <img src="/static/public/images/payment_methods.png" title="Bootshop Payment Methods"
                 alt="Payments Methods">
            <div class="caption">
                <h5>Payment Methods</h5>
            </div>
        </div>
    {% endif %}
</div>
<!-- Sidebar end=============================================== -->