

body {
    /*padding-top: 90px;*/
    /*min-height: 1200px;*/
}

.page-bg {
    /*padding-top: 90px;*/
    background-image: url("../../onlineshoppinggirl.jpg") !important;
}
.page {
    background: center top no-repeat;
    width: 100%;
    height: 100vh;
}

.panel{

    opacity: 0.9;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #ebb128;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 400px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	/*border: 1px solid #ddd;*/
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

/*.modal {*/
    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 40%;*/
    /*z-index: 1050;*/
    /*width: 960px;*/
    /*margin: -250px 0 0 -280px;*/
    /*background-color: #fff;*/
    /*border: 1px solid #999;*/
    /*border: 1px solid rgba(0,0,0,0.3);*/
    /*-webkit-border-radius: 6px;*/
    /*-moz-border-radius: 6px;*/
    /*border-radius: 6px;*/
    /*outline: 0;*/
    /*-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);*/
    /*-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);*/
    /*box-shadow: 0 3px 7px rgba(0,0,0,0.3);*/
    /*-webkit-background-clip: padding-box;*/
    /*-moz-background-clip: padding-box;*/
    /*background-clip: padding-box;*/
/*}*/

.login-form-control {
    color: #000000 !important;
    font-size: 25px;
    border: none;
    padding: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    /*-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;*/
    /*-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.label {
    /*color: #ebb128;*/
    color: #ebb128;
    font-size: 12px;
    font-weight: 300;
}

.line{
    border-left : 1px solid #ebb128;
	height: 330px;
	left: 30px;
	/*margin-top: 10px;*/
	/*margin-bottom: 0px;*/
	/*margin-left: 400px;*/
	/*clear: both;*/
	/*border: 0;*/
	/*background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));*/
	/*background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));*/
	/*background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));*/
	/*background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));*/
}

.form-control:focus{
    border-radius: 0px;
    border-bottom: 1px solid #fbd141 !important;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.yellow-btn {
    color: #fff;
    background-color: #ebb128;
    border-color: #ebb128;
}

.yellow-btn:hover {
    color: #fff;
    background-color: #fbd141;
    border-color: #ebb128;
}
.login_logo{
	margin-top: 15%;
}
.login_logo a{
	    text-align: center;
    width: 100%;
    display: block;
	margin-bottom: 2em;
}
/*input[type=text], input[type=number],*/
/*input[type=password]{*/
		/*width: 95%;*/
		/*margin: 2px;*/
		/*padding: 0.5rem;*/
		/*-webkit-appearance: none;*/
		/*-moz-appearance: none;*/
		/*!*appearance: none;*!*/
		/*border: 1px solid #cacaca;*/
		/*border-radius: 0;*/
		/*!*background-color: #fefefe;*!*/
		/*font-family: inherit;*/
		/*font-size: 1rem;*/
		/*line-height: normal;*/
		/*color: #0a0a0a;*/
		/*background: #ffffff;*/
		/*outline: none;*/
		/*!*box-sizing: border-box;*!*/
/*}*/

/*input, button, select, textarea {*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    /*line-height: inherit;*/
/*}*/

/*input {*/
    /*line-height: normal;*/
/*}*/

/*button, input, optgroup, select, textarea {*/
    /*margin: 0;*/
    /*font: inherit;*/
    /*color: inherit;*/
/*}*/

/** {*/
    /*font-family: 'Raleway', sans-serif;*/
    /*color: #FFF;*/
/*}*/

/** {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

/*input:not([type]),*/
/*input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {*/
    /*padding: 1px 0px;*/
/*}*/

/*input {*/
    /*-webkit-appearance: textfield;*/
    /*background-color: white;*/
    /*-webkit-rtl-ordering: logical;*/
    /*user-select: text;*/
    /*cursor: auto;*/
    /*padding: 1px;*/
    /*border-width: 2px;*/
    /*border-style: inset;*/
    /*border-color: initial;*/
    /*border-image: initial;*/
/*}*/

/*input, textarea, select, button {*/
    /*text-rendering: auto;*/
    /*color: initial;*/
    /*letter-spacing: normal;*/
    /*word-spacing: normal;*/
    /*text-transform: none;*/
    /*text-indent: 0px;*/
    /*text-shadow: none;*/
    /*display: inline-block;*/
    /*text-align: start;*/
    /*margin: 0em;*/
    /*font: 13.3333px Arial;*/
/*}*/
/*input, textarea, select, button, meter, progress {*/
    /*-webkit-writing-mode: horizontal-tb;*/
/*}*/