<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>BuyOrBidng | {{ pageTitle }}</title>
    <link rel="shortcut icon" href="/static/bob_fav.png"/>
    {% cache 6000, "email_layout", "design-styles", "updated" %}
        <style type="text/css">
            body, td, th {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                color: #333;
                line-height: 20px;
            }

            .white {
                color: #FFF;
                text-align: center;
            }

            a:link {
                color: #DB5125;
            }

            a:visited {
                color: #DB5125;
            }

            a:hover {
                color: #000;
            }

            a:active {
                color: #DB5125;
            }

            .price {
                color: #DB5125;
            }

            a {
                font-weight: bold;
                text-decoration: none !important;
                color: #DB5125 !important;
            }

            h1 {
                font-size: 18px;
            }

            .nav {
                font-family: Verdana, Geneva, sans-serif;
                font-size: 0.7em;
                font-weight: normal;
                color: #FFF !important;
                letter-spacing: 0.6px;
            }

            .nav a {
                color: #FFF !important;
                font-size: 0.7em;
                text-decoration: none;
                margin-right: 4px;
                margin-left: 4px;
            }

            .nav a:hover {
                color: #F60;
            }
        </style>
        <style type="text/css">
            body {
                margin-left: 0px;
                margin-top: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                background-color: #fff !important;
            }

            .spacer10 {
                clear: both;
                height: 10px;
                display: inline-block;
            }

            .spacer20 {
                clear: both;
                height: 20px;
                display: inline-block;
            }

            .spacer30 {
                clear: both;
                height: 30px;
                display: inline-block;
            }

            .spacer40 {
                clear: both;
                height: 40px;
                display: inline-block;
            }

            .caption {
                color: #888;
            }

            .fl_right {
                float: right;
            }

            .right {
                text-align: right;
            }

            .fl_left {
                float: left;
            }

            .left {
                text-align: left;
            }

            .center {
                float-right: none;
                float-left: none;
                text-align: center;
            }

            .clearfix {
                float-right: none;
                float-left: none;
                clear: both;
            }

            table tbody tr.gr td {
                background: #f9f9f9 !important;
            }

            #body_content {
                padding: 0 15px;
                background-color: #fff !important;
            }
        </style>
    {% endcache %}
</head>
    <body style="background: #fff !important;;width:100%;margin: auto;">
        <header style="background: #fff !important;;padding: 0 15px;">
            <div style="float: right;display: block;">
                <img src="/static/public/images/ico/smiley-kiss.svg" alt="" style="width: 70px;">
            </div>
            <div style="float: left;display: block;">
                <img src="/static/bob_logo.png" alt="" style="width: 250px;">
            </div>
        </header>
        <div class="clearfix" style="float: none;clear: both;"></div>
        <div id="body_content" style="padding: 0 15px;background-color: #fff !important;">
            {% block body %}
            {% endblock body %}
        </div>

    </body>
</html>