{% extends "prints/layout.html" %}
{% block body %}
    <div class="invoice">
        <div class="row">
            <div class="well invoice-payment"
                 style="text-align: right;float: right;  min-height: 20px; padding: 10px; margin-bottom: 10px;display: block;width:30%;">
                <h2>Order: <span class="caption">#{{ order.code }}</span></h2>
                <strong style="display: block;">{{ order.date_created.strftime('%b %d, %Y %H:%M %p') }}</strong>
                <strong style="display: block;">Payment Information</strong>
                <ul class="list-unstyled">
                    <li style="    list-style-type: none; margin: 0; padding: 0;">
                        <strong>{{ order.payment_option.name }}</strong></li>
                    <li style="    list-style-type: none; margin: 0; padding: 0;">
                        <h2>{{ order.payment_status.name }}</h2></li>
                </ul>
                <ul class="list-unstyled">
                    <li style="    list-style-type: none; margin: 0; padding: 0;"><strong>Order Status</strong></li>
                    <li style="    list-style-type: none; margin: 0; padding: 0;"><h3
                            style="margin-top:0px; display: inline-block; padding: 5px 7px; color: #777; border: 1px solid #eee;background: #fff;">
                        <strong class="{{ order.order_status.code }}">{{ order.order_status.name|upper }}</strong></h3>
                    </li>
                </ul>
                {% if order.tracking_code %}
                <ul class="list-unstyled">
                    <li style="    list-style-type: none; margin: 0; padding: 0;"><strong>Tracking Code</strong></li>
                    <li style="    list-style-type: none; margin: 0; padding: 0;"><h1
                            style="font-size:120%;margin-top:0px; display: inline-block; color: #777; background: #fff;">
                        <strong>{{ order.tracking_code }}</strong></h1>
                    </li>
                </ul>
                {% endif %}
            </div>
            <div class="well"
                 style="min-height: 20px; padding: 0px; margin-bottom: 20px;display: block;width: 68%;max-width: 68%;overflow: hidden;">
                <h3 style="margin-bottom: 10px;">
                    Customer Information
                </h3>
                <div class="row">

                    <div class="col-xs-6"
                         style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-bottom: 15px;width: 100%;max-width:100%;display: block;position: relative; min-height: 1px; padding: 0 0 0 5px;">
                        <strong>Billing Address</strong>
                        <ul class="list-unstyled" style="margin: 0;padding: 0; list-style: none;">
                            <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.first_name }} {{ order.last_name }}</li>
                            <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.email }}</li>
                            <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.address_line1 }}, {{ order.city }}</li>
                            <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.address_line2 }}</li>
                            <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.state.name }}, {{ order.country.name }}</li>
                            <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.phone }}</li>
                        </ul>
                    </div>
                    <div class="col-xs-6"
                         style="width: 100%;display: block;position: relative; min-height: 1px; padding: 0 0 0 5px;">
                        {% if order.shipment_name %}
                            <strong>Shipping Address</strong>
                            <ul class="list-unstyled" style="margin: 0;padding: 0; list-style: none;">
                                <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.shipment_name|default("", True) }}</li>
                                <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.shipment_phone|default("", True) }}</li>
                                <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.shipment_address|default("", True) }}, {{ order.shipment_city|default("", True) }}</li>
                                <li style="    list-style-type: none; margin: 0; padding: 0;">{{ order.shipment_state|default("", True) }}, {{ order.shipment_country|default("", True) }}</li>
                                <li style="    list-style-type: none; margin: 0; padding: 0;">
                                    <small><strong>Additional
                                        Info.:</strong>{{ order.shipment_description|default("", True) }}</small>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="clearfix" style="clear: both;float: none;"></div>
                </div>

            </div>
            <div class="clearfix" style="clear: both;float: none;"></div>

        </div>
        <div class="row">
            <div class="col-xs-12" style="width: 100%;    position: relative; min-height: 1px;margin: 20px 0 20px;">
                <table class="table table-striped table-hover"
                       style="display: table;border-color: grey;    width: 100%; margin-bottom: 20px;    max-width: 100%; background-color: transparent;border-collapse: collapse; border-spacing: 0;">
                    <thead>
                    <tr>
                        <th style="text-align: left;padding: 8px;">#</th>
                        <th style="text-align: left;padding: 8px;">Item</th>
                        <th style="text-align: left;padding: 8px;" class="hidden-480">Description</th>
                        <th style="text-align: right;padding: 8px;" class="hidden-480">Quantity</th>
                        <th style="text-align: right;padding: 8px;" class="hidden-480">Unit Cost</th>
                        <th style="text-align: right;padding: 8px;">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in order.entries %}
                        {% if loop.index%2==1 %}
                            {% set odd=True %}
                        {% else %}
                            {% set odd=False %}
                        {% endif %}
                        <tr class=>
                            <td style="{% if odd %}background:#eee;{% endif %}padding: 8px; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #ddd;">
                                {{ loop.index }}
                            </td>
                            <td style="{% if odd %}background:#eee;{% endif %}padding: 8px; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #ddd;">
                                {{ entry.variant.product.name }}
                            </td>
                            <td style="{% if odd %}background:#eee;{% endif %}padding: 8px; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #ddd;">
                                {{ entry.variant.name }}
                            </td>
                            <td style="{% if odd %}background:#eee;{% endif %}padding: 8px; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #ddd;text-align: right;">
                                {{ entry.quantity }}
                            </td>
                            <td style="{% if odd %}background:#eee;{% endif %}padding: 8px; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #ddd;text-align: right;">
                                ₦{{ number_format(entry.price) }}</td>
                            <td style="{% if odd %}background:#eee;{% endif %}padding: 8px; line-height: 1.428571429; vertical-align: top; border-top: 1px solid #ddd;text-align: right;">
                                ₦{{ number_format(entry.total) }}</td>
                        </tr>
                    {% endfor %}
                    <tr style="font-size: 120%;">
                        <td style="border-top:1px solid #ddd;padding:8px;{% if not odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if not odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if not odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if not odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;text-align: right;{% if not odd %}background:#eee;{% endif %}">
                            <strong>Delivery Charge</strong></td>
                        <td style="border-top:1px solid #ddd;padding:8px;text-align: right;{% if not odd %}background:#eee;{% endif %}">
                            ₦{{ order.shipping_fee }}</td>
                    </tr>
                    <tr style="font-size: 120%;">
                        <td style="border-top:1px solid #ddd;padding:8px;{% if not odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if not odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if not odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if not odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;text-align: right;{% if not odd %}background:#eee;{% endif %}">
                            <strong>Discounts</strong></td>
                        <td style="border-top:1px solid #ddd;padding:8px;text-align: right;{% if not odd %}background:#eee;{% endif %}">
                           - ₦{{ number_format(order.discount) }}</td>
                    </tr>
                    <tr style="font-size: 120%;">
                        <td style="border-top:1px solid #ddd;padding:8px;{% if odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;{% if odd %}background:#eee;{% endif %}"></td>
                        <td style="border-top:1px solid #ddd;padding:8px;text-align: right;{% if odd %}background:#eee;{% endif %}">
                            <strong>Total</strong></td>
                        <td style="border-top:1px solid #ddd;padding:8px;text-align: right;{% if odd %}background:#eee;{% endif %}">
                            <strong>₦{{ number_format(order.total) }}</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
