
 <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" bgcolor="#FFFFFF" style="vertical-align: top; background: #ffffff; font-family: Georgia, serif;" valign="top">
    <!-- =============== START HEADER =============== -->
    <tbody>
    <tr>
        <td style="vertical-align: top;" valign="top">
            <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer" style="vertical-align: top;" valign="top">
                <!-- =============== END HEADER =============== -->
                <!-- =============== START BODY =============== -->
                <tbody>
                <tr>
                    <td class="movableContentContainer" style="vertical-align: top;" valign="top">
                        <div class="movableContent" style="margin: 0; padding: 0; border: 0px; padding-top: 0px; position: relative;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                <tbody>
                                <tr>
                                    <td height="10" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                            <tbody>
                                            <tr>
                                                <td valign="top" class="specbundle4" style="vertical-align: top;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top" width="89" class="specbundle4" align="center" style="vertical-align: top;"><img src="imgs/logo.png" alt="Logo" title="Logo" width="89" height="88" data-max-width="100" style="border: 0; display: block; outline: none;">
                                                            </td>
                                                            <td width="40" valign="top" class="spechide" style="vertical-align: top;">&nbsp;
                                                            </td>
                                                            <td valign="top" class="specbundle4" style="vertical-align: top;">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td height="25" class="spechide" style="vertical-align: top;" valign="top"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="font" style="vertical-align: top;" valign="top">
                                                                            <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                                                <div class="contentEditable" align="left" style="margin: 0; padding: 0; color: #555555; font-size: 18px; padding-top: 5px;">
                                                                                    <h1 style="margin: 0; padding: 0; font-weight: normal; line-height: 22px; font-size: 18px; background: transparent; border: none;">
                                                                                        The Cupcake Club
                                                                                    </h1>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="vertical-align: top;" valign="top">
                                                                            &nbsp;
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td valign="top" width="20" class="spechide" style="vertical-align: top;">&nbsp;
                                                </td>
                                                <td valign="middle" style="vertical-align: middle;" width="150" class="left_pad">
                                                    <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                        <div class="contentEditable" style="margin: 0; padding: 0; text-align: right;">
                                                            <a target="_blank" href="[SHOWEMAIL]" class="link1" style="font-size: 14px; color: #D4D4D4; text-decoration: none; font-family: Helvetica Neue;">Open
                                                                in
                                                                your browser</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="movableContent" style="margin: 0; padding: 0; border: 0px; padding-top: 0px; position: relative;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;" valign="top">
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <div class="contentEditableContainer contentImageEditable" style="margin: 0; padding: 0;">
                                            <div class="contentEditable" align="left" style="margin: 0; padding: 0;">
                                                <img class="banner" src="imgs/header.jpg" alt="header" data-default="placeholder" data-max-width="560" width="560" height="242" border="0" style="border: 0; display: block; outline: none;">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bgItem" style="vertical-align: top; background: #f2f2f2;" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;" valign="top">
                                            <tr>
                                                <td height="38" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                            <tr>
                                                <td class="left_pad" style="vertical-align: top;" valign="top">
                                                    <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                        <div class="contentEditable" style="margin: 0; padding: 0;">
                                                            <h2 style="margin: 0; padding: 0; color: #555555; font-weight: normal; color: #555555; font-family: Georgia; font-style: italic; font-size: 38px; text-align: center; line-height: 42px; background: transparent; border: none;">
                                                                The Cupcake club</h2>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                            <tr>
                                                <td height="5" align="center" style="vertical-align: top;" valign="top">
                                                    <hr style="width:117px; height:5px; background-color:#d2176e;border: none;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                            <tr>
                                                <td class="left_pad" style="vertical-align: top;" valign="top">
                                                    <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                        <div class="contentEditable" style="margin: 0; padding: 0; font-size: 16px; color: #555555; text-align: center; line-height: 24px; font-style: italic;">
                                                            <p style="margin: 0; padding: 0;">Share your best cupcake
                                                                recipes with your friends,<br>
                                                                your family and the whole world!</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="38" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                            <tr>
                                                <td height="10" bgcolor="#ffffff" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="movableContent" style="margin: 0; padding: 0; border: 0px; padding-top: 0px; position: relative;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;" valign="top">
                                <tr>
                                    <td width="210" height="10" align="right" style="vertical-align: top;" valign="top">
                                        <img src="imgs/bannerTop.png" width="179" height="10" style="border: 0; display: block; outline: none;"></td>
                                    <td width="350" colspan="2" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                <tr>
                                    <td width="210" class="bgItem" align="right" style="vertical-align: top; background: #f2f2f2;" valign="top">
                                        <table width="155" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                            <tr>
                                                <td bgcolor="#d2176e" height="50" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#d2176e" style="vertical-align: top; padding-right: 15px; padding-left: 15px;" valign="top">
                                                    <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                        <div class="contentEditable" style="margin: 0; padding: 0; font-size: 38px; color: #FFFFFF; text-align: center; line-height: 38px; font-style: italic;">
                                                            <p style="margin: 0; padding: 0; color: #FFFFFF;">Special
                                                                Offer!</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="50" bgcolor="#d2176e" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="vertical-align: top;"><img src="imgs/bannerBottom.png" width="155" height="24" style="border: 0; display: block; outline: none;"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="40" bgcolor="#f2f2f2" style="vertical-align: top;" valign="top"></td>
                                    <td width="260" class="bgItem" style="vertical-align: top; background: #f2f2f2;" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                            <tr>
                                                <td height="30" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: top;" valign="top">
                                                    <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                        <div class="contentEditable" style="margin: 0; padding: 0; color: #555555; font-size: 16px; line-height: 24px; text-align: left; font-family: Helvetica Neue;">
                                                            <p style="margin: 0; padding: 0;"> Thanks for following us!
                                                                <br> Here’s a special <br>
                                                                offer for you!</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="50" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="30" bgcolor="#f2f2f2" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                <tr>
                                    <td height="10" style="vertical-align: top;" valign="top"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="movableContent" style="margin: 0; padding: 0; border: 0px; padding-top: 0px; position: relative;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f2f2f2" style="vertical-align: top;" valign="top">
                                <tbody>
                                <tr>
                                    <td height="10" bgcolor="#ffffff" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                <tr>
                                    <td height="38" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                <tr>
                                    <td height="20" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                <tr>
                                    <td height="5" align="center" style="vertical-align: top;" valign="top">
                                        <hr style="width:117px; height:5px; background-color:#d2176e;border: none;">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="20" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <table style="vertical-align: top;" valign="top">
                                            <tr>
                                                <td width="30" style="vertical-align: top;" valign="top"></td>
                                                <td style="vertical-align: top;" valign="top">
                                                    <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                        <div class="contentEditable" style="margin: 0; padding: 0; font-size: 16px; color: #555555; text-align: center; line-height: 24px; font-style: italic;">
                                                            <p style="margin: 0; padding: 0;">Here are some delightful
                                                                new recipes we’ve made that are
                                                                available now. Our new fruity and sweet cupcakes will
                                                                get your tastebuds going. Get your glasses of milk
                                                                ready.</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="30" style="vertical-align: top;" valign="top"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="movableContent" style="margin: 0; padding: 0; border: 0px; padding-top: 0px; position: relative;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f2f2f2" style="vertical-align: top;" valign="top">
                                <tbody>
                                <tr>
                                    <td height="38" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;" valign="top">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                            <tbody>
                                            <tr>
                                                <td valign="top" width="40" style="vertical-align: top;">&nbsp;</td>
                                                <td style="vertical-align: top;" valign="top">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                        <tbody>
                                                        <tr>
                                                            <td style="vertical-align: top;" valign="top">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="specbundle" align="center" style="vertical-align: top;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentImageEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0;">
                                                                                                <img src="imgs/cupcake1.jpg" data-default="placeholder" data-max-width="150" width="150" height="150" style="border: 0; display: block; outline: none;">
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0; text-align: left; font-size: 16px; color: #555555;">
                                                                                                <br>
                                                                                                <h3 style="margin: 0; padding: 0; font-size: 16px; color: #d2176e; line-height: 0px;">
                                                                                                    Cupcake</h3><br>
                                                                                                <p style="margin: 0; padding: 0; line-height: 18px;">
                                                                                                    Lemons and
                                                                                                    happiness</p><br>
                                                                                                <a target="_blank" href="#" class="link3" style="padding: 5px 10px; border-radius: 6px; background-color: #d2176e; font-size: 13px; text-decoration: none; line-height: 26px; font-family: Helvetica; font-weight: bold; color: #f2f2f2;">Buy
                                                                                                    now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td width="15" valign="top" class="specbundle" style="vertical-align: top;"></td>
                                                                        <td valign="top" class="specbundle" style="vertical-align: top;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentImageEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0;">
                                                                                                <img src="imgs/cupcake1.jpg" data-default="placeholder" data-max-width="150" width="150" height="150" style="border: 0; display: block; outline: none;">
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0; text-align: left; font-size: 16px; color: #555555;">
                                                                                                <br>
                                                                                                <h3 style="margin: 0; padding: 0; font-size: 16px; color: #d2176e; line-height: 0px;">
                                                                                                    Cupcake</h3><br>
                                                                                                <p style="margin: 0; padding: 0; line-height: 18px;">
                                                                                                    Lemons and
                                                                                                    happiness</p><br>
                                                                                                <a target="_blank" href="#" class="link3" style="padding: 5px 10px; border-radius: 6px; background-color: #d2176e; font-size: 13px; text-decoration: none; line-height: 26px; font-family: Helvetica; font-weight: bold; color: #f2f2f2;">Buy
                                                                                                    now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td width="15" valign="top" class="specbundle" style="vertical-align: top;"></td>
                                                                        <td valign="top" class="specbundle" style="vertical-align: top;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentImageEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0;">
                                                                                                <img src="imgs/cupcake1.jpg" data-default="placeholder" data-max-width="150" width="150" height="150" style="border: 0; display: block; outline: none;">
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0; text-align: left; font-size: 16px; color: #555555;">
                                                                                                <br>
                                                                                                <h3 style="margin: 0; padding: 0; font-size: 16px; color: #d2176e; line-height: 0px;">
                                                                                                    Cupcake</h3><br>
                                                                                                <p style="margin: 0; padding: 0; line-height: 18px;">
                                                                                                    Lemons and
                                                                                                    happiness</p><br>
                                                                                                <a target="_blank" href="#" class="link3" style="padding: 5px 10px; border-radius: 6px; background-color: #d2176e; font-size: 13px; text-decoration: none; line-height: 26px; font-family: Helvetica; font-weight: bold; color: #f2f2f2;">Buy
                                                                                                    now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" style="vertical-align: top;" valign="top"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: top;" valign="top">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td valign="top" class="specbundle" align="center" style="vertical-align: top;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentImageEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0;">
                                                                                                <img src="imgs/cupcake1.jpg" data-default="placeholder" data-max-width="150" width="150" height="150" style="border: 0; display: block; outline: none;">
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center" style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0; text-align: left; font-size: 16px; color: #555555;">
                                                                                                <br>
                                                                                                <h3 style="margin: 0; padding: 0; font-size: 16px; color: #d2176e; line-height: 0px;">
                                                                                                    Cupcake</h3><br>
                                                                                                <p style="margin: 0; padding: 0; line-height: 18px;">
                                                                                                    Lemons and
                                                                                                    happiness</p><br>
                                                                                                <a target="_blank" href="#" class="link3" style="padding: 5px 10px; border-radius: 6px; background-color: #d2176e; font-size: 13px; text-decoration: none; line-height: 26px; font-family: Helvetica; font-weight: bold; color: #f2f2f2;">Buy
                                                                                                    now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td width="15" valign="top" class="specbundle" style="vertical-align: top;"></td>
                                                                        <td valign="top" class="specbundle" style="vertical-align: top;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentImageEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0;">
                                                                                                <img src="imgs/cupcake1.jpg" data-default="placeholder" data-max-width="150" width="150" height="150" style="border: 0; display: block; outline: none;">
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0; text-align: left; font-size: 16px; color: #555555;">
                                                                                                <br>
                                                                                                <h3 style="margin: 0; padding: 0; font-size: 16px; color: #d2176e; line-height: 0px;">
                                                                                                    Cupcake</h3><br>
                                                                                                <p style="margin: 0; padding: 0; line-height: 18px;">
                                                                                                    Lemons and
                                                                                                    happiness</p><br>
                                                                                                <a target="_blank" href="#" class="link3" style="padding: 5px 10px; border-radius: 6px; background-color: #d2176e; font-size: 13px; text-decoration: none; line-height: 26px; font-family: Helvetica; font-weight: bold; color: #f2f2f2;">Buy
                                                                                                    now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td width="15" valign="top" class="specbundle" style="vertical-align: top;"></td>
                                                                        <td valign="top" class="specbundle" style="vertical-align: top;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="vertical-align: top;" valign="top">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentImageEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0;">
                                                                                                <img src="imgs/cupcake1.jpg" data-default="placeholder" data-max-width="150" width="150" height="150" style="border: 0; display: block; outline: none;">
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td style="vertical-align: top;" valign="top">
                                                                                        <div class="contentEditableContainer contentTextEditable" style="margin: 0; padding: 0;">
                                                                                            <div class="contentEditable" style="margin: 0; padding: 0; text-align: left; font-size: 16px; color: #555555;">
                                                                                                <br>
                                                                                                <h3 style="margin: 0; padding: 0; font-size: 16px; color: #d2176e; line-height: 0px;">
                                                                                                    Cupcake</h3><br>
                                                                                                <p style="margin: 0; padding: 0; line-height: 18px;">
                                                                                                    Lemons and
                                                                                                    happiness</p><br>
                                                                                                <a target="_blank" href="#" class="link3" style="padding: 5px 10px; border-radius: 6px; background-color: #d2176e; font-size: 13px; text-decoration: none; line-height: 26px; font-family: Helvetica; font-weight: bold; color: #f2f2f2;">Buy
                                                                                                    now</a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="38" style="vertical-align: top;" valign="top">
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td valign="top" width="40" style="vertical-align: top;">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10" bgcolor="#ffffff" style="vertical-align: top;" valign="top"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>


                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td height="20" style="vertical-align: top;" valign="top">&nbsp;</td>
    </tr>
    </tbody>
</table>
