<table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td><!-- Header Top Start -->
            <table style="border-collapse: collapse;" border="0" width="600" cellspacing="0" cellpadding="0"
                   align="center">
                <tbody>
                <tr>
                    <td>
                        <table style="border-collapse: collapse;" border="0" width="600" cellspacing="0" cellpadding="0"
                               align="center">
                            <tbody>
                            <tr>
                                <td align="left" bgcolor="#302e28"><!-- Space -->
                                    <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                           cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="10"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table align="center">
                                        <tbody>
                                        <tr>
                                            <td width="22"><img
                                                    src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509792743/utility/marker-icon-white.png"
                                                    alt="location" width="15" height="15"/></td>
                                            <td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                62, Old Yb Rd., Yaba
                                            </td>
                                            <td width="22"></td>
                                            <td width="22"><img
                                                    src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509792743/utility/phone-icon-white.png"
                                                    alt="location" width="15" height="15"/></td>
                                            <td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                +234 702 638 7650
                                            </td>
                                            <td width="22"></td>
                                            <td width="22"><img
                                                    src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509792743/utility/mail-icon-white.png"
                                                    alt="location" width="15" height="15"/></td>
                                            <td>
                                                <a style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration: none;"
                                                   href="mailto:info@buyorbid.com.ng">info@buyorbidng.com</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Space -->
                                    <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                           cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="10"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Header Top End --> <!-- Header Start -->
            <table style="border-collapse: collapse;" border="0" width="600" cellspacing="0" cellpadding="0"
                   align="center" bgcolor="#fbfbfb">
                <tbody>
                <tr>
                    <td style="padding: 15px 0 0 0;">
                        <table style="border-collapse: collapse;" border="0" width="580" cellspacing="0" cellpadding="0"
                               align="center">
                            <tbody>
                            <tr>
                                <td>
                                    <table style="border-collapse: collapse;" border="0" width="200" cellspacing="0"
                                           cellpadding="0" align="left"><!-- logo -->
                                        <tbody>
                                        <tr>
                                            <td align="left"><a href="../../../"> <img
                                                    src="http://res.cloudinary.com/rusty-x/image/upload/v1506268703/SB2017-09-24%2016:58:21.678152.png"
                                                    alt="Company Logo" width="160" height="48"/> </a></td>
                                        </tr>
                                        <!-- company slogan -->
                                        <tr>
                                            <td style="font-size: 12px; line-height: 18px; font-family: helvetica, Arial, sans-serif; color: #999999;"
                                                align="left" width="100%">Smartest Shopping, Surely!
                                            </td>
                                        </tr>
                                        <!-- Space -->
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="15"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table style="border-collapse: collapse;" border="0" width="370" cellspacing="0"
                                           cellpadding="0" align="left">
                                        <tbody>
                                        <tr>
                                            <td style="text-align: right; vertical-align: middle;" height="75"><a
                                                    style="font-family: helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;padding: 0 8px;"
                                                    href="http://buyorbidng.com/products/">Products</a><a
                                                    style="font-family: helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;padding: 0 8px;"
                                                    href="#">    </a><a
                                                    style="font-family: helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;"
                                                    href="http://buyorbidng.com/contact-us/">Contact Us</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Header End --> {% block tablebody %} {% endblock tablebody %} <!-- Footer Start -->
            <table style="border-collapse: collapse;" border="0" width="600" cellspacing="0" cellpadding="0"
                   align="center">
                <tbody>
                <tr>
                    <td>
                        <table style="border-collapse: collapse;" border="0" width="580" cellspacing="0" cellpadding="0"
                               align="center" bgcolor="#ffffff">
                            <tbody>
                            <tr>
                                <td><!-- Space -->
                                    <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                           cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="30"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table style="border-collapse: collapse;" border="0" width="540" cellspacing="0"
                                           cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="width: 572px;"><br/>
                                                <table style="border-collapse: collapse; height: 173px;" border="0"
                                                       width="245" cellspacing="0" cellpadding="0" align="left">
                                                    <tbody>
                                                    <tr>
                                                        <td><a href="../../../"> <img
                                                                src="http://res.cloudinary.com/rusty-x/image/upload/v1506268568/SB2017-09-24%2016:55:26.885147.png"
                                                                alt="Logo" width="189" height="57"/> </a></td>
                                                    </tr>
                                                    <!-- Space -->
                                                    <tr>
                                                        <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
                                                            Smartest Shopping, Surely!
                                                        </td>
                                                    </tr>
                                                    <!-- Space -->
                                                    <tr>
                                                        <td style="font-size: 0; line-height: 0;" height="15">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table style="border-collapse: collapse;" border="0"
                                                                   width="45" cellspacing="0" cellpadding="0"
                                                                   align="left">
                                                                <tbody>
                                                                <tr>
                                                                    <td><img
                                                                            src="https://cloudinary.com/console/lui/media_library#/dialog/image/upload/utility/facebook-icon"
                                                                            alt=""/><img
                                                                            src="https://cloudinary.com/console/lui/media_library#/dialog/image/upload/utility/facebook-icon"
                                                                            alt=""/><a
                                                                            href="https://www.facebook.com/buyorbidng/"><img
                                                                            src="http://res.cloudinary.com/rusty-x/image/upload/v1509792742/utility/facebook-icon.png"
                                                                            alt="facebook" width="40" height="40"/></a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style="border-collapse: collapse;" border="0"
                                                                   width="45" cellspacing="0" cellpadding="0"
                                                                   align="left">
                                                                <tbody>
                                                                <tr>
                                                                    <td><a href="https://twitter.com/buyorbid"> <img
                                                                            src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509792742/utility/twitter-icon.png"
                                                                            alt="Twitter" width="40" height="40"/> </a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style="border-collapse: collapse;" border="0"
                                                                   width="45" cellspacing="0" cellpadding="0"
                                                                   align="left">
                                                                <tbody>
                                                                <tr>
                                                                    <td><a href="https://www.instagram.com/buyorbidng/">
                                                                        <img src="http://res.cloudinary.com/rusty-x/image/upload/v1510410348/utility/instagram.png"
                                                                             alt="Instagram" width="40" height="40"/>
                                                                    </a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <table style="border-collapse: collapse;" border="0"
                                                                   width="45" cellspacing="0" cellpadding="0"
                                                                   align="left">
                                                                <tbody>
                                                                <tr>
                                                                    <td><a href="whatsapp://send?text=Hello BuyOrBid!&phone=+2347026387650">
                                                                        <img src="http://res.cloudinary.com/rusty-x/image/upload/v1510941123/WhatsApp_Image_2017-11-17_at_18.49.54_yxvrt2.jpg"
                                                                             alt="Instagram" width="40" height="40"/>
                                                                    </a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!-- Gutter 20px --><!-- Second Column -->
                                                <table style="height: 171px; border-collapse: collapse; float: right;"
                                                       border="0" width="196" cellspacing="0" cellpadding="0"
                                                       align="left"><!-- Space -->
                                                    <tbody>
                                                    <tr style="height: 57px;">
                                                        <td style="font-size: 0px; line-height: 0; width: 26px; height: 57px;"
                                                            height="57">
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 19px;">
                                                        <td style="width: 26px; height: 19px;"><img
                                                                src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509792743/utility/marker-icon.png"
                                                                alt="location" width="15" height="15"/></td>
                                                        <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; width: 167px; height: 19px;">
                                                            62, Old Yb Rd., Yaba
                                                        </td>
                                                    </tr>
                                                    <!-- Space -->
                                                    <tr style="height: 10px;">
                                                        <td style="font-size: 0px; line-height: 0; width: 26px; height: 10px;"
                                                            height="10">
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 19px;">
                                                        <td style="width: 26px; height: 19px;"><img
                                                                src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509792743/utility/phone-icon.png"
                                                                alt="location" width="15" height="15"/></td>
                                                        <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; width: 167px; height: 19px;">
                                                            +234 905 937 8437
                                                        </td>
                                                    </tr>
                                                    <!-- Space -->
                                                    <tr style="height: 10px;">
                                                        <td style="font-size: 0px; line-height: 0; width: 26px; height: 10px;"
                                                            height="10">
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 19px;">
                                                        <td style="width: 26px; height: 19px;"><img
                                                                src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509792742/utility/fax-icon.png"
                                                                alt="location" width="15" height="15"/></td>
                                                        <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; width: 167px; height: 19px;">
                                                            +234 702 638 7650
                                                        </td>
                                                    </tr>
                                                    <!-- Space -->
                                                    <tr style="height: 10px;">
                                                        <td style="font-size: 0px; line-height: 0; width: 26px; height: 10px;"
                                                            height="10">
                                                        </td>
                                                    </tr>
                                                    <tr style="height: 19px;">
                                                        <td style="width: 26px; height: 19px;"><img
                                                                src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509792743/utility/mail-icon.png"
                                                                alt="location" width="15" height="15"/></td>
                                                        <td style="width: 167px; height: 19px;"><a
                                                                style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration: none;"
                                                                href="mailto:info@buyorbid.com.ng">info@buyorbidng.com</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Space -->
                                    <table style="border-collapse: collapse; height: 22px;" border="0" width="580"
                                           cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="30"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Footer End --> <!-- Subfooter Start -->
            <table style="border-collapse: collapse;" border="0" width="600" cellspacing="0" cellpadding="0"
                   align="center">
                <tbody>
                <tr>
                    <td>
                        <table style="border-collapse: collapse;" border="0" width="580" cellspacing="0" cellpadding="0"
                               align="center" bgcolor="#f5f5f5">
                            <tbody>
                            <tr>
                                <td><!-- Space -->
                                    <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                           cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" bgcolor="#eaeaea" height="1">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="20"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table style="border-collapse: collapse;" border="0" width="540" cellspacing="0"
                                           cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;"
                                                align="center">Copyright &copy; 2017 <a
                                                    style="color: #ebb128; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration: none;"
                                                    href="buyorbidng.com">buyorbid</a>. All Rights Reserved / <a
                                                    style="color: #ebb128; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration: none;"
                                                    href="#"> Unsubscribe</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!-- Space -->
                                    <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                           cellpadding="0" align="center">
                                        <tbody>
                                        <tr>
                                            <td style="font-size: 0; line-height: 0;" height="20"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Subfooter End --></td>
    </tr>
    </tbody>
</table>
<br/><br/>