{% extends "email.layout" %} {% block tablebody %} <!-- Section Start -->
    <table style="border-collapse: collapse; height: 269px; width: 611px;" border="0" width="600" cellspacing="0"
           cellpadding="0" align="center">
        <tbody>
        <tr style="height: 250px;">
            <td style="height: 109px; width: 609px;"><br/>
                <table style="width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="width: 100%; text-align: center;">
                            <h1><strong>New Message</strong></h1>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="height: 57px; width: 578px; border-collapse: collapse; margin-left: auto; margin-right: auto;"
                       border="0">
                    <tbody>
                    <tr style="height: 54px;">
                        <td style="width: 574px; height: 54px;">Dear {{ full_name }},<br/>You have a new message
                            from {{ sender }}</td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table style="height: 71px; border-collapse: collapse; width: 518px; table-layout: fixed; background-color: #f6f6f6; margin-left: auto; margin-right: auto;"
                       border="0" width="518" cellspacing="0" cellpadding="0" align="center" bgcolor="#fbfbfb">
                    <tbody>
                    <tr style="height: 10px;">
                        <td style="width: 516px; word-wrap: break-word; height: 10px;">&nbsp;</td>
                    </tr>
                    <tr style="height: 51px;">
                        <td style="width: 516px; word-wrap: break-word; height: 51px;">
                            <table style="height: 33px; width: 507px; border-collapse: collapse; table-layout: fixed; border-style: none; margin-left: auto; margin-right: auto;"
                                   border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr style="height: 18px;">
                                    <td style="width: 465px; height: 30px; word-wrap: break-word;">
                                        <strong>{{ sender }}</strong>: {{ body }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr style="height: 10px;">
                        <td style="width: 516px; word-wrap: break-word; height: 10px;">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
                {% if user %}<br/>
                    <table style="height: 27px; width: 66px; border-collapse: collapse; margin-left: auto; margin-right: auto;"
                           border="0" cellspacing="1" cellpadding="1">
                        <tbody>
                        <tr style="background-color: #ebb128; text-align: center;">
                            <td style="width: 62px;"><strong>REPLY</strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <table style="height: 22px; width: 572px; border-collapse: collapse; margin-left: auto; margin-right: auto;"
                           border="0" cellspacing="1" cellpadding="1">
                        <tbody>
                        <tr>
                            <td style="width: 568px;">Please do not reply directly to this email. Click the button above
                                or use the following link:<br
                                        style="color: #666666; font-family: arial; font-size: 12px; background-color: #ffffff;"/>
                                <div style="word-wrap: break-word; color: #666666; font-family: arial; font-size: 12px; background-color: #ffffff;">{{ link }}</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="height: 18px; width: 609px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 609px; text-align: right; height: 18px;">&nbsp;</td>
        </tr>
        </tbody>
    </table>
{% endblock %}