{% extends "email.layout" %} {% block tablebody %} <!-- Section Start -->
    <table style="border-collapse: collapse; height: 269px; width: 611px;" border="0" width="600" cellspacing="0"
           cellpadding="0" align="center">
        <tbody>
        <tr style="height: 250px;">
            <td style="height: 250px; width: 609px;"><br/>
                <table style="width: 100%; border-collapse: collapse;" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td style="width: 100%; text-align: center;">
                            <h1><strong>Order [{{ code }}] Successful!</strong></h1>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="height: 57px; width: 578px; border-collapse: collapse; margin-left: auto; margin-right: auto;"
                       border="0">
                    <tbody>
                    <tr style="height: 54px;">
                        <td style="width: 574px; height: 54px;">Hi {{ full_name }},<br/>Your order has been received and
                            will be processed shortly. Below is a brief overview of your request:
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <table style="border-collapse: collapse; height: 257px;" border="0" width="601" cellspacing="0"
                       cellpadding="0" align="center" bgcolor="#fbfbfb">
                    <tbody>
                    <tr>
                        <td style="width: 599px;">
                            <table style="height: 126px; width: 580px; border-collapse: collapse; margin-left: auto; margin-right: auto;"
                                   border="0" cellspacing="1" cellpadding="1">
                                <tbody>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;"><strong>Delivery Information</strong></td>
                                    <td style="width: 299px; text-align: right; height: 18px;">{{ date }}</td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ shipment_name }}</td>
                                    <td style="width: 299px; text-align: right; height: 18px;">{{ time }}</td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ shipment_phone }}</td>
                                    <td style="width: 299px; height: 18px; text-align: right;"> </td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ shipment_address }}</td>
                                    <td style="width: 299px; height: 18px; text-align: right;"> </td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ shipment_state }}</td>
                                    <td style="width: 299px; height: 18px; text-align: right;"> </td>
                                </tr>
                                <tr style="height: 18px;">
                                    <td style="width: 274px; height: 18px;">{{ shipment_country }}</td>
                                    <td style="width: 299px; height: 18px; text-align: right;"> </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/>
                            <table style="border-collapse: collapse; height: 210px;" border="0" width="601"
                                   cellspacing="0" cellpadding="0" align="center">
                                <tbody>
                                <tr style="height: 212px;">
                                    <td style="width: 599px; height: 212px;"><br/>
                                        <table style="width: 100%; border-collapse: collapse; background-color: #ddd; border-style: hidden; margin-left: auto; margin-right: auto;"
                                               border="0">
                                            <thead>
                                            <tr style="border-style: none; text-align: center;">
                                                <td style="width: 36.8181%; height: 18px;"><strong>Product Name</strong>
                                                </td>
                                                <td style="width: 20.2619%; height: 18px;"><strong>Image</strong></td>
                                                <td style="width: 18.515%; height: 18px;"><strong>Price</strong></td>
                                                <td style="width: 6.56806%; height: 18px;"><strong>Qty</strong></td>
                                                <td style="width: 17.8369%; height: 18px;"><strong>Total</strong></td>
                                            </tr>
                                            </thead>
                                        </table>
                                        {% for i in order_entry %}<br/>
                                            <table style="height: 117px; width: 594px; border-collapse: collapse; border-style: none;"
                                                   border="0">
                                                <tbody>
                                                <tr style="border-style: none; text-align: center;">
                                                    <td style="width: 221px; height: 114px;">
                                                        <strong>{{ i.get('name') }}</strong><br/>{{ i.get('var') }}</td>
                                                    <td style="width: 105px; height: 114px;"><img
                                                            src="{{ i.get('image_url') }}" alt="" width="75"
                                                            height="75"/></td>
                                                    <td style="width: 109px; height: 114px;">{{ i.get('w_price') }}</td>
                                                    <td style="width: 32px; height: 114px;">{{ i.get( 'qty' ) }}</td>
                                                    <td style="width: 121px; height: 114px; text-align: right;">{{ i.get('w_total') }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <br/>{% endfor %}<br/>
                                        <table style="width: 100%; border-collapse: collapse;" border="0">
                                            <tbody>
                                            <tr style="text-align: right;">
                                                <td style="width: 78.8815%;"><strong>Discount:</strong></td>
                                                <td style="width: 21.1185%;">- N{{ discount }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <table style="height: 18px; width: 594px; border-collapse: collapse;" border="0"
                                               cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr style="height: 18px;">
                                                <td style="width: 460px; text-align: right; height: 18px;"><strong>Delivery
                                                    Charge</strong>:
                                                </td>
                                                <td style="width: 115px; text-align: right; height: 18px;">
                                                    +N{{ shipping_fee }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <table style="height: 21px; width: 594px; border-collapse: collapse;" border="0"
                                               cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr style="height: 18px;">
                                                <td style="width: 474px; height: 18px; text-align: right;">
                                                    <strong>Total</strong>:
                                                </td>
                                                <td style="width: 116px; height: 18px; text-align: right;">
                                                    N{{ w_total }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td> </td>
        </tr>
        <tr>
            <td style="width: 609px; text-align: right;"> </td>
        </tr>
        </tbody>
    </table>
{% endblock %}