<p>{% extends "email.layout" %} {% block tablebody %}</p>
    <!-- Section Start -->
    <table style="border-collapse: collapse;" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
        <tbody>
        <tr>
            <td>
                <table style="border-collapse: collapse;" border="0" width="580" cellspacing="0" cellpadding="0"
                       align="center" bgcolor="#fbfbfb">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                   cellpadding="0" align="center"><!-- Border -->
                                <tbody>
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" bgcolor="#f5f5f5" height="1">&nbsp;</td>
                                </tr>
                                <!-- Space -->
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                            <table style="border-collapse: collapse;" border="0" width="480" cellspacing="0"
                                   cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 24px; line-height: 34px; font-family: helvetica, Arial, sans-serif; color: #343434; text-align: center;"
                                                    align="left" width="100%">Password Reset Successful
                                                </td>
                                            </tr>
                                            <!-- Space -->
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td align="center"><img
                                                        src="http://res.cloudinary.com/rusty-x/image/upload/v1512921532/change-password_owbdx2.png"
                                                        alt="password reset" width="140" height="140"/></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 16px; line-height: 22px; font-family: helvetica, Arial, sans-serif; color: #777777; text-align: center;"
                                                    align="left" width="100%">
                                                    <p>Weldone {{ name }},<br/>your password has been successfully
                                                        reset. You can continue to experience the smartest shopping now.<br/><br/>If
                                                        you have been sent this mail in error or have not initated a
                                                        password reset please reply to this mail to helps us halt a
                                                        potential security breach.</p>
                                                </td>
                                            </tr>
                                            <!-- Space -->
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px; line-height: 18px; font-family: helvetica, Arial, sans-serif; color: #777777; text-align: center;"
                                                    align="left" width="100%">&nbsp;
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br/><!-- Space -->
                            <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                   cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" height="40">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Section End -->
    <p>{% endblock %}</p>