<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Buy Or Bid | Email Template</title>
        <meta name="description" content="BuyOrBid Email">
        <meta name="author" content="BuyOrBid">

        <link rel="shortcut icon" href="{{ url_for('static', filename='bob_fav.png') }}">
	</head>
	<body style="margin: 0; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td>

					<!-- Header Top Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
									<tr>
										<td align="left"  bgcolor="#302e28">
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
											</table>
											<table align="center">
												<tr>
													<td width="22">
														<img src="/static/emails/marker-icon-white.png" alt="location" />
													</td>
													<td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">Old Yb Rd., Yaba</td>
													<td width="22"></td>
													<td width="22">
														<img src="/static/emails/phone-icon-white.png" alt="location" />
													</td>
													<td style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+234&nbsp;704&nbsp;639&nbsp;9814</td>
													<td width="22"></td>
													<td width="22">
														<img src="/static/emails/mail-icon-white.png" alt="location" />
													</td>
													<td>
														<a style="color: #fff; font-size: 12px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;" href="mailto:info@buyorbid.com.ng">info@buyorbid.com.ng</a>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Header Top End -->

					<!-- Header Start -->
					<table align="center" border="0" bgcolor="#fbfbfb" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td style="padding:15px 0 0 0;">
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="left" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse: collapse;">
												<!-- logo -->
												<tr>
													<td align="left">
														<a href="/">
															<img src="/static/emails/bob_logo.png" alt="Company Logo" style="display: block;width:auto;max-width: 150px;"/>
														</a>
													</td>
												</tr>
												<!-- company slogan -->
												<tr>
													<td width="100%" align="left" style="font-size: 12px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#999999;">	
														Buy and Bid Noniiiiiii.........
													</td>
												</tr>									
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
											</table>
											<table align="left" border="0" cellpadding="0" cellspacing="0" width="370" style="border-collapse: collapse;">
												<tr>
													<td  height="75" style="text-align: right; vertical-align: middle;">
														<a href="#" style="font-family:helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;">Promo</a> &nbsp;&nbsp;
														<a href="#" style="font-family:helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;">Products</a> &nbsp;&nbsp;
														<a href="#" style="font-family:helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;">Auctions</a> &nbsp;&nbsp;
														<a href="#" style="font-family:helvetica, Arial, sans-serif; color: #333333; font-size: 16px; text-decoration: none;">Contact</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Header End -->

					<!-- Banner Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td align="center" bgcolor="#ffffff" >
														<a href="#">
															<img src="/static/emails/banner.png" width="580" alt="Section one image" style="display: block;"/>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Banner End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<!-- Space -->
									<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
									<tr>
										<td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;">
											Core <strong>Features</strong>
										</td>
									</tr>
									<!-- Space -->
									<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
								</table>
								<!-- First Row -->
								<table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- first column -->
											<table align="left" bgcolor="#fbfbfb" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
												<tr>
													<td>
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#">
																		<img src="/static/emails/feature-icon-1.png" width="60" alt="Feature" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #333333; line-height: 24px; text-decoration: none;">Clean Code &amp; Design</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px; text-align: center;">
																	Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center">
																				<a href="#" style="color: #ebb128; font-size: 15px; line-height: 15px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- second column -->
											<table align="left" bgcolor="#fbfbfb" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
												<tr>
													<td>
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#">
																		<img src="/static/emails/feature-icon-2.png" width="60" alt="Feature" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #333333; line-height: 24px; text-decoration: none;">Extremely Flexible</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px; text-align: center;">
																	Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center">
																				<a href="#" style="color: #ebb128; font-size: 15px; line-height: 15px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- Second Row -->
								<table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- first column -->
											<table align="left" bgcolor="#fbfbfb" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
												<tr>
													<td>
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#">
																		<img src="/static/emails/feature-icon-3.png" width="60" alt="Feature" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #333333; line-height: 24px; text-decoration: none;">Latest Technologies</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px; text-align: center;">
																	Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center">
																				<a href="#" style="color: #ebb128; font-size: 15px; line-height: 15px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="40">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- second column -->
											<table align="left" bgcolor="#fbfbfb" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
												<tr>
													<td>
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#">
																		<img src="/static/emails/feature-icon-4.png" width="60" alt="Feature" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #333333; line-height: 24px; text-decoration: none;">Packed Full of Features</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px; text-align: center;">
																	Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center">
																				<a href="#" style="color: #ebb128; font-size: 15px; line-height: 15px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="40">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<!-- Border -->
									<tr><td bgcolor="#f5f5f5" style="font-size: 0; line-height: 0;" height="1">&nbsp;</td></tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Section End -->

					<!-- Banner Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td>
														<!-- Space -->
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
														<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
															<tr>
																<td>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
																		<tr>
																			<td width="100%" align="left" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;">
																				Multipurpose HTML5 template
																			</td>
																		</tr>
																	</table>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="75%" style="border-collapse: collapse;">
																		<!-- Space -->
																		<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
																		<tr>
																			<td width="100%" align="left" style="font-size: 15px; line-height: 22px; font-family:helvetica, Arial, sans-serif; color:#777777;">
																				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Abinas aut vitae tempore similique cupiditate, atque ad reiciendis asperiores maiores dolores necessit...
																			</td>
																		</tr>
																	</table>
																	<table align="right" border="0" cellpadding="0" cellspacing="0" width="22%" style="border-collapse: collapse;">
																		<!-- Space -->
																		<tr><td style="font-size: 0; line-height: 0;" height="25">&nbsp;</td></tr>
																		<tr>
																			<td width="100%" align="center" style="padding:10px 12px 10px 12px; text-align: center;border-radius:4px;" bgcolor="#ebb128">
																				<a href="#" style="color: #fff; font-size: 14px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!-- Space -->
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Banner End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<!-- First Row -->
								<table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- first column -->
											<table align="left" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
												<tr>
													<td>
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/service-1.jpg" width="290" alt="Service 1" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 24px; color: #343434; line-height: 26px; text-decoration: none;">Service 1</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px; text-align: center;">
																	Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#373737">
																				<a href="#" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- second column -->
											<table align="left" bgcolor="#373737" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
												<tr>
													<td>
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/service-2.jpg" width="290" alt="Service 2" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 24px; color: #ffffff; line-height: 26px; text-decoration: none;">Service 2</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #ffffff; line-height: 21px; text-align: center;">
																	Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#ebb128">
																				<a href="#" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								<!-- Second Row -->
								<table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- first column -->
											<table align="left" bgcolor="#373737" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
												<tr>
													<td>
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/service-3.jpg" width="290" alt="Service 3" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 24px; color: #ffffff; line-height: 26px; text-decoration: none;">Service 3</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #ffffff; line-height: 21px; text-align: center;">
																	Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#ebb128">
																				<a href="#" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- second column -->
											<table align="left" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
												<tr>
													<td>
														<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/service-4.jpg" width="290" alt="Service 4" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
															<tr>
																<td align="center">
																	<a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 24px; color: #343434; line-height: 26px; text-decoration: none;">Service 4</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px; text-align: center;">
																	Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#373737">
																				<a href="#" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- Section End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="center" border="0" cellpadding="0" width="100%" cellspacing="0" style="border-collapse: collapse;">
												<!-- Border -->
												<tr><td bgcolor="#f5f5f5" style="font-size: 0; line-height: 0;" height="1">&nbsp;</td></tr>
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
											<table align="center" border="0" cellpadding="0" width="480" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
															<tr>
																<td width="100%" align="left" style="font-size: 24px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434; text-align: center;">
																	Just Perfect!
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
														</table>
														<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
															<tr>
																<td align="center">
																	<img src="/static/emails/testimonial.png" width="120" alt="Testimonial Image" style="display: block;"/>
																</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="3%" style="border-collapse: collapse;">
															<tr>
																<td>
																	&nbsp;
																</td>
															</tr>
														</table>
														<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
															<tr>
																<td width="100%" align="left" style="font-size: 16px; line-height: 22px; font-family:helvetica, Arial, sans-serif; color:#777777; text-align: center;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Abinas aut vitae tempore similique cupiditate, atque ad reiciendis asperiores necessit...
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td width="100%" align="left" style="font-size: 12px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#777777; text-align: center;">
																	- Jane Doe
																</td>
															</tr>
															<tr>
																<td width="100%" align="left" style="font-size: 12px; line-height: 18px; font-family:helvetica, Arial, sans-serif; color:#777777; font-weight:bold; text-align: center;">
																	By Company
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>.......
											<!-- Space -->
											<table align="center" border="0" cellpadding="0" width="100%" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="40">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Section End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table align="center" bgcolor="#ebb128" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<!-- Border -->
												<tr><td bgcolor="#ebb128" style="font-size: 0; line-height: 0;" height="1">&nbsp;</td></tr>
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="400" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="3">&nbsp;</td></tr>
															<tr>
																<td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#ffffff;">
																	Waste no More Time
																</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="140" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="0">&nbsp;</td></tr>
															<tr>
																<td width="100%" align="center" style="padding:12px 12px 12px 12px; text-align: center;border-radius:4px;" bgcolor="#f1f1f1">
																	<a href="#" style="color: #000000; font-size: 16px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Purchase</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Section End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#ffffff" width="580" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="550" style="border-collapse: collapse;">
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
												<tr>
													<td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;">
														Our <strong>Team</strong>
													</td>
												</tr>
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<!-- First Row -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="550" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" width="180" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/team-member-1.png" width="180" alt="Team Member 1" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="350" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="#">Jane Doe</a>
																</td>
															</tr>
															<tr>
																<td style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 12px; color: #999999; line-height: 18px;">
																	PROJECT MANAGER
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quisquam amet vat voluptates accusamus.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="80" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td style="color: #777777;font-family: helvetica, Arial, sans-serif; font-size:15px;">
																				email:&nbsp;<a style="font-family: helvetica, Arial, sans-serif; font-size: 15px;text-decoration:none; line-height: 14px; color: #ebb128;" href="mailto:janedoe@theproject.com">janedoe@theproject.com</a>
																			</td>
																		</tr>
																		<!-- Space -->
																		<tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
																		<tr>
																			<td style="font-family: helvetica, Arial, sans-serif; font-size: 15px; line-height: 14px; color: #777777;">
																				tel:&nbsp;+12&nbsp;3123&nbsp;1123&nbsp;123
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="550" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#f5f5f5" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<!-- Second Row -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="550" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" width="350" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="#">John Doe</a>
																</td>
															</tr>
															<tr>
																<td style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 12px; color: #999999; line-height: 18px;">
																	CTO
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quisquam amet vat voluptates accusamus.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="80" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td style="color: #777777;font-family: helvetica, Arial, sans-serif; font-size:15px;">
																				email:&nbsp;<a style="font-family: helvetica, Arial, sans-serif; font-size: 15px;text-decoration:none; line-height: 14px; color: #ebb128;" href="mailto:johndoe@theproject.com">johndoe@theproject.com</a>
																			</td>
																		</tr>
																		<!-- Space -->
																		<tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
																		<tr>
																			<td style="font-family: helvetica, Arial, sans-serif; font-size: 15px; line-height: 14px; color: #777777;">
																				tel:&nbsp;+12&nbsp;3123&nbsp;1123&nbsp;123
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="180" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/team-member-2.png" width="180" alt="Team Member 2" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="550" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#f5f5f5" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<!-- Third Row -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="550" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" width="180" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/team-member-3.png" width="180" alt="Team Member 3" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="350" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="#">Anne Smith</a>
																</td>
															</tr>
															<tr>
																<td style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 12px; color: #999999; line-height: 18px;">
																	DEVELOPER
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quisquam amet vat voluptates accusamus.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="80" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td style="color: #777777;font-family: helvetica, Arial, sans-serif; font-size:15px;">
																				email:&nbsp;<a style="font-family: helvetica, Arial, sans-serif; font-size: 15px;text-decoration:none; line-height: 14px; color: #ebb128;" href="mailto:annesmith@theproject.com">annesmith@theproject.com</a>
																			</td>
																		</tr>
																		<!-- Space -->
																		<tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
																		<tr>
																			<td style="font-family: helvetica, Arial, sans-serif; font-size: 15px; line-height: 14px; color: #777777;">
																				tel:&nbsp;+12&nbsp;3123&nbsp;1123&nbsp;123
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="550" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#f5f5f5" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<!-- Fourth Row -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="550" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" width="350" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="#">Margaret Manson</a>
																</td>
															</tr>
															<tr>
																<td style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 12px; color: #999999; line-height: 18px;">
																	WEB DESINGER
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quisquam amet vat voluptates accusamus.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="80" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td style="color: #777777;font-family: helvetica, Arial, sans-serif; font-size:15px;">
																				email:&nbsp;<a style="font-family: helvetica, Arial, sans-serif; font-size: 15px;text-decoration:none; line-height: 14px; color: #ebb128;" href="mailto:margaretmanson@theproject.com">margaretmanson@theproject.com</a>
																			</td>
																		</tr>
																		<!-- Space -->
																		<tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
																		<tr>
																			<td style="font-family: helvetica, Arial, sans-serif; font-size: 15px; line-height: 14px; color: #777777;">
																				tel:&nbsp;+12&nbsp;3123&nbsp;1123&nbsp;123
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="180" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/team-member-4.png" width="180" alt="Team Member 4" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="550" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Section End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#f5f5f5" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
												<tr>
													<td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#000000;">
														Latest <strong>Projects</strong>
													</td>
												</tr>
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<!-- First Row -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" width="290" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/project-1.jpg" width="290" alt="Project 1" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="260" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="#">Project 1</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quisquam amet vat voluptates accusamus...
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#ebb128">
																				<a href="#" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Second Row -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<tr>
													<td>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="10" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="260" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="#">Project 2</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quisquam amet vat voluptates accusamus...
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#ebb128">
																				<a href="#" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="290" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/project-2.jpg" width="290" alt="Project 2" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Third Row -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" width="290" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/project-3.jpg" width="290" alt="Project 3" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="260" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="#">Project 3</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quisquam amet vat voluptates accusamus...
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#ebb128">
																				<a href="#" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Fourth Row -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<tr>
													<td>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="10" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="260" cellspacing="0" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<a style="text-decoration:none; font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #343434; line-height: 26px;" href="#">Project 4</a>
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px;">
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quisquam amet vat voluptates accusamus...
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="100" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
																		<tr>
																			<td align="center" style="padding:8px 5px 8px 5px;border-radius:4px;" bgcolor="#ebb128">
																				<a href="#" style="color: #fff; font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!-- Grid Gutter 20px -->
														<table align="left" border="0" cellpadding="0" width="20" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>&nbsp;</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" width="290" cellspacing="0" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="#">
																		<img src="/static/emails/project-4.jpg" width="290" alt="Project 4" style="display: block;"/>
																	</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Section End -->

					<!-- Section Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table align="center" bgcolor="#373737" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr>
													<td>
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="430" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="3">&nbsp;</td></tr>
															<tr>
																<td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#ffffff;">
																	Powerful Bootstrap Template
																</td>
															</tr>
														</table>
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="140" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="0">&nbsp;</td></tr>
															<tr>
																<td width="100%" align="center" style="padding:12px 12px 12px 12px; text-align: center;border-radius:4px;" bgcolor="#f1f1f1">
																	<a href="#" style="color: #000000; font-size: 16px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Purchase</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<!-- Space -->
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Section End -->

					<!-- Footer Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#ffffff" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
												<tr>
													<td>
														<!-- First Column -->
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="250" style="border-collapse: collapse;">
															<tr>
																<td>
																	<a href="/">
																		<img src="/static/emails/bob_logo.png" alt="Logo" style="display: block;width: auto;    max-width: 170px; margin-bottom: 10px;"/>
																	</a>
																</td>
															</tr>
															<!-- Space -->
{#															<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>#}
															<tr>
																<td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
																	Lorem ipsum dolor sit amet, consect tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven.
																</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
															<tr>
																<td>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
																		<tr>
																			<td>
																				<a href="#">
																					<img src="/static/emails/facebook-icon.png"  alt="Facebook" style="display: block;" />
																				</a>
																			</td>
																		</tr>
																	</table>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
																		<tr>
																			<td>
																				<a href="#">
																					<img src="/static/emails/twitter-icon.png"  alt="Twitter" style="display: block;" />
																				</a>
																			</td>
																		</tr>
																	</table>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
																		<tr>
																			<td>
																				<a href="#">
																					<img src="/static/emails/googleplus-icon.png"  alt="Google+" style="display: block;" />
																				</a>
																			</td>
																		</tr>
																	</table>
																	<table align="left" border="0" cellpadding="0" cellspacing="0" width="45" style="border-collapse: collapse;">
																		<tr>
																			<td>
																				<a href="#">
																					<img src="/static/emails/linkedin-icon.png"  alt="Linked In" style="display: block;" />
																				</a>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<!-- Gutter 20px -->
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="40" style="border-collapse: collapse;">
															<tr>
																<td>
																	&nbsp;
																</td>
															</tr>
														</table>
														<!-- Second Column -->
														<table align="left" border="0" cellpadding="0" cellspacing="0" width="250" style="border-collapse: collapse;">
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="57">&nbsp;</td></tr>
															<tr>
																<td width="22">
																	<img src="/static/emails/marker-icon.png" alt="location" />
																</td>
																<td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">Old Yb Rd., Yaba</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td width="22">
																	<img src="/static/emails/phone-icon.png" alt="location" />
																</td>
																<td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+234&nbsp;704&nbsp;639&nbsp;9814</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td width="22">
																	<img src="/static/emails/fax-icon.png" alt="location" />
																</td>
																<td style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">+12&nbsp;1234&nbsp;1234&nbsp;123</td>
															</tr>
															<!-- Space -->
															<tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
															<tr>
																<td width="22">
																	<img src="/static/emails/mail-icon.png" alt="location" />
																</td>
																<td>
																	<a style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;" href="mailto:info@buyorbid.com.ng">info@buyorbid.com.ng</a>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Footer End -->

					<!-- Subfooter Start -->
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
						<tr>
							<td>
								<table bgcolor="#f5f5f5" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
									<tr>
										<td>
											<!-- Space -->
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" bgcolor="#eaeaea" height="1">&nbsp;</td></tr>
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
											<table align="center" border="0" cellpadding="0" cellspacing="0" width="540" style="border-collapse: collapse;">
												<tr>
													<td align="center" style="color: #999999; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif;">
														Copyright © 2017  <a href="/" style="color: #ebb128; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;">buyorbid</a>. All Rights Reserved / <a href="#" style="color: #ebb128; font-size: 14px; line-height: 18px; font-weight: normal; font-family: helvetica, Arial, sans-serif; text-decoration:none;"> Unsubscribe</a>
													</td>
												</tr>
											</table>
											<!-- Space -->
											<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
												<tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

					</table>
					<!-- Subfooter End -->
			

				</td>
			</tr>
		</table>
	</body>
</html>