{% extends "email.layout" %}
{% block tablebody %}
    {% iniclude "email.banner0" %}
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td>
            <table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                <!-- Space -->
                <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                <tr>
                    <td width="100%" align="center" style="font-size: 28px; line-height: 34px; font-family:helvetica, Arial, sans-serif; color:#343434;">
                        Core <strong>Features</strong>
                    </td>
                </tr>
                <!-- Space -->
                <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
            </table>
            <!-- First Row -->
            <table bgcolor="#fbfbfb" align="center" border="0" cellpadding="0" cellspacing="0" width="580" style="border-collapse: collapse;">
                <tr>
                    <td>
                        {% for i in li %}
                        {% if loop.index is odd %}
                        <!-- first column -->
                        <table align="left" bgcolor="#fbfbfb" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
                            <tr>
                                <td>
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                        <tr>
                                            <td align="center">
                                                <a href="#">
                                                    <img src="/static/emails/feature-icon-1.png" width="60" alt="Feature" style="display: block;"/>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                        <tr>
                                            <td align="center">
                                                <a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #333333; line-height: 24px; text-decoration: none;">Clean Code &amp; Design</a>
                                            </td>
                                        </tr>
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                                        <tr>
                                            <td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px; text-align: center;">
                                                Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
                                            </td>
                                        </tr>
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                        <tr>
                                            <td>
                                                <table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td align="center">
                                                            <a href="#" style="color: #ebb128; font-size: 15px; line-height: 15px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        {% else %}
                        <!-- second column -->
                        <table align="left" bgcolor="#fbfbfb" border="0" cellpadding="0" cellspacing="0" width="290" style="border-collapse: collapse;">
                            <tr>
                                <td>
                                    <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                        <tr>
                                            <td align="center">
                                                <a href="#">
                                                    <img src="/static/emails/feature-icon-2.png" width="60" alt="Feature" style="display: block;"/>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <table width="250" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                        <tr>
                                            <td align="center">
                                                <a href="#" style="font-family: helvetica, Arial, sans-serif; font-size: 22px; color: #333333; line-height: 24px; text-decoration: none;">Extremely Flexible</a>
                                            </td>
                                        </tr>
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                                        <tr>
                                            <td style="font-family: helvetica, Arial, sans-serif; font-size: 14px; color: #777777; line-height: 21px; text-align: center;">
                                                Similique sapiente, nemo beatae numquam dolores provident repellat molestias illum sed enim libero.
                                            </td>
                                        </tr>
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td></tr>
                                        <tr>
                                            <td>
                                                <table width="100" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td align="center">
                                                            <a href="#" style="color: #ebb128; font-size: 15px; line-height: 15px; font-weight: normal; text-decoration: none; font-family: helvetica, Arial, sans-serif;">Read More</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <!-- Space -->
                                        <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock tablebody %}