<p>{% extends "email.layout" %} {% block tablebody %}</p>
    <!-- Section Start -->
    <table style="border-collapse: collapse;" border="0" width="600" cellspacing="0" cellpadding="0" align="center">
        <tbody>
        <tr>
            <td>
                <table style="border-collapse: collapse;" border="0" width="580" cellspacing="0" cellpadding="0"
                       align="center" bgcolor="#fbfbfb">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse: collapse;" border="0" width="100%" cellspacing="0"
                                   cellpadding="0" align="center"><!-- Border -->
                                <tbody>
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" bgcolor="#f5f5f5" height="1"></td>
                                </tr>
                                <!-- Space -->
                                <tr>
                                    <td style="font-size: 0; line-height: 0;" height="30"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table style="border-collapse: collapse;" border="0" width="480" cellspacing="0"
                                   cellpadding="0" align="center">
                                <tbody>
                                <tr>
                                    <td>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 24px; line-height: 34px; font-family: helvetica, Arial, sans-serif; color: #343434; text-align: center;"
                                                    align="left" width="100%">Welcome {{ name }}!
                                                </td>
                                            </tr>
                                            <!-- Space -->
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;" height="20"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td align="center"><img
                                                        src="https://res.cloudinary.com/rusty-x/image/upload/t_media_lib_thumb/v1509795280/utility/Smiling-Face-with-Sunglasses-Cool-Emoji-PNG.png"
                                                        alt="Testimonial Image" width="120"/></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br/>
                                        <table style="border-collapse: collapse;" border="0" width="100%"
                                               cellspacing="0" cellpadding="0" align="center">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 16px; line-height: 22px; font-family: helvetica, Arial, sans-serif; color: #777777; text-align: center;"
                                                    align="left" width="100%">
                                                    <p>We are so happy to have you join us.</p>
                                                    <p>₦{{ amount }} in coupons has been added to your account.</p>
                                                    <p>But first things first we need you to verify that you have
                                                        received this email by clicking the link below or you can also
                                                        copy and paste it in your preferred browser.</p>
                                                    <p>Once you've been successfully verified your coupons will be
                                                        activated.</p>
                                                    <p>Happy shopping friend!</p>
                                                    <p><br/> <a href="{{ link }}">Verify me</a></p>
                                                    <table style="width: 100%; border-collapse: collapse; table-layout: fixed;"
                                                           border="0">
                                                        <tbody>
                                                        <tr>
                                                            <td style="width: 100%; word-wrap: break-word;">
                                                               {{ link }}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <!-- Space -->
                                            <tr>
                                                <td style="font-size: 0; line-height: 0;" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px; line-height: 18px; font-family: helvetica, Arial, sans-serif; color: #777777; text-align: center;"
                                                    align="left" width="100%">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 12px; line-height: 18px; font-family: helvetica, Arial, sans-serif; color: #777777; font-weight: bold; text-align: center;"
                                                    align="left" width="100%">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Section End -->
    <p>{% endblock %}</p>