﻿<!-- Header End====================================================================== -->
{% extends "layout.html" %}
{% block header %}
<div id="header">
    <div class="container">
        <div id="welcomeLine" class="row">
            <div class="span6">Welcome!<strong> User</strong></div>
            <div class="span6">
                <div class="pull-right">
                    <a href="product_summary.html"><span class="">Fr</span></a>
                    <a href="product_summary.html"><span class="">Es</span></a>
                    <span class="btn btn-mini">En</span>
                    <a href="product_summary.html"><span>&pound;</span></a>
                    <span class="btn btn-mini">$155.00</span>
                    <a href="product_summary.html"><span class="">$</span></a>
                    <a href="product_summary.html">
			<span class="btn btn-mini btn-primary">
				<i class="icon-shopping-cart icon-white"></i> [ 3 ] Itemes in your cart
			</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar">
            <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-inner">
                <a class="brand" href="index.html"><img src="themes/images/logo.png" alt="Bootsshop"/></a>
                <form class="form-inline navbar-search" method="post" action="products.html">
                    <input id="srchFld" class="srchTxt" type="text"/>
                    <select class="srchTxt">
                        <option>All</option>
                        <option>CLOTHES</option>
                        <option>FOOD AND BEVERAGES</option>
                        <option>HEALTH & BEAUTY</option>
                        <option>SPORTS & LEISURE</option>
                        <option>BOOKS & ENTERTAINMENTS</option>
                    </select>
                    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                </form>
                <ul id="topMenu" class="nav pull-right">
                    <li class=""><a href="special_offer.html">Specials Offer</a></li>
                    <li class=""><a href="normal.html">Delivery</a></li>
                    <li class=""><a href="contact.html">Contact</a></li>
                    <li class="">
                        <a href="#login" role="button" data-toggle="modal" style="padding-right:0"><span
                                class="btn btn-large btn-success">Login</span></a>
                        <div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login"
                             aria-hidden="false">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3>Login Block</h3>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal loginFrm">
                                    <div class="control-group">
                                        <input type="text" id="inputEmail" placeholder="Email">
                                    </div>
                                    <div class="control-group">
                                        <input type="password" id="inputPassword" placeholder="Password">
                                    </div>
                                    <div class="control-group">
                                        <label class="checkbox">
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-success">Sign in</button>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Header End====================================================================== -->
<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <a href="register.html"><img style="width:100%" src="themes/images/carousel/1.png"
                                                 alt="special offers"/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img style="width:100%" src="themes/images/carousel/2.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img src="themes/images/carousel/3.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img src="themes/images/carousel/4.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>

                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img src="themes/images/carousel/5.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="register.html"><img src="themes/images/carousel/6.png" alt=""/></a>
                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
{% enblock header %}
{% block body %}
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <a href="register.html"><img style="width:100%" src="themes/images/carousel/1.png"
                                                     alt="special offers"/></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="register.html"><img style="width:100%" src="themes/images/carousel/2.png" alt=""/></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="register.html"><img src="themes/images/carousel/3.png" alt=""/></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="register.html"><img src="themes/images/carousel/4.png" alt=""/></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="register.html"><img src="themes/images/carousel/5.png" alt=""/></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <a href="register.html"><img src="themes/images/carousel/6.png" alt=""/></a>
                        <div class="carousel-caption">
                            <h4>Second Thumbnail label</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                <div id="sidebar" class="span3">
                    <div class="well well-small"><a id="myCart" href="product_summary.html"><img
                            src="themes/images/ico-cart.png" alt="cart">3 Items in your cart <span
                            class="badge badge-warning pull-right">$155.00</span></a></div>
                    <ul id="sideManu" class="nav nav-tabs nav-stacked">
                        <li class="subMenu open"><a> ELECTRONICS [230]</a>
                            <ul>
                                <li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Cameras
                                    (100) </a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Computers, Tablets &
                                    laptop (30)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Sound & Vision (15)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="subMenu"><a> CLOTHES [840] </a>
                            <ul style="display:none">
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Clothing (45)</a>
                                </li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a>
                                </li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Men's Clothings (45)</a>
                                </li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>
                            </ul>
                        </li>
                        <li class="subMenu"><a>FOOD AND BEVERAGES [1000]</a>
                            <ul style="display:none">
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Angoves (35)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Bouchard Aine & Fils
                                    (8)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Louis Bernard (45)</a>
                                </li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a>
                                </li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Other Liquors & Wine
                                    (5)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Garden (3)</a></li>
                                <li><a href="products.html"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>
                            </ul>
                        </li>
                        <li><a href="products.html">HEALTH & BEAUTY [18]</a></li>
                        <li><a href="products.html">SPORTS & LEISURE [58]</a></li>
                        <li><a href="products.html">BOOKS & ENTERTAINMENTS [14]</a></li>
                    </ul>
                    <br/>
                    <div class="thumbnail">
                        <img src="themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
                        <div class="caption">
                            <h5>Panasonic</h5>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                                    class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                                    class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                            </h4>
                        </div>
                    </div>
                    <br/>
                    <div class="thumbnail">
                        <img src="themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
                        <div class="caption">
                            <h5>Kindle</h5>
                            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                                    class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                                    class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                            </h4>
                        </div>
                    </div>
                    <br/>
                    <div class="thumbnail">
                        <img src="themes/images/payment_methods.png" title="Bootshop Payment Methods"
                             alt="Payments Methods">
                        <div class="caption">
                            <h5>Payment Methods</h5>
                        </div>
                    </div>
                </div>
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <div class="well well-small">
                        <h4>Featured Products
                            <small class="pull-right">200+ featured products</small>
                        </h4>
                        <div class="row-fluid">
                            <div id="featured" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/b1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/b2.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/b3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/b4.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/5.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/6.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/7.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/8.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/9.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/10.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/11.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/2.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/4.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <a href="product_details.html"><img
                                                            src="themes/images/products/5.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Product name</h5>
                                                        <h4><a class="btn" href="product_details.html">VIEW</a> <span
                                                                class="pull-right">$222.00</span></h4>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
                            </div>
                        </div>
                    </div>
                    <h4>Latest Products </h4>
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="product_details.html"><img src="themes/images/products/6.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Product name</h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text.
                                    </p>

                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                                            class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                                            class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="product_details.html"><img src="themes/images/products/7.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Product name</h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text.
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                                            class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                                            class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="product_details.html"><img src="themes/images/products/8.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Product name</h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text.
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                                            class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                                            class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="product_details.html"><img src="themes/images/products/9.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Product name</h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text.
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                                            class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                                            class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="product_details.html"><img src="themes/images/products/10.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Product name</h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text.
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                                            class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                                            class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="product_details.html"><img src="themes/images/products/11.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Product name</h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text.
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i
                                            class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i
                                            class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                                    </h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="category_well_wrap">
                        <div class="category_well">
                            <div class="category_brand">
                                <a href="#">
                                <span class="category_title">
                                    MEN
                                </span>
                                    <span class="category_btn_lnk">
                                    SHOP NOW

                                </span>
                                </a>
                            </div>
                            <div class="category_contents">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
