<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<title>Bootshop online Shopping cart</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--Less styles -->
		<!-- Other Less css file //different less files has different color scheam
		 <link rel="stylesheet/less" type="text/css" href="themes/less/simplex.less">
		 <link rel="stylesheet/less" type="text/css" href="themes/less/classified.less">
		 <link rel="stylesheet/less" type="text/css" href="themes/less/amelia.less">  MOVE DOWN TO activate
		 -->
		<!--<link rel="stylesheet/less" type="text/css" href="themes/less/bootshop.less">
		<script src="themes/js/less.js" type="text/javascript"></script> -->

		<!-- Bootstrap style -->
		<link id="callCss" rel="stylesheet" href="{{ url_for('static', filename='themes/bootshop/bootstrap.min.css') }}" media="screen"/>
		<link href="{{ url_for('static', filename='themes/css/base.css') }}" rel="stylesheet" media="screen"/>

		<!-- Bootstrap style responsive -->
		<link href="{{ url_for('static', filename='themes/css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen"/>
		<link href="{{ url_for('static', filename='themes/css/font-awesome.css') }}" rel="stylesheet" media="screen"/>
		<!-- Google-code-prettify -->
		<link href="themes" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='themes/js/google-code-prettify/prettify.css') }}" rel="stylesheet"/>
		<!-- fav and touch icons -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='themes/images/ico/favicon.ico') }}">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='themes/images/ico/apple-touch-icon-144-precomposed.png') }}">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='themes/images/ico/apple-touch-icon-114-precomposed.png') }}">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='themes/images/ico/apple-touch-icon-72-precomposed.png') }}">
		<link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='themes/images/ico/apple-touch-icon-57-precomposed.png') }}">
		<style type="text/css" id="enject"></style>
</head>
<body>
	{% block header %}
		<div id="header">
				<div class="container">
						<div id="welcomeLine" class="row">
								<div class="span6">Welcome!<strong> User</strong></div>
								<div class="span6">
										<div class="pull-right">
												<a href="product_summary.html"><span class="">Fr</span></a>
												<a href="product_summary.html"><span class="">Es</span></a>
												<span class="btn btn-mini">En</span>
												<a href="product_summary.html"><span>&pound;</span></a>
												<span class="btn btn-mini">$155.00</span>
												<a href="product_summary.html"><span class="">$</span></a>
												<a href="product_summary.html">
													<span class="btn btn-mini btn-primary">
														<i class="icon-shopping-cart icon-white"></i> [ 3 ] Itemes in your cart
													</span>
												</a>
										</div>
								</div>
						</div>
						<!-- Navbar ================================================== -->
						<div id="logoArea" class="navbar">
								<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</a>
								<div class="navbar-inner">
										<a class="brand" href="index.html"><img src="{{ url_for('static', filename='themes/images/logo.png') }}" alt="Bootsshop"/></a> <!--logo -->
										<form class="form-inline navbar-search" method="post" action="products.html">
												<input id="srchFld" class="srchTxt" type="text"/>
												<select class="srchTxt">
														<option>All</option>
														<option>CLOTHES</option>
														<option>FOOD AND BEVERAGES</option>
														<option>HEALTH & BEAUTY</option>
														<option>SPORTS & LEISURE</option>
														<option>BOOKS & ENTERTAINMENTS</option>
												</select>
												<button type="submit" id="submitButton" class="btn btn-primary">Go</button>
										</form>
										<ul id="topMenu" class="nav pull-right">
												<li class=""><a href="special_offer.html">Specials Offer</a></li>
												<li class=""><a href="normal.html">Delivery</a></li>
												<li class=""><a href="contact.html">Contact</a></li>
												<li class="">
														<a href="#login" role="button" data-toggle="modal" style="padding-right:0"><span
																		class="btn btn-large btn-success">Login</span></a>
														<div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login"
																 aria-hidden="false">
																<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h3>Login Block</h3>
																</div>
																<div class="modal-body">
																		<form class="form-horizontal loginFrm">
																				<div class="control-group">
																						<input type="text" id="inputEmail" placeholder="Email">
																				</div>
																				<div class="control-group">
																						<input type="password" id="inputPassword" placeholder="Password">
																				</div>
																				<div class="control-group">
																						<label class="checkbox">
																								<input type="checkbox"> Remember me
																						</label>
																				</div>
																		</form>
																		<button type="submit" class="btn btn-success">Sign in</button>
																		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
																</div>
														</div>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</div>
	{% endblock header %}
<!-- Header End====================================================================== -->
		<div id="mainBody">
				<div class="container">
						<div class="row">
								{%  block body %}

								{% endblock body  %}
						</div>
				</div>
		</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
<div id="footerSection">
		<div class="container">
				<div class="row">
						<div class="span3">
								<h5>ACCOUNT</h5>
								<a href="login.html">YOUR ACCOUNT</a>
								<a href="login.html">PERSONAL INFORMATION</a>
								<a href="login.html">ADDRESSES</a>
								<a href="login.html">DISCOUNT</a>
								<a href="login.html">ORDER HISTORY</a>
						</div>
						<div class="span3">
								<h5>INFORMATION</h5>
								<a href="contact.html">CONTACT</a>
								<a href="register.html">REGISTRATION</a>
								<a href="legal_notice.html">LEGAL NOTICE</a>
								<a href="tac.html">TERMS AND CONDITIONS</a>
								<a href="faq.html">FAQ</a>
						</div>
						<div class="span3">
								<h5>OUR OFFERS</h5>
								<a href="#">NEW PRODUCTS</a>
								<a href="#">TOP SELLERS</a>
								<a href="special_offer.html">SPECIAL OFFERS</a>
								<a href="#">MANUFACTURERS</a>
								<a href="#">SUPPLIERS</a>
						</div>
						<div id="socialMedia" class="span3 pull-right">
								<h5>SOCIAL MEDIA </h5>
								<a href="#"><img width="60" height="60" src="" title="facebook"
																 alt="facebook"/></a>
								<a href="#"><img width="60" height="60" src="{{ url_for('static', filename='themes/images/twitter.png') }}" title="twitter"
																 alt="twitter"/></a>
								<a href="#"><img width="60" height="60" src="{{ url_for('static', filename='themes/images/youtube.png') }}" title="youtube"
																 alt="youtube"/></a>
						</div>
				</div>
				<p class="pull-right">&copy; Bootshop</p>
		</div><!-- Container End -->
</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
{#            <script src="themes/js/" type="text/javascript"></script>#}
{#            <script src="themes/js/" type="text/javascript"></script>#}
{#            <script src="themes/js"></script>#}

<script src=""></script>
<script src="{{ url_for('static', filename='themes/js/jquery.lightbox-0.5.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='themes/js/bootshop.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='themes/js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='themes/js/google-code-prettify/prettify.js') }}"
				type="text/javascript"></script>
<script src="{{ url_for('static', filename='themes/js/bootstrap.min.js') }}" type="text/javascript"></script>

</body>
</html>
