{% extends "public/profile/layout.html" %}
{% block profile_body %}
    <style>
    .cus-container{
        margin-bottom: 20px !important;
    }
    </style>
    <div class="cus-container container">
        <div class="social_bar">
			<div class="social_bar_heading">
				Invite a friend, get <span class="bold no_border">₦500 Discount Coupon!</span>
			</div>
			<div class="social_bar_subheading" style="line-height:1.7em;">
                Get a <strong>₦500</strong> coupon each time you refer a friend to BuyOrBid. Your friends get <strong>₦10,000</strong> worth coupon.<br>The more friends you refer, the more vouchers you get.
			</div>
		</div>
    </div>
    {% if all_done %}
    <div class="cus-container trans container">
        <div class="social_bar">
			<div class="social_bar_heading">
				Refer By Email
			</div>
			<div class="social_bar_subheading">
				Import your contacts from your emails - or enter your contacts manually and we will invite them for you.
			</div>
			<div class="social_bar_button clearfix">
				<a href=""><span class="gmail"><img src="/static/images/gmail.png" class="referral_icon_image">GMAIL</span></a>
				<a href=""><span class="yahoo"><img src="/static/images/yahoo.png" class="referral_icon_image">YAHOO</span></a>
				<a href="" data-toggle="modal" data-target="#myModal" class=""><span class="email"><img src="/static/images/email.png" class="referral_icon_image">EMAIL</span></a>
			</div>
		</div>
    </div>
    {% endif %}
    <div class="cus-container container">
        <section style="border: none; padding: 0px 10px 10px 10px;">
			<div class="referral_code" >
				<div style="padding: 0 20px;">
					<div class="code_referral">
						Share Your Link
					</div>
					<div class="the_code">
                        <span>{{config.CANONICAL_URL}}{{url_for('.refer_address', code=current_user.referral_code)}}</span>
					</div>
				</div>
                {% if all_done %}
				<div class="referral_social_share">
					<a href="{{url_for('.facebook_post')}}"><div class="facebook_btn"><i class="facebook fa fa-facebook-official"></i> Share</div></a>
					<a href=""><div class="twitter_btn"><i class="twitter fa fa-twitter-square"></i> Tweet</div></a>
					<a href=""><div class="linkedin_btn"><i class="linkedin fa fa-linkedin"></i> Share</div></a>
				</div>
                {% endif %}
			</div>
		</section>
		<section style="border:none; padding:0px;">
			<div class="coupon_stat clearfix">
				<div class="col-md-6" style="border-right: 1px solid #f7f7f7;">
					<div class="friends">
						<div>{{ current_user.referral_count }}</div>
						<div>INVITED FRIENDS</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="coupon">
                        <div>{{ current_user.available_coupon_count }} <small>₦{{ whole_number_format(current_user.available_coupon_worth) }}</small></div>
						<div>AVAILABLE COUPONS</div>
					</div>
				</div>
			</div>
		</section>
    </div>
    <div class="cus-container trans container">
        <div class="social_bar">
			<div class="social_bar_heading" style="margin: 10px 0;">
				Referral Stats
			</div>
			<div class="referral_table">
				<table>
					<tr>
						<td>REFERRALS</td>
						<td>number of invited friends</td>
						<td>{{ current_user.referral_count }}</td>
					</tr>
					<tr>
						<td>VERIFIED</td>
						<td>numbers of referrals who have verified their account</td>
						<td>0</td>
					</tr>
					<tr>
						<td>COUPONS</td>
						<td>numbers of discount coupons gained</td>
						<td>{{ current_user.coupons.count() }}</td>
					</tr>
					<tr>
						<td>PENDING</td>
						<td>total values of discount coupons you stand to earn from your referral</td>
						<td>₦0</td>
					</tr>
					<tr>
						<td class="no_border_btm">EARNED</td>
						<td class="no_border_btm">total value of discount coupons in your account</td>
						<td class="no_border_btm">₦{{ whole_number_format(current_user.available_coupon_worth) }}</td>
					</tr>
				</table>
                {% if all_done %}
				<div class="view_all_wrap"><a href="" class="view_all1"> VIEW ALL YOUR REFERRALS</a></div>
			    {% endif %}
            </div>

		</div>
    </div>
    <section>
    {% if all_done %}
    <div class="modal fade modal_wrap" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content" style="top:5em;">
			      <div class="modal-header">
			        <button type="button" class="close modal_close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title modal_title" id="myModalLabel">Invite a friend via email</h4>
			      </div>
			      <div class="modal-body d_modal_content">
			        <div class="modal_content_wrap">
			        	<div class="referral_link">Your referal link</div>
			        	<div class="referral_link_form">
			        		<input type="text" disabled="true" value="">
			        	</div>
			        	<div class="help_text"> Copy the link and send to any of your friends</div>
			        	<div class="referral_email_title">Send this to</div><span></span>
			        	<div class="modal_email_wrap">
                            <input type="text">
		        			<selectize placeholder='Emails' config="emailsConfig" class='contacts' ng-model="emails" ng-change="collate()"></selectize>
			        	</div>
			        </div>
			      </div>
			      <div class="modal-footer d_modal_footer">
			    	<button type="submit" class="btn btn-primary">Send</button>
		       		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
    </section>
    {% endif %}
{% endblock profile_body %}