{% extends "public/profile/layout.html" %}
{% block profile_body %}
    <style>
    .cus-container{
        margin-bottom: 20px !important;
    }
    </style>
    <div class="cus-container container" style="margin-bottom: 20px;">
        <div class="p_wlc ">
            <div class="col-md-12">
                <h5 class="pull-right"><i class="fa fa-star"></i><i class="fa fa-star"></i> Elite</h5>
                <div class="pull-left">
                    <img alt="" src="
                            {% if current_user.profile_pic %}{{ current_user.profile_pic }}{% else %}/static/profile_pattern1B.png{% endif %}"
                         >
                    <div>
                        <h4>{{ current_user.first_name }} {{ current_user.last_name }}</h4>
                        <div>
                            <span class="btn btn-mini">E 2,500</span>
                            <span class="btn btn-mini">C 500</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% cache 2400, "buyorbidng", "profile", "layout", "secondary_nav" %}
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href="{{ url_for('.messages') }}">
                    <button type="button"
                            class="btn btn-default"
                            ><span
                            class="fa fa-envelope-o" aria-hidden="true"></span>
                        <div class="hidden-xs">Messages</div>
                    </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.profile_auctions') }}">
                <button type="button" id="favorites" class="btn btn-default"><span
                        class="fa fa-gavel" aria-hidden="true"></span>
                    <div class="hidden-xs">Auctions</div>
                </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.addresses') }}">
                    <button type="button"
                            class="btn btn-default"
                            ><span
                            class="fa fa-address-card-o" aria-hidden="true"></span>
                        <div class="hidden-xs">Address Book</div>
                    </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.profile_affiliates') }}">
                    <button type="button" class="btn btn-default"><span
                        class="fa fa-magic" aria-hidden="true"></span>
                    <div class="hidden-xs">Coupons</div>
                </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.profile_affiliates') }}">
                <button type="button" class="btn btn-default"><span
                        class="fa fa-share-alt" aria-hidden="true"></span>
                    <div class="hidden-xs">Affiliates</div>
                </button>
                </a>
            </div>
        </div>
        {% endcache %}
    </div>
    <div class="cus-container container">
        <div class="social_bar">
			<div class="social_bar_heading">
				Coming Soon!!!
			</div>
			<div class="social_bar_subheading" style="line-height:1.7em;">
                Get to Bid for variety of items, easy and fast.
			</div>
		</div>
    </div>
{% endblock profile_body %}