{% extends "public/profile/layout.html" %}
{% block profile_body %}
    <div class="cus-container container" style="margin-bottom: 20px;">
        <div class="p_wlc ">
            <div class="col-md-12">
                <h5 class="pull-right"><i class="fa fa-star"></i><i class="fa fa-star"></i> Elite</h5>
                <div class="pull-left">
                    <img alt="" src="
                            {% if current_user.profile_pic %}{{ current_user.profile_pic }}{% else %}/static/profile_pattern1B.png{% endif %}"
                    >
                    <div>
                        <h4>{{ current_user.first_name }} {{ current_user.last_name }}</h4>
                        <div>
                            <span class="btn btn-mini">E {{ whole_number_format(current_user.user_earning) }}</span>
                            <span class="btn btn-mini">C {{ whole_number_format(current_user.user_credit) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% cache 2400, "buyorbidng", "profile", "layout", "secondary_nav" %}
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href="{{ url_for('.messages') }}">
                    <button type="button"
                            class="btn btn-default"
                    ><span
                            class="fa fa-envelope-o" aria-hidden="true"></span>
                        <div class="hidden-xs">Messages</div>
                    </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.profile_auctions') }}">
                    <button type="button" id="favorites" class="btn btn-default"><span
                            class="fa fa-gavel" aria-hidden="true"></span>
                        <div class="hidden-xs">Auctions</div>
                    </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.addresses') }}">
                    <button type="button"
                            class="btn btn-default"
                    ><span
                            class="fa fa-address-card-o" aria-hidden="true"></span>
                        <div class="hidden-xs">Address Book</div>
                    </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.profile_affiliates') }}">
                    <button type="button" class="btn btn-default"><span
                            class="fa fa-magic" aria-hidden="true"></span>
                        <div class="hidden-xs">Coupons</div>
                    </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.profile_affiliates') }}">
                    <button type="button" class="btn btn-default"><span
                            class="fa fa-share-alt" aria-hidden="true"></span>
                        <div class="hidden-xs">Affiliates</div>
                    </button>
                </a>
            </div>
        </div>
        {% endcache %}
    </div>
    <div class="cus-container trans container">
        <div class="well well-small" style="margin-bottom: 0;">
            <h4>For You
            </h4>
            <div class="row-fluid">
                <div id="featured" class="carousel slide">
                    <div class="carousel-inner">
                        {% for group in featured_object_lists %}
                            <div class="item {% if loop.index==1 %}active{% endif %}">
                                <ul class="thumbnails" style="margin-bottom: 0;">
                                    {% for obj in group %}
                                        <li class="span3" ng-controller="CartItemController"
                                            ng-init='init({{ obj|tojson }})'>
                                            <div class="thumbnail">
                                                <i class="tag"></i>
                                                <a href="{{ url_for('.product', id=obj.id, handle=obj.name) }}"><img
                                                        src="{{ obj.cover_image_url }}" alt=""
                                                        style="width: 160px; height: 160px"></a>
                                                <div class="caption">
                                                    <h5>{{ obj.name }}</h5>
                                                    <h4 class="yellow-price-tag">
                                                        {% if obj.on_sale %}
                                                                <span class="pull-left" style="width: 100%; padding-bottom: 5px;"> ₦{{ whole_number_format(obj.min_price) }} <small class="slash_price", style="color: black">₦{{ whole_number_format(obj.max_price) }}</small></span>
                                                            {% else %}
                                                                ₦ {{ whole_number_format(obj.price) }}
                                                            {% endif %}
                                                    </h4>
                                                    {% if current_user.is_authenticated() %}
                                                        <a class="center" href="javascript:void(0);"
                                                           style="font-size: 13px; color: rgba(94,93,94,0.69)"
                                                           ng-click="addProductToWishList()">Add to Wishlist <i
                                                                class="fa fa-heart {% if obj.id in wishlist_product_ids %}added{% endif %}"
                                                                style="font-size: 16px"></i></a>
                                                    {% else %}
                                                        <a class="center"
                                                           href="{{ url_for('.login',next=request.path) }}"
                                                           style="font-size: 13px; color: rgba(94,93,94,0.69)">Add to
                                                            Wishlist <i class="fa fa-heart" style="font-size: 16px"></i></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control hidden" href="#featured" data-slide="prev"
                       style="background:0;">‹</a>
                    <a class="right carousel-control hidden" href="#featured" data-slide="next"
                       style="background:0;">›</a>
                </div>
            </div>
        </div>
    </div>
{% endblock profile_body %}
{% block page_js %}
    <script>
        $(document).ready(function () {
        });
    </script>
{% endblock page_js %}