{% extends "public/layout.html" %}
{% block style_assets %}
    {% assets "profile-global-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
{% endblock style_assets %}
{% block body %}
    <div id="profile" class="col-lg-12 col-sm-6">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" src="{% if current_user.profile_pic %}{{ current_user.profile_pic }}{% else %}/static/profile_pattern1B.png{% endif %}">
                <!-- http://lorempixel.com/850/280/people/9/ -->
            </div>
            <div class="useravatar">
                <img alt="" src="{% if current_user.profile_pic %}{{ current_user.profile_pic }}{% else %}/static/profile_pattern1B.png{% endif %}">
            </div>
            <div class="card-info"><span class="card-title">{% if current_user.user_name %}{{ current_user.username }}{% else %}{{ current_user.first_name }}{% endif %}</span>

            </div>
        </div>
        {% cache 2400, "buyorbidng", "profile", "layout", "primary_nav" %}
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href="{{ url_for('.profile') }}">
                    <button type="button" id="messages"
                            class="btn {% if is_profile_index %}black-btn reverse {% else %}btn-default{% endif %}"
                            ><span
                            class="fa fa-home" aria-hidden="true"></span>
                        <div class="hidden-xs">My ByOrBid</div>
                    </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.orders') }}">
                <button type="button" id="favorites" class="btn {% if is_profile_orders %}black-btn reverse {% else %}btn-default{% endif %}"><span
                        class="fa fa-gift" aria-hidden="true"></span>
                    <div class="hidden-xs">My Orders</div>
                </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.conversations') }}">
                    <button type="button" id="messages"
                            class="btn {% if is_profile_msg %}black-btn reverse {% else %}btn-default{% endif %}"
                            href="#tab3"><span
                            class="fa fa-comments-o" aria-hidden="true"></span>
                        <div class="hidden-xs">Conversations</div>
                    </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.wishlists') }}">
                    <button type="button" class="btn {% if is_profile_wishlists %}black-btn reverse {% else %}btn-default{% endif %}"><span
                        class="fa fa-heart-o" aria-hidden="true"></span>
                    <div class="hidden-xs">Wish list</div>
                </button>
                </a>
            </div>
            <div class="btn-group" role="group">
                <a href="{{ url_for('.profile_settings') }}">
                <button type="button" class="btn {% if is_profile_settings %}black-btn reverse {% else %}btn-default{% endif %}"><span
                        class="fa fa-gears" aria-hidden="true"></span>
                    <div class="hidden-xs">Settings</div>
                </button>
                </a>
            </div>
        </div>
        {% endcache %}
        <div class="well">
            <div class="tab-content">
                {% block profile_body %}

                {% endblock profile_body %}
            </div>
        </div>

    </div>
{% endblock body %}
