{% extends "public/profile/layout.html" %}
{% block profile_body %}
    <div class="cus-container container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                <div class="list-group">
                    {% for i in messages %}
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon">
                                <img src="/static/bob_fav.png" alt="">
                                <span>BuyOrBid Admin</span>
                            </h4>
                            <p class="lst_msg_cap">{{ i.subject }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <div id="screen">
                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                    <h1>Select a message on the left</h1>
                </div>
                {% for c in messages %}
                    <!-- message section -->
                    <div class="bhoechie-tab-content">
                        <div class="responses">
                            <div class="msg_resp reverse">
                                <div class="avatar">
                                    <img src="{{ c.user.profile_pic }}" alt="">
                                    <small>{% if c.user.username %}{{ c.user.username }}{% else %}{{ c.user.first_name }}{% endif %}</small>
                                </div>
                                <div class="info">
                                    {{ c.body }}
                                </div>


                            </div>
                        {% for i in c.responses %}
                            <div class="msg_resp {% if i.user_id == current_user.id %}reverse{% endif %}">
                                <div class="avatar">
                                    <img src="{% if i.user_id == current_user.id %}{{ i.user.profile_pic }}{% else %}/static/bob_fav.png{% endif %}" alt="">
                                    <small>{% if i.user.username %}{{ i.user.username }}{% else %}{{ i.user.first_name }}{% endif %}</small>
                                </div>
                                <div class="info">
                                    {{ i.body }}
                                </div>
                            {% if i.product_id %}
                                    <div class="quoted-msg quoted-msg-clickable">
                                        <a href="{{ url_for('.product', id=i.product_id, handle=i.product.handle) }}" target="_blank"><div class="quoted-msg-status">
                                            <span class="bg-color-1 quoted-msg-color-right-bar"></span>
                                            <div class="quoted-msg-info">
                                                <div>
                                                    <div class="message-text quoted-msg-text">
                                                        <span dir="auto" class="emojitext">{{i.product.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="{{ i.product.cover_image_url }}" width="100px" height="auto">
{#                                            <span class="bg-color-1 quoted-msg-color-bar"></span>#}
                                        </div><!-- react-empty: 24845 -->
                                            </a>
                                    </div>
                                {% endif %}

                            </div>
                        {% endfor %}
                        </div>
                        <form class="row" name="reply_form" method="post"
                              action="{{ url_for('.messages',obj_id=c.id) }}">
                            {{ form.csrf_token }}
                            <div id="response">
                                {{ form.body(placeholder="Reply Message") }}
                                <button type="submit"><i id="resp_btn" class="fa fa-send-o"></i></button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
                {#                {% if conversations.count()>0 %}#}
                {#                    <form name="reply_form" method="post" action="{{request.path}}">#}
                {#                    {{ form.csrf_token }}#}
                {#                    <div id="response">#}
                {#                        {{ form.text(placeholder="Reply Message") }}#}
                {#                    <button type="submit"><i id="resp_btn" class="fa fa-send-o"></i></button>#}
                {#                    </div>#}
                {#                    </form>#}
                {#                {% endif %}#}
            </div>
        </div>
    </div>

{% endblock profile_body %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#response').hide();
            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var sc = document.getElementById('screen');
                sc.style.display = 'none';
                var index = $(this).index();
                console.log(index, "index");
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
                $('#response').show();
            });
        });
    </script>
{% endblock page_js %}