{% extends "public/profile/layout.html" %}
{% block profile_body %}
    <div class="cus-container container">
        <ul class="nav nav-pills" id="profile_setting_tab_nav" role="tablist">
            <li class="active"><a href="#all" role="tab" data-toggle="tab" title="Update Profile"> ALL</a></li>
            <li><a href="#pending" role="tab" data-toggle="tab" title="Deactivate Account"> Pending</a>
            </li>
            <li><a href="#processing" role="tab" data-toggle="tab" title="Reset Password"> Being Processed</a></li>
            <li><a href="#shipped" role="tab" data-toggle="tab" title="Deactivate Account"> Shipped</a></li>
            <li><a href="#delivered" role="tab" data-toggle="tab" title="Deactivate Account"> Delivered</a></li>
            <li><a href="#cancelled" role="tab" data-toggle="tab" title="Deactivate Account"> Cancelled</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content clear-style" id="profile_setting_tab_content">
            <div class="tab-pane active" id="all">
                <section>
                    <div id="head-columns">
                        <div class="column">Order Date</div>
                        <div class="column">Order No.</div>
                        <div class="column"> Total</div>
                        <div class="column"> Status</div>
                    </div>
                    <div id="column_records">
                        {% for obj in results.items %}
                            <div class="records-container">

                                <div class="record-info">
                                    <div class="column">
                                        {{ moment(obj.date_created).format('MMM Do, YYYY') }}<br>
                                        <small class="caption">{{ moment(obj.date_created).format('LT') }}</small>
                                    </div>
                                    <div class="column"
                                    >                                    {{ obj.code }}
                                    </div>
                                    <div class="column">
                                        ₦{{ number_format(obj.total) }}
                                    </div>

                                    <div class="column">
                                        <span class="status {{ obj.order_status.code }}">{{ obj.order_status.name }}</span>
                                    </div>
                                </div>


                                <div class="clearfix">

                                    <div class="order-items">
                                        {% for entry in obj.entries %}
                                            <div class="item">
                                                <img src="{{ entry.product.cover_image_url }}" width="50px">{{ entry.product.name }}
                                            </div>
                                        {% endfor %}


                                    </div>

                                    <div class="order-buttons">

                                        <a href="" target="_blank"
                                           class="btn btn-default" type="button">
                                            <span>Track Order</span>
                                        </a>


                                        <a class="btn btn-default" type="button"
                                           href="{{ url_for('.order_invoice',id=obj.id,code=obj.code) }}" target="_blank">
                                            <span>View Order</span>
                                        </a>


                                    </div>

                                </div>

                            </div>
                        {% endfor %}
{#                        <div class="records-container">#}
{##}
{#                            <div class="record-info">#}
{#                                <div class="column">#}
{#                                    10th July, 2017#}
{#                                </div>#}
{#                                <div class="column"#}
{#                                > F302074828001#}
{#                                </div>#}
{#                                <div class="column">#}
{#                                    ₦22,739#}
{#                                </div>#}
{##}
{#                                <div class="column">#}
{#                                    <span class="status delivered">delivered</span>#}
{#                                </div>#}
{#                            </div>#}
{##}
{##}
{#                            <div class="clearfix">#}
{##}
{#                                <div class="order-items">#}
{##}
{#                                    <div class="item">Apple Iphone 6S#}
{#                                    </div>#}
{#                                    <div class="item">Gucci Denim Shoe</div>#}
{##}
{##}
{#                                </div>#}
{##}
{#                                <div class="order-buttons">#}
{##}
{#                                    <a href="" target="_blank"#}
{#                                       class="btn btn-default" type="button">#}
{#                                        <span>Track Order</span>#}
{#                                    </a>#}
{##}
{##}
{#                                    <a class="btn btn-default" type="button"#}
{#                                       href="">#}
{#                                        <span>View Order</span>#}
{#                                    </a>#}
{##}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{##}
{#                        </div>#}
{#                        <div class="records-container">#}
{##}
{#                            <div class="record-info">#}
{#                                <div class="column">#}
{#                                    10th Sep, 2017#}
{#                                </div>#}
{#                                <div class="column"#}
{#                                > F302074828001#}
{#                                </div>#}
{#                                <div class="column">#}
{#                                    ₦23,500#}
{#                                </div>#}
{##}
{#                                <div class="column">#}
{#                                    <span class="status">processing</span>#}
{#                                </div>#}
{#                            </div>#}
{##}
{##}
{#                            <div class="clearfix">#}
{##}
{#                                <div class="order-items">#}
{##}
{#                                    <div class="item">Virgin Hair-6 Bundles#}
{#                                    </div>#}
{#                                    <div class="item">Curren Watch</div>#}
{##}
{##}
{#                                </div>#}
{##}
{#                                <div class="order-buttons">#}
{##}
{#                                    <a href="" target="_blank"#}
{#                                       class="btn btn-default" type="button">#}
{#                                        <span>Track Order</span>#}
{#                                    </a>#}
{##}
{##}
{#                                    <a class="btn btn-default" type="button"#}
{#                                       href="">#}
{#                                        <span>View Order</span>#}
{#                                    </a>#}
{##}
{##}
{#                                </div>#}
{##}
{#                            </div>#}
{##}
{#                        </div>#}
                    </div>
                </section>
                <div class="clearfix"></div>
            </div>
            <div class="tab-pane" id="pending">
                <section>
                    <div id="head-columns">
                        <div class="column">Order Date</div>
                        <div class="column">Order No.</div>
                        <div class="column"> Total</div>
                        <div class="column"> Status</div>
                    </div>
                    <div id="column_records">
                        {% for obj in lister(results.items, 'order_status.name', 'pending') %}
                            <div class="records-container">

                                <div class="record-info">
                                    <div class="column">
                                        {{ moment(obj.date_created).format('MMM Do, YYYY') }}<br>
                                        <small class="caption">{{ moment(obj.date_created).format('LT') }}</small>
                                    </div>
                                    <div class="column"
                                    >                                    {{ obj.code }}
                                    </div>
                                    <div class="column">
                                        ₦{{ number_format(obj.total) }}
                                    </div>

                                    <div class="column">
                                        <span class="status {{ obj.order_status.code }}">{{ obj.order_status.name }}</span>
                                    </div>
                                </div>


                                <div class="clearfix">

                                    <div class="order-items">
                                        {% for entry in obj.entries %}
                                            <div class="item">
                                                <img src="{{ entry.product.cover_image_url }}" width="50px">{{ entry.product.name }}
                                            </div>
                                        {% endfor %}


                                    </div>

                                    <div class="order-buttons">

                                        <a href="" target="_blank"
                                           class="btn btn-default" type="button">
                                            <span>Track Order</span>
                                        </a>


                                        <a class="btn btn-default" type="button"
                                           href="{{ url_for('.order_invoice',id=obj.id,code=obj.code) }}" target="_blank">
                                            <span>View Order</span>
                                        </a>


                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </section>
                <div class="clearfix"></div>
            </div>
            <div class="tab-pane" id="processing">
                <section>
                    <div id="head-columns">
                        <div class="column">Order Date</div>
                        <div class="column">Order No.</div>
                        <div class="column"> Total</div>
                        <div class="column"> Status</div>
                    </div>
                    <div id="column_records">
                        {% for obj in lister(results.items, 'order_status.name', 'processing') %}
                            <div class="records-container">

                                <div class="record-info">
                                    <div class="column">
                                        {{ moment(obj.date_created).format('MMM Do, YYYY') }}<br>
                                        <small class="caption">{{ moment(obj.date_created).format('LT') }}</small>
                                    </div>
                                    <div class="column"
                                    >                                    {{ obj.code }}
                                    </div>
                                    <div class="column">
                                        ₦{{ number_format(obj.total) }}
                                    </div>

                                    <div class="column">
                                        <span class="status {{ obj.order_status.code }}">{{ obj.order_status.name }}</span>
                                    </div>
                                </div>


                                <div class="clearfix">

                                    <div class="order-items">
                                        {% for entry in obj.entries %}
                                            <div class="item">
                                                <img src="{{ entry.product.cover_image_url }}" width="50px">{{ entry.product.name }}
                                            </div>
                                        {% endfor %}


                                    </div>

                                    <div class="order-buttons">

                                        <a href="" target="_blank"
                                           class="btn btn-default" type="button">
                                            <span>Track Order</span>
                                        </a>


                                        <a class="btn btn-default" type="button"
                                           href="{{ url_for('.order_invoice',id=obj.id,code=obj.code) }}" target="_blank">
                                            <span>View Order</span>
                                        </a>


                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </section>
                <div class="clearfix"></div>
            </div>
            <div class="tab-pane" id="shipped">
                <section>
                    <div id="head-columns">
                        <div class="column">Order Date</div>
                        <div class="column">Order No.</div>
                        <div class="column"> Total</div>
                        <div class="column"> Status</div>
                    </div>
                    <div id="column_records">
                        {% for obj in lister(results.items, 'order_status.name', 'shipped') %}
                            <div class="records-container">

                                <div class="record-info">
                                    <div class="column">
                                        {{ moment(obj.date_created).format('MMM Do, YYYY') }}<br>
                                        <small class="caption">{{ moment(obj.date_created).format('LT') }}</small>
                                    </div>
                                    <div class="column"
                                    >                                    {{ obj.code }}
                                    </div>
                                    <div class="column">
                                        ₦{{ number_format(obj.total) }}
                                    </div>

                                    <div class="column">
                                        <span class="status {{ obj.order_status.code }}">{{ obj.order_status.name }}</span>
                                    </div>
                                </div>


                                <div class="clearfix">

                                    <div class="order-items">
                                        {% for entry in obj.entries %}
                                            <div class="item">
                                                <img src="{{ entry.product.cover_image_url }}" width="50px">{{ entry.product.name }}
                                            </div>
                                        {% endfor %}


                                    </div>

                                    <div class="order-buttons">

                                        <a href="" target="_blank"
                                           class="btn btn-default" type="button">
                                            <span>Track Order</span>
                                        </a>


                                        <a class="btn btn-default" type="button"
                                           href="{{ url_for('.order_invoice',id=obj.id,code=obj.code) }}" target="_blank">
                                            <span>View Order</span>
                                        </a>


                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </section>
                <div class="clearfix"></div>
            </div>
            <div class="tab-pane" id="delivered">
                <section>
                    <div id="head-columns">
                        <div class="column">Order Date</div>
                        <div class="column">Order No.</div>
                        <div class="column"> Total</div>
                        <div class="column"> Status</div>
                    </div>
                    <div id="column_records">
                        {% for obj in lister(results.items, 'order_status.name', 'completed') %}
                            <div class="records-container">

                                <div class="record-info">
                                    <div class="column">
                                        {{ moment(obj.date_created).format('MMM Do, YYYY') }}<br>
                                        <small class="caption">{{ moment(obj.date_created).format('LT') }}</small>
                                    </div>
                                    <div class="column"
                                    >                                    {{ obj.code }}
                                    </div>
                                    <div class="column">
                                        ₦{{ number_format(obj.total) }}
                                    </div>

                                    <div class="column">
                                        <span class="status {{ obj.order_status.code }}">{{ obj.order_status.name }}</span>
                                    </div>
                                </div>


                                <div class="clearfix">

                                    <div class="order-items">
                                        {% for entry in obj.entries %}
                                            <div class="item">
                                                <img src="{{ entry.product.cover_image_url }}" width="50px">{{ entry.product.name }}
                                            </div>
                                        {% endfor %}


                                    </div>

                                    <div class="order-buttons">

                                        <a href="" target="_blank"
                                           class="btn btn-default" type="button">
                                            <span>Track Order</span>
                                        </a>


                                        <a class="btn btn-default" type="button"
                                           href="{{ url_for('.order_invoice',id=obj.id,code=obj.code) }}" target="_blank">
                                            <span>View Order</span>
                                        </a>


                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </section>
                <div class="clearfix"></div>
            </div>
            <div class="tab-pane" id="cancelled">
                <section>
                    <div id="head-columns">
                        <div class="column">Order Date</div>
                        <div class="column">Order No.</div>
                        <div class="column"> Total</div>
                        <div class="column"> Status</div>
                    </div>
                    <div id="column_records">
                        {% for obj in lister(results.items, 'order_status.name', 'cancelled') %}
                            <div class="records-container">

                                <div class="record-info">
                                    <div class="column">
                                        {{ moment(obj.date_created).format('MMM Do, YYYY') }}<br>
                                        <small class="caption">{{ moment(obj.date_created).format('LT') }}</small>
                                    </div>
                                    <div class="column"
                                    >                                    {{ obj.code }}
                                    </div>
                                    <div class="column">
                                        ₦{{ number_format(obj.total) }}
                                    </div>

                                    <div class="column">
                                        <span class="status {{ obj.order_status.code }}">{{ obj.order_status.name }}</span>
                                    </div>
                                </div>


                                <div class="clearfix">

                                    <div class="order-items">
                                        {% for entry in obj.entries %}
                                            <div class="item">
                                                <img src="{{ entry.product.cover_image_url }}" width="50px">{{ entry.product.name }}
                                            </div>
                                        {% endfor %}


                                    </div>

                                    <div class="order-buttons">

                                        <a href="" target="_blank"
                                           class="btn btn-default" type="button">
                                            <span>Track Order</span>
                                        </a>


                                        <a class="btn btn-default" type="button"
                                           href="{{ url_for('.order_invoice',id=obj.id,code=obj.code) }}" target="_blank">
                                            <span>View Order</span>
                                        </a>


                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </section>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

{% endblock profile_body %}

{% block page_js %}
{% endblock page_js %}