{% extends "public/profile/layout.html" %}
{% block profile_body %}
    <div class="cus-container container">
        <ul class="nav nav-pills" id="profile_setting_tab_nav" role="tablist">
            <li class="active"><a href="#profile-mangmnt" role="tab" data-toggle="tab" title="Update Profile"><i
                    class="fa fa-gear pr-5"></i> Update Profile</a></li>
            <li><a href="#security-mangmnt" role="tab" data-toggle="tab" title="Reset Password"><i
                    class="fa fa-lock pr-5"></i> Reset Password</a></li>
            <li><a href="#deactivate" role="tab" data-toggle="tab" title="Deactivate Account"><i
                    class="fa fa-warning pr-5"></i> Deactivate Account</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content clear-style" id="profile_setting_tab_content">
            <div class="tab-pane active" id="profile-mangmnt">
                <section>
                    <div class="col-md-8">
                        <form name="update_profile_form" method="post" action="{{ url_for('.profile_update') }}">
                            {{ update_profile_form.csrf_token }}

                            <div class="form-group col-md-6">
                                <label for="{{ update_profile_form.first_name.name }}">{{ update_profile_form.first_name.label.text }}</label>
                                {{ update_profile_form.first_name(class='form-control') }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="{{ update_profile_form.last_name.name }}">{{ update_profile_form.last_name.label.text }}</label>
                                {{ update_profile_form.last_name(class='form-control') }}
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label for="{{ update_profile_form.username.name }}">{{ update_profile_form.username.label.text }}</label>
                                {{ update_profile_form.username(class='form-control') }}
                            </div>
                            <div class="form-group">
                                <label for="{{ update_profile_form.phone.name }}">{{ update_profile_form.phone.label.text }}</label>
                                {{ update_profile_form.phone(class='form-control') }}
                            </div>
                            <div class="clearfix"></div>
                            <button type="submit" class="btn black-btn reverse">Submit <i class="fa fa-thumbs-o-up"></i></button>
                        </form>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <form action="{{ url_for('.upload_profile_pic') }}" method="post" enctype="multipart/form-data">
                            {{ profile_pic_form.csrf_token }}
                            <div id="img-preview" class="img-preview">

                                  </div>
                            <span>Upload Profile Picture</span>
                                    <input type="file" class="img-upload" id="images" name="images" multiple="multiple" target="#img-preview">
                            <button type="submit" class="btn black-btn reverse pull-right">Save <i class="fa fa-thumbs-up"></i></button>
                        </form>
                    </div>
                </section>
            </div>
            <div class="tab-pane" id="security-mangmnt">
                <section>
                    <div class="col-md-8">
                        <form name="password_reset_form" method="post"
                              action="{{ url_for('.profile_password_reset') }}">
                            {{ password_reset_form.csrf_token }}
                            <div class="form-group">
                                <label for="{{ password_reset_form.old_password.name }}">{{ password_reset_form.old_password.label.text }}</label>
                                {{ password_reset_form.old_password(class='form-control') }}
                            </div>
                            <div class="form-group">
                                <label for="{{ password_reset_form.new_password.name }}">{{ password_reset_form.new_password.label.text }}</label>
                                {{ password_reset_form.new_password(class='form-control') }}
                            </div>
                            <div class="form-group">
                                <label for="{{ password_reset_form.verify_password.name }}">{{ password_reset_form.verify_password.label.text }}</label>
                                {{ password_reset_form.verify_password(class='form-control') }}
                            </div>
                            <button type="submit" class="btn black-btn reverse">Submit <i class="fa fa-thumbs-o-up"></i></button>
                        </form>
                    </div>
                </section>
            </div>
            <div class="tab-pane" id="deactivate">
                <section>
                <div class="col-md-8">
                    <form action="{{ url_for('.profile_deactivate') }}" method="post">
                        <h4>Deactivate Account</h4>
                        <p>
                            Ever considered how much we'll miss you when you leave? We hate to see you go.
                            <br><small>Please Note that this action is irreversible</small>
                        </p>
                        <div class="btn-group">
                            <a href="{{ url_for('.profile') }}" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn black-btn">Deactivate</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                </section>
            </div>
        </div>

    </div>

{% endblock profile_body %}
{% block page_js %}
    <script>
    $(".clickable").each(function (idx, el) {
        var elem = $(el);
        var target = elem.data("target");
        var value = elem.data("value");
        var display = elem.data("display");
        var src = elem.data("src");

        elem.bind("click", function (e) {
            $(target).val(value);
            $(display).attr("src", src);
        });
    });

    // file preview using html5
    $(".img-upload").each(function (idx, el) {
        var elem = $(el);
        var target = elem.attr("target");
        elem.bind("change", function (e) {

            $(target).empty();

            $(this.files).each(function (i, f) {
                var reader = new FileReader();
                reader.readAsDataURL(f);
                reader.onload = function (evt) {
                    var thumb = $("<div/>", {"class": "thumb"}).append($("<img/>", {"src": evt.target.result}));
                    $(target).append(thumb);
                };
            })
        });
    });

</script>
{% endblock page_js %}

