{% extends "public/profile/layout.html" %}
{% block profile_body %}
    {% if results.total > 0 %}
    <ul class="cus-container wishlist container">
        {% for obj in results.items %}
            {% set product_name = obj.product.name %}
            <li class="span3">
                <div class="thumbnail">
                    <a href="{{ url_for('.product', id=obj.product_id, handle=product_name) }}"><img
                            src="{{ obj.product.cover_image_url }}" alt="" style="width: 160px; height: 160px"/></a>
                    <a href="{{ url_for('.product', id=obj.product_id, handle=product_name) }}">
                        <div class="caption">
                            <h5>{{ product_name }}</h5>
                            <p>
                                {{ obj.product.description }}
                            </p>
                            <h4>
                                {% if obj.product.is_discounted %}
                                    <small class="pull-left black-price-tag" style="width: 100%; padding-bottom: 5px;">
                                        ₦ {{ whole_number_format(obj.product.min_price) }} <span
                                            class="yellow-price-tag">₦ {{ whole_number_format(obj.product.max_price) }}</span>
                                    </small>
                                {% else %}
                                    <small class="pull-left black-price-tag" style="width: 100%; padding-bottom: 5px;">
                                        ₦ {{ whole_number_format(obj.product.price) }}</small>
                                {% endif %}
                            </h4>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </li>
        {% endfor %}
    <div class="clearfix"></div>
    {% include 'public/snippets/pagination.html' %}
    <div class="clearfix"></div>
    </ul>
    {% else %}
        <div class="cus-container container">
        <div class="social_bar">
			<div class="social_bar_heading">
				Wishlist is Empty
			</div>
			<div class="social_bar_subheading" style="line-height:1.7em;">
                Add your favourite products to wishlist to keep track of them.
			</div>
		</div>
    </div>
    {% endif %}
{% endblock profile_body %}

{% block page_js %}
{% endblock page_js %}