{% extends 'public/layout.html' %}

{% block body %}
{#<div class="container">#}
{#    <div class="row">#}
        <div class="col-lg-12">
            <h1>
                Frequently Asked Questions
            </h1>
        </div>
{#    </div>#}
{#</div>#}
{% endblock body %}