{% extends 'public/layout.html' %}

{% block body %}
    <p><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">PRIVACY STATEMENT</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">----</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">When you browse our store, we also automatically receive your computer&rsquo;s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">SECTION 2 - CONSENT</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">How do you get my consent?</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">How do I withdraw my consent?</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at </span><a
            style="-webkit-user-drag: none; color: #6611cc; cursor: text; pointer-events: none; font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"
            href="mailto:info@buyorbidng.com" target="_blank" rel="nofollow noopener">info@buyorbidng.com</a><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"> or mailing us at: Buyorbid 62 Old Yaba Road Yaba, Mushin, Lagos, Nigeria</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">SECTION 3 - DISCLOSURE</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Payment:</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If you choose a direct payment gateway to complete your purchase, then Shopify stores your credit card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your purchase transaction data is stored only as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is deleted.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">For more insight, you may also want to read Shopify&rsquo;s Terms of Service here or Privacy Statement here.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">SECTION 4 - THIRD-PARTY SERVICES</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">In particular, remember that certain providers may be located in or have facilities that are located in a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">As an example, if you are located in Nigeria and your transaction is processed by a payment gateway located in the United States, then your personal information used in completing that transaction may be subject to disclosure under United States legislation, including the Patriot Act.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Once you leave our store&rsquo;s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website&rsquo;s Terms of Service.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Links</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">When you click on links on our store, they may direct you away from our site. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">SECTION 6 - SECURITY</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/>
{#        <br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">COOKIES</span><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Here is a list of cookies that we use. We&rsquo;ve listed them here so you can choose if you want to opt-out of cookies or not.</span><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">_session_id, unique token, sessional, Allows Shopify to store information about your session (referrer, landing page, etc).</span><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">_shopify_visit, no data held, Persistent for 30 minutes from the last visit, Used by our website provider&rsquo;s internal stats tracker to record the number of visits</span><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">_shopify_uniq, no data held, expires midnight (relative to the visitor) of the next day, Counts the number of visits to a store by a single customer.</span><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">cart, unique token, persistent for 2 weeks, Stores information about the contents of your cart.</span><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">_secure_session_id, unique token, sessional</span><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">storefront_digest, unique token, indefinite If the shop has a password, this is used to determine if the current visitor has access.</span><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br#}
{#            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/>#}
        <br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">SECTION 7 - AGE OF CONSENT</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">SECTION 8 - CHANGES TO THIS PRIVACY POLICY</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">QUESTIONS AND CONTACT INFORMATION</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at </span><a
            style="-webkit-user-drag: none; color: #6611cc; cursor: text; pointer-events: none; font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"
            href="mailto:info@buyorbidng.com" target="_blank" rel="nofollow noopener">info@buyorbidng.com</a><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"> or by mail at Buyorbid</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">[Re: Privacy Compliance Officer]</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">[62 Old Yaba Road Yaba, Mushin, Lagos, Nigeria]</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">----</span>
    </p>
{% endblock %}