{% extends "public/layout.html" %}

{% block body %}
    <p><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">RETURNS</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">----</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Our policy lasts 7 days. If 7 days have gone by since delivery confirmation, unfortunately we can&rsquo;t offer you a refund or exchange.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Additional non-returnable items:</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">* Gift cards</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">* Downloadable software products</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">* Some health and personal care items</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">To complete your return, we require a receipt or proof of purchase.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">There are certain situations where only partial refunds are granted: (if applicable)</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">* Book with obvious signs of use</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">* CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">* Any item not in its original condition, is damaged or missing parts for reasons not due to our error.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">* Any item that is returned more than 7 days after delivery</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Refunds (if applicable)</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Late or missing refunds (if applicable)</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If you haven&rsquo;t received a refund yet, first check your bank account again.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Then contact your credit card company, it may take some time before your refund is officially posted.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Next contact your bank. There is often some processing time before a refund is posted.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If you&rsquo;ve done all of this and you still have not received your refund yet, please contact us at </span><a
            style="-webkit-user-drag: none; color: #6611cc; cursor: text; pointer-events: none; font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"
            href="mailto:info@buyorbidng.com" target="_blank" rel="nofollow noopener">info@buyorbidng.com</a><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Sale items (if applicable)</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Only regular priced items may be refunded, unfortunately sale items cannot be refunded.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Exchanges (if applicable)</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">We only replace items if they are defective or damaged. If you need to exchange it for the same item, send us an email at %{email %&gt; and send your item to: 62 Old Yaba Road Yaba, Mushin, Lagos, Nigeria.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Gifts</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If the item was marked as a gift when purchased and shipped directly to you, you&rsquo;ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If the item wasn&rsquo;t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Shipping</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">To return your product, you should mail your product to: 62 Old Yaba Road Yaba, Mushin, Lagos, Nigeria.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">Depending on where you live, the time it may take for your exchanged product to reach you, may vary.</span><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><br
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;"/><span
            style="color: rgba(0, 0, 0, 0.87); font-family: 'Roboto Slab', 'Times New Roman', serif; font-variant-ligatures: none; white-space: pre-wrap; background-color: #fafafa;">If you are shipping an item over N20,000, you should consider using a trackable shipping service or purchasing shipping insurance. We don&rsquo;t guarantee that we will receive your returned item.</span>
    </p>
{% endblock %}