{% extends "admin/layout.html" %}
{% block title %}
    {{ pageTitle }}
{% endblock title %}
{% block body %}
<div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <a class="btn btn-default pull-right" type="button"
                   href="javascript:history.go(-1)">

                    <i class="fa fa-angle-left"></i>
                     <span>Back</span>
                </a>
                <h1>Message
                    <small>({{ obj.subject }})</small>
                </h1>
            </div>
        </div>
    </div>
<div class="row inbox form-body">
	<div class="col-md-12">
		<div class="inbox-view-info">
			<div class="row">
                <div class="col-md-12"><h4>Subject: {{ obj.subject }}</h4></div>
				<div class="col-md-7">
					<span class="bold">{{obj.name}}</span>
					<span>&#60;{{obj.email}}&#62;</span> to <span class="bold">me</span> on {{obj.date_created.strftime('%b %d, %Y %H:%M %p')}}<br>
					<span><i class="fa fa-phone"></i>... {{obj.phone}}</span>
					{% if obj.url %}<br><span class="bold">URL: <a href="{{shop.url}}{{obj.url}}">{{obj.shop.url}}{{obj.url}}</a></span>{% endif %}
				</div>
				<div class="col-md-5 inbox-info-btn">
				</div>
			</div>
		</div>
		<div class="inbox-view" style="padding: 10px 0;">
		{{obj.body|safe}}
		</div>
	</div>
	<div class="hidden-print">
		<hr class="faded">
		<div class="col-md-12">
			<form action="{{request.path}}" method="post" enctype="multipart/form-data">
				{{form.csrf_token}}
				<div class="form-group {% if form.body.errors %} has-error {% endif %}">
				  	<label style="font-weight: bold;" for="{{form.body.name}}">{{form.body.label.text}}</label>
				   {{form.body(class='form-control rich-text')}}
				   {% if form.body.errors %}
				   {% for e in form.body.errors %}<span class="help-block">{{e}}</span>{% endfor %}
				  {% endif %}
				</div>
				<div class="right" style="text-align: right;">
			        <a href="javascript:history.go(-1)" class="btn default">Cancel</a>
			        <button type="submit" class="btn green"><i class="fa fa-check"></i> Send</button>
			    </div>
		    </form>
		</div>
		<h3>Responses</h3>
		<hr class="faded"/>
		{% for resp in obj.responses %}
		<div>
			<p><strong>{% if resp.user.username %}{{resp.user.username}}{% else %}{{resp.user.full_name}}{% endif %}</strong> on {{resp.date_created.strftime('%b %d, %Y %H:%M %p')}}</p>
			{% autoescape off %}
			{{resp.body|default("")}}
			{% endautoescape %}
			<hr class="faded"></hr>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}