{% extends "admin/layout.html" %}
{% block head_js %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea',
                            plugins: ["anchor code link image media"],
                            force_br_newlines : false,
                            force_p_newlines : false,
                            forced_root_block : '',
                            file_browser_callback: function(field_name, url, type, win) {
{#                            win.document.getElementById(field_name).value = 'file';#}
                                if(type=='image') $('#my_form input').click();
                            },
                            automatic_uploads: true,
                            });
    </script>
{% endblock head_js %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flashbox" class="row">
                <div class="col-md-12">
                    <div class="note note-danger">
                        {% for message in messages %}
                            <p>
                                {{ message|safe }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Details for {{ product.name }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" style="padding-bottom: 20px">
    <iframe id="form_target" name="form_target" style="display:none"></iframe>
                                <form id="my_form" action="{{ url_for('.upload_image') }}" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
                                    <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
                                </form>
        <form role="form" name="form" action="{{ request.path }}" enctype="multipart/form-data"
              method="post">
            {{ form.csrf_token }}
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Table information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">

                                <div class="form-group {% if form.t_name.errors %} has-error {% endif %}">
                                    <label for="{{ form.t_name.name }}">{{ form.t_name.label.text }}</label>
                                    {{ form.t_name(class='form-control') }}
                                    {% if form.t_name.errors %}
                                        {% if form.t_name.description %}
                                            <span class="help-block">{{ form.t_name.description }}</span>{% endif %}
                                        {% for e in form.t_name.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.t_content.errors %} has-error {% endif %}">
                                    <label for="{{ form.t_content.name }}">{{ form.t_content.label.text }}</label>
                                    {{ form.t_content(id='tags', class='form-control rich-text') }}
                                    {% if form.t_content.description %}
                                        <span class="help-block">{{ form.t_content.description }}</span>{% endif %}
                                    {% if form.t_content.errors %}
                                        {% for e in form.t_content.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% for c in categories %}
                                <button type="button" onclick="select_tags(this)" class="btn green" value="{{ c.detail_tag }}">{{ c.name }}</button>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Text information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">

                                <div class="form-group {% if form.tx_name.errors %} has-error {% endif %}">
                                    <label for="{{ form.tx_name.name }}">{{ form.tx_name.label.text }}</label>
                                    {{ form.tx_name(class='form-control') }}
                                    {% if form.tx_name.errors %}
                                        {% if form.tx_name.description %}
                                            <span class="help-block">{{ form.tx_name.description }}</span>{% endif %}
                                        {% for e in form.tx_name.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <div class="form-group {% if form.tx_content.errors %} has-error {% endif %}">
                                    <label for="{{ form.tx_content.name }}">{{ form.tx_content.label.text }}</label>
                                    {{ form.tx_content(class='form-control rich-text') }}
                                    {% if form.tx_content.description %}
                                        <span class="help-block">{{ form.tx_content.description }}</span>{% endif %}
                                    {% if form.tx_content.errors %}
                                        {% for e in form.tx_content.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Photo show
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8">
                                <p>shoe size chart link:  http://res.cloudinary.com/rusty-x/image/upload/v1509948384/utility/shoe-size-chart-countries.jpg</p>
                                <p>women clothing chart link:  http://res.cloudinary.com/rusty-x/image/upload/v1509948384/utility/womens-clothing-size-conversion-chart_grande.jpg</p>
                                <p>mens clothing chart link:  http://res.cloudinary.com/rusty-x/image/upload/v1510133640/mens_chart_oz2umw.gif</p>
                                <p>womens(small) clothing chart link:  http://res.cloudinary.com/rusty-x/image/upload/v1510133640/womens_chart_xnsjja.gif</p>
                                <div class="form-group {% if form.ps_name.errors %} has-error {% endif %}">
                                    <label for="{{ form.ps_name.name }}">{{ form.ps_name.label.text }}</label>
                                    {{ form.ps_name(class='form-control') }}
                                    {% if form.ps_name.errors %}
                                        {% if form.ps_name.description %}
                                            <span class="help-block">{{ form.ps_name.description }}</span>{% endif %}
                                        {% for e in form.ps_name.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.ps_content.errors %} has-error {% endif %}">
                                    <label for="{{ form.ps_content.name }}">{{ form.ps_content.label.text }}</label>
                                    {{ form.ps_content(class='form-control rich-text') }}
                                    {% if form.ps_content.description %}
                                        <span class="help-block">{{ form.ps_content.description }}</span>{% endif %}
                                    {% if form.ps_content.errors %}
                                        {% for e in form.ps_content.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Product video
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                                <div class="form-group {% if form.v_name.errors %} has-error {% endif %}">
                                    <label for="{{ form.v_name.name }}">{{ form.v_name.label.text }}</label>
                                    {{ form.v_name(class='form-control') }}
                                    {% if form.v_name.errors %}
                                        {% if form.v_name.description %}
                                            <span class="help-block">{{ form.v_name.description }}</span>{% endif %}
                                        {% for e in form.v_name.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.v_content.errors %} has-error {% endif %}">
                                    <label for="{{ form.v_content.name }}">{{ form.v_content.label.text }}</label>
                                    {{ form.v_content(class='form-control rich-text') }}
                                    {% if form.v_content.description %}
                                        <span class="help-block">{{ form.v_content.description }}</span>{% endif %}
                                    {% if form.v_content.errors %}
                                        {% for e in form.v_content.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
            <div class="form-actions right">
                <a href="{{ url_for('.index') }}" class="btn default">Cancel</a>
                <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
            </div>

        </form>
        </div>
        <!-- /.col-lg-12 -->
{#    </div>#}
    <!-- /.row -->
    <script type=text/javascript>
        function toggleElement(switcher, elem) {
{#            console.log(switcher);#}
{#            console.log(elem);#}
{#                    s = document.getElementById(switcher);#}
                    d = document.getElementById(elem);
                    if (switcher.checked){
                        d.style.display = "block";
                    }
                    else d.style.display = "none";


        }

        function select_tags(a) {
            var tag_field = document.getElementById("tags");
            console.log(a.value);
            console.log(tag_field);
            tag_field.innerHTML = a.value;
            tag_field.value = a.value;
            tag_field.style.display = "block"
        }
    </script>
{% endblock body%}

{% block extra_js %}

    <script>
        $(".clickable").each(function (idx, el) {
            var elem = $(el);
            var target = elem.data("target");
            var value = elem.data("value");
            var display = elem.data("display");
            var src = elem.data("src");

            elem.bind("click", function (e) {
                $(target).val(value);
                $(display).attr("src", src);
            });
        });

        $('#my_form').submit(function(){
            var form = $('#my_form')[0];
            console.log(form);
            var fd = new FormData(form);
            $.ajax({
              url: $('#my_form').attr('action'),
              type: 'POST',
              data : fd,
              processData: false,  // tell jQuery not to process the data
              contentType: false,
              success: function(res){
                console.log('form submitted.');
                top.$('.mce-btn.mce-open').parent().find('.mce-textbox').val(res).closest('.mce-window').find('.mce-primary').click();
              }
            });
            return false;
        });


        // file preview using html5
        $(".img-upload").each(function (idx, el) {
            var elem = $(el);
            var target = elem.attr("target");
            elem.bind("change", function (e) {

                $(target).empty();

                $(this.files).each(function (i, f) {
                    var reader = new FileReader();
                    reader.readAsDataURL(f);
                    reader.onload = function (evt) {
                        var thumb = $("<div/>", {"class": "thumb"}).append($("<img/>", {"src": evt.target.result}));
                        $(target).append(thumb);
                    };
                })
            });
        });

    </script>
{% endblock extra_js %}