{% extends "public/layout.html" %}
{% block body %}
{% include 'public/snippets/sidebar.html' %}
<div class="span9">
	<ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">Auctions</li>
	</ul>

<br class="clr"/>
<div class="tab-content">
    <div class="tab-pane  active" id="blockView">
	<ul class="thumbnails">
        {% for obj in auctions %}
        <li class="span3">
			<div class="thumbnail">
			<a href="{{ url_for('.auction') }}"><img src="{{ obj.cover_image.url }}" alt="" style="width: 160px; height: 160px"/></a>
			<a href="{{ url_for('.auction') }}">
                <div class="caption">
                    <h5>{{ obj.title }}</h5>
                    <p>
                    {{ obj.name }}
                    </p>
                    <h4>
                        <a class="btn btn-warning bob pull-right" href="#">Add to <i class="fa fa-heart"></i></a>
                        {% if obj.is_discounted %}
                            <small class="pull-left"> ₦{{ whole_number_format(obj.min_price) }} <span>₦{{ whole_number_format(obj.max_price) }}</span></small>
                        {% else %}
                            <small class="pull-left">₦{{ whole_number_format(obj.price) }}</small>
                        {% endif %}
                    </h4>
                    <div class="clearfix"></div>
                </div>
            </a>
			</div>
		</li>
        {% endfor %}
    </ul>

</div>
</div>
<div class="pagination pull-right">
	<ul>
	<li><a href="#">&lsaquo;</a></li>
	<li><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">...</a></li>
	<li><a href="#">&rsaquo;</a></li>
	</ul>
</div>
<div class="clearfix"></div>
</div>
{% endblock body %}
