{% extends "public/layout.html" %}
{% block body %}
<!-- Sidebar ==================================================-->
    <div class="span8">
        <form id="checkoutform" name="cartForm" class="responsive-col-60" action="{{ request.path }}" method="post">
            <div class="form-section">
                <h4>Customer Information</h4>
                <p class="light-font">This informtation will help get your order to you on time</p>
                <div class="inline-form-row">
                    <fieldset>
                        <label>First Name</label>
                        {{ form.first_name(placeholder='First Name') }}
                    </fieldset>
                    <fieldset>
                        <label>Last Name</label>
                        {{ form.last_name(placeholder='Last Name') }}
                    </fieldset>
                </div>
                <div class="inline-form-row">
                    <fieldset class="wide-select">
                        <label>Street</label>
                        {{ form.address_line1(placeholder='Address Line 1') }}
                    </fieldset>
                    <fieldset>
                        <label>Number</label>
                        <input type="text" placeholder="House/Apt. Num">
                    </fieldset>
                </div>
                <div class="inline-form-row" style="width: 101%">
                    <fieldset>
                        <label>Country</label>
                        {{ form.country_code }}
                    </fieldset>
                    <fieldset>
                        <label>State</label>
                        {{ form.state_code }}
                    </fieldset>
                    <fieldset>
                        <label>City</label>
                        {{ form.city }}
                    </fieldset>
                </div>
                <div class="inline-form-row">
                    <fieldset>
                        <label>Email</label>
                        {{ form.email(placeholder='Email') }}
                    </fieldset>
                    <fieldset>
                        <label>Phone Number</label>
                        {{ form.phone(placeholder='Phone Number') }}
                    </fieldset>
                </div>
            </div>
            <div class="form-section">
                <div class="checkout-padding">
                    <h4>Shipping Method</h4>
                    <p class="light-font">Choose your preferred shipping method. We currently provide payment pick up or
                        delivery</p>
                    <div class="checkout-method-container">
                        {% for option in delivery_options %}
                            <div class="checkout-method">
                                <input type="radio" name="delivery_option_code" value={{option.code}} />
                                <span>{{ option.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="form-section">
                <div class="checkout-padding" id="last-checkout-item">
                    <h4>Payment Method</h4>
                    <p class="light-font">Select your preferred payment method. You can either pay online or on
                        delivery</p>
                    <div class="checkout-method-container">
                        {% for option in payment_options %}
                            {% if option.code is equalto 'recurrent_card' %}
                                <div class="checkout-method">
                                    <div>
                                        <input type="radio" name="payment_option_id" onchange="toggleElement(this, 'attrs')" value={{option.code}} />
                                        <span>{{ option.name}}</span>
                                        <div id="cards" style="display: none">
{#                                            {{ form.card_id }}#}
                                            <select id="card_id", name="card_id">
                                            {% for i in cards %}
                                                <option value="{{ i.id }}">{{ i.mask }} <span>{{ i.brand }}</span></option>
                                            {% endfor %}
                                            </select>
                                    </div>
                                    <div class="card-images">
{#                                        <div style="background-image: url('/static/images/visa.svg')"></div>#}
{#                                        <div style="background-image: url('/static/images/mastercard.svg')"></div>#}
{#                                        <div style="background-image: url('/static/images/interswitch.svg')"></div>#}
{#                                        <div style="background-image: url('/static/images/verve.svg')"></div>#}
                                    </div>
                                </div>
                            {% else %}
                                <div class="checkout-method">
                                    <input type="radio" name="payment_option_id" onchange="toggleElement(this, 'attrs')" value={{option.code}} />
                                    <span>{{ option.name}}</span>
                                    <fieldset id="attrs" style="display: none">
                                        {{ form.card_number(placeholder="card number") }}
                                        {{ form.expiry_month(placeholder="expiry month") }}
                                        {{ form.expiry_year(placeholder="expiry year") }}
                                        {{ form.cvv(placeholder="cvv") }}
                                        {% if current_user.is_authenticated() %}
                                        {{ form.save_card }}
                                        {% endif %}
                                    </fieldset>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            </div>
            <div class="form-section submit">
                <button type="submit" value="Submit" class="button green" name="submit">place order</button>
            </div>
        </form>
    </div>
{#    </div>#}
    <div class="span4">
        <div class="shopping-cart" ng-controller="CartController" ng-init="init()">
                <div>
                    <div class="pull-left"><h4>My Cart ([[total_quantity]])</h4></div>
                </div>
                {% if cart.cart_items.count() == 0 %}
                    <div class=" clearfix empty-cart">
    {#                    <div class="empty-cart-icon" style="background-image: url('/static/images/empty-cart.svg');"></div>#}
                        <p class="small-font uppercase text-center">Your shopping Cart Is Empty</p>
                    </div>
                {% endif %}
                <div class="clearfix shopping-cart-items">

                    <div class="clearfix shopping-cart-item" ng-repeat="obj in cart_items">
    {#                    <div class="shopping-cart-item-image"#}
    {#                         style="background-image:url('[[obj.cover_image_url]]'); background-position:center; background-size:contain; background-repeat:no-repeat"></div>#}
                        <div class="shopping-cart-item-info">
                            <h5>[[obj.product_name]]</h5>
                            <p class=" light-font small-font">[[obj.variant_name]]</p>
                            <p class="shopping-cart-item-qty light-font small-font">Qty: [[obj.quantity]]</p>
                            <h5>N[[obj.total|number]]</h5>
                        </div>
                    </div>
                    <div class="shopping-cart-sub-total">
                        <h5>Sub-Total:</h5>
                        <h5>N[[sub_total|number]]</h5>
                    </div>
                    <div class="shopping-cart-sub-total">
                        <h5>Delivery Charge:</h5>
                        <h5>N[[delivery_charge|number]]</h5>
                    </div>
                    <div class="shopping-cart-sub-total">
                        <h5>Total:</h5>
                        <h5>N[[delivery_charge+sub_total|number]]</h5>
                    </div>
                    <div>
                        <small ng-click="clearCart()">Clear Cart</small>
                    </div>
                    <a href="{{ url_for('.cart') }}"><span id="chckout_btn"
                                                           class="btn btn-large btn-warning bob">Checkout</span></a>
                </div>
        </div>
    </div>


    <script type=text/javascript>
        function toggleElement(switcher, elem) {
                        console.log(switcher);
                        console.log(elem);
                        console.log(switcher.value);
{#                                s = document.getElementById(switcher);#}
            var d = document.getElementById(elem);
            if (switcher.checked && switcher.value == "new_card") {
                d.style.display = "block";
            }
            else d.style.display = "none";
            var c = document.getElementById("cards");

            if (switcher.checked && switcher.value == "recurrent_card") {
                c.style.display = "block";
            }
            else c.style.display = "none";

{#            var rad = document.cartForm.payment_option_id;#}
{#            var prev = null;#}
{#            for (var i = 0; i < rad.length; i++) {#}
{#                rad[i].onclick = function () {#}
{#                    (prev) ? console.log(prev.value) : null;#}
{#                    if (this !== prev) {#}
{#                        prev = this;#}
{#                    }#}
{#                    console.log(this.value)#}
{#                };#}
{#            }#}

        }
    </script>
{% endblock body %}

{% block page_js %}
    <script src="{{ url_for('static', filename='public/js/bob.js') }}"></script>
    <script>
        $("button[name^=submit]").click(function(event){
            event.preventDefault();
            $("#checkoutform")[0].reset();
            var ne = {{ js.dumps(enc_form(enc_key, form, form_class)|safe)|safe }}
            console.log(ne);
            $("form").attr("action", "/cart/").submit()
        })
    </script>
{% endblock %}
