{% extends "public/layout.html" %}
{% block fbevent_code %}
    fbq('track', 'InitiateCheckout');
{% endblock fbevent_code %}
{% block body %}
    <style>
    #quick_user_password{
        width: 60%;
    }
    </style>
    <!-- Sidebar ==================================================-->
        <div id="splash-screen"></div>
        <div id="splash-screen-dialog">
            <div class="splash-wrap">
                <input type="hidden" name="quick_user_id" id="quick_user_id">
                <div class="splash-screen-content">
                    <h3 class="title">QUICK SIGNUP</h3>

                    <p>
                        Create an account fast just by setting a password
                    </p>

                    <p>

                        <input id="quick_user_password" name="quick_user_password" placeholder="Enter Password" type="password">
                    </p>

                    <em>
                        <span class="small_title">We love you blah blah blah... <img src="/static/public/images/ico/smiley-wink.svg" alt="" width="20px"></span>
                    </em><br>

                </div>
                <div class="splash-screen-actions">
                    <a href="" id="cancel-button" class="btn btn-default">
                        Cancel <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                    <a id="quick_user_submit_btn" class="btn btn-warning">
                        Submit <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
    <form name="cartForm" class="responsive-col-60" action="{{ request.path }}" method="post" id="checkoutform">
        {{ form.csrf_token }}
        <input type="hidden" id="quick_signup_success" name="quick_signup_success" class="hidden">
        <div class="span8">
            <div class="form-section">
                <h4>Customer Information</h4>
                <p class="light-font">This informtation will help get your order to you on time</p>
                <div class="inline-form-row">
                    <fieldset>
                        <label>First Name</label>
                        {{ form.first_name(placeholder='First Name') }}
                        {% for e in form.first_name.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>
                    <fieldset>
                        <label>Last Name</label>
                        {{ form.last_name(placeholder='Last Name') }}
                        {% for e in form.last_name.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>
                </div>
                <div class="inline-form-row">
                    <fieldset>
                        <label>Number</label>
                        {{ form.house_number(placeholder='House/Apt. Num') }}
                        {% for e in form.house_number.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>
                    <fieldset class="wide-select">
                        <label>Street</label>
                        {{ form.address_line1(placeholder='Address Line 1') }}
                        {% for e in form.address_line1.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>

                </div>
                <div class="inline-form-row" style="width: 101%">
                    <fieldset>
                        <label>Country</label>
                        {{ form.country_code }}
                        {% for e in form.country_code.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>
                    <fieldset>
                        <label>State</label>
                        {{ form.state_code(onchange="get_delivery_fee(this)") }}
                        {% for e in form.state_code.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>
                    <fieldset>
                        <label>City</label>
                        {{ form.city }}
                        {% for e in form.city.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>
                </div>
                <div class="inline-form-row">
                    <fieldset>
                        <label>Email</label>
                        {{ form.email(placeholder='Email') }}
                        {% for e in form.email.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>
                    <fieldset>
                        <label>Phone Number</label>
                        {{ form.phone(placeholder='Phone Number') }}
                        {% for e in form.phone.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                    </fieldset>
                </div>
            </div>
            {#			<div class="form-section">#}
            {#				<div class="checkout-padding">#}
            {#					<h4>Shipping Method</h4>#}
            {#					<p class="light-font">Choose your preferred shipping method. We currently provide payment pick up or delivery</p>#}
            {#					<div class="form-group  {% if form.delivery_option_code.errors %} has-error {% endif %}" >#}
            {#						<div class="checkbox-list smth_radio_select">#}
            {#							{% for subfield in form.delivery_option_codes %}#}
            {#								<label class="checker" style="margin-right: 1em; margin-bottom: 1em;">{{subfield}} {{subfield.label}}</label>#}
            {#							{% endfor %}#}
            {#							{% if form.delivery_option_code.errors %}#}
            {#								{% for e in form.delivery_option_code.errors %}<span class="error help-block">{{e}}</span>{% endfor %}#}
            {#							{% endif %}#}
            {#						</div>#}
            {#					</div>#}
            {#					<div class="form-group {% if form.delivery_option_code.errors %} has-error {% endif %} hidden">#}
            {#						<label for="{{form.delivery_option_code.name}}">Delivery Method</label>#}
            {#							{{form.delivery_option_code(class="form-control")}}#}
            {#							{% if form.delivery_option_code.errors %}#}
            {#								{% for e in form.delivery_option_code.errors %}<span class="error help-block">{{e}}</span>{% endfor %}#}
            {#							{% endif %}#}
            {#					 </div>#}
            {#				</div>#}
            {#			</div>#}
            <div class="form-section">
                <div class="checkout-padding">
                    <h4>Payment Method</h4>
                    <p class="light-font">Select your preferred payment method. You can either pay online or on
                        delivery</p>
                    <div class="form-group  {% if form.payment_option_id.errors %} has-error {% endif %}">
                        <div class="checkbox-list smth_radio_select">
                            {% for subfield in form.payment_option_ids %}
                                <label class="checker"
                                       style="margin-right: 1em; margin-bottom: 1em;">{{ subfield }} {{ subfield.label }}</label>
                            {% endfor %}
                            {% if form.payment_option_id.errors %}
                                {% for e in form.payment_option_id.errors %}<span class="error help-block">{{ e }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.payment_option_id.errors %} has-error {% endif %} hidden">
                        <label for="{{ form.delivery_option_code.name }}">Payment Method</label>
                        {{ form.payment_option_id(class="form-control") }}
                        {% if form.payment_option_id.errors %}
                            {% for e in form.payment_option_id.errors %}<span class="error help-block">{{ e }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="pay_op_ops" class="hidden"
                         style="padding: 20px 10px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;background: #fcfcfc;">
                        {% if current_user.is_authenticated() %}
                            <div class="hidden" id="2">
                                <div class="form-group  {% if form.card_id.errors %} has-error {% endif %}">
                                    <div class="checkbox-list smth_radio_select">
                                        {% for subfield in form.card_ids %}
                                            <label class="checker" style="margin-right: 1em; margin-bottom: 1em;">

                                                {{ subfield }}
                                                <label for="card_ids-{{ loop.index-1 }}">
                                                    {{ card_label_design(subfield.data)|safe }}
                                                </label>
                                            </label>
                                        {% endfor %}
                                        {% if form.card_id.errors %}
                                            {% for e in form.card_id.errors %}<span class="error help-block">{{ e }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group {% if form.card_id.errors %} has-error {% endif %} hidden">
                                    <label for="{{ form.card_id.name }}">RecurrentCard</label>
                                    {{ form.card_id(class="form-control") }}
                                    {% if form.card_id.errors %}
                                        {% for e in form.card_id.errors %}<span class="error help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group hidden" id="3">
                            <label><strong>Enter Card Details</strong></label>
                            <div class="wrap payment_cards">
                                <img class="pc_s" id="pc_mastercard"
                                     src="{{ url_for('static', filename='public/images/ico/mastercard.ico') }}" alt="">
                                <img class="pc_s" id="pc_visa"
                                     src="{{ url_for('static', filename='public/images/ico/visa_1.png') }}" alt="">
                            </div>
                            <div class="wrap third">
                                <div class="form-group">
                                    {{ form.card_number(placeholder="1234 1234 1234 1234", class="cc-number") }}
                                </div>
                                <div class="form-group">
                                    {{ form.card_expiry(placeholder="MM / YY", class="cc-exp") }}
                                </div>
                                <div class="form-group">
                                    {{ form.cvv(placeholder="CVV", class="cc-cvc") }}
                                </div>
                            </div>
                            <div class="wrap half contact">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            {% if current_user.is_authenticated() %}
                                <div class="form-group">
                                    {{ form.save_card }} <span><strong>Choose to save card details</strong></span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-section" style="border-bottom: 0;">
                <div class="checkout-padding" id="last-checkout-item">
                    <h4>Coupons</h4>
                    <p class="light-font">You have a total of <span style="font-size: large;color: #ff570a;">₦{{ whole_number_format(coupons|sum(attribute='amount')) }}</span> in coupons.
                        Apply relevant coupons to this order <span style="color: #ff570a;">(maximum of one coupon per order)</span></p>
                    {% if current_user.is_authenticated() %}
                        {% if user.email_verified %}
                            <div class="form-group {% if form.bob_coupon.errors %} has-error {% endif %}">
                                <label for="{{ form.bob_coupon.name }}">BOB Coupon</label>
                                {% if coupons|length > 0 %}
                                    <select id="bob_coupon" name="bob_coupon" onclick="apply_bob(this)">
                                        {#							{{form.bob_coupon(class="form-control")}}#}
                                        <option id="0" value="0">Select a coupon</option>
                                        {% for o in coupons %}
                                            {% if o.disable %}
                                            <option id={{ o.amount }} value={{ o.id }} disabled>BOB
                                                ₦{{ whole_number_format(o.amount) }} Discount&nbsp;  -&nbsp; Orders above ₦{{ whole_number_format(o.min_spend) }}</option>
                                            {% else %}
                                            <option id={{ o.amount }} value={{ o.id }} >BOB
                                                ₦{{ whole_number_format(o.amount) }} Discount&nbsp;  -&nbsp; Orders above ₦{{ whole_number_format(o.min_spend) }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <p>You have no coupons that apply to this order</p>
                                {% endif %}
                                {% if form.bob_coupon.errors %}
                                    {% for e in form.bob_coupon.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% else %}
                            <p style="color: #ff570a;">Uh-hoooo! you need to verify your email to use your coupons.
                                <a href="#"
                                   onclick="verify_email('{{ url_for('.verify', id=user.id, type="email", next_url=request.path) }}')">Verify</a><br>
                                <span id="verify-text" style="display: none">An E-mail has been sent to your registered email address please follow the link there or proceed without coupons</span>
                            </p>
                            <div class="form-group {% if form.bob_coupon.errors %} has-error {% endif %}">
                                <label for="{{ form.bob_coupon.name }}">BOB Coupon</label>
                                {% if coupons|length > 0 %}
                                    <select id="bob_coupon" name="bob_coupon" onclick="apply_bob(this)">
                                        {#							{{form.bob_coupon(class="form-control")}}#}
                                        <option id="0" value="0">Select a coupon</option>
                                        {% for o in coupons %}
                                            <option id={{ o.amount }} value={{ o.id }} disabled>BOB
                                                ₦{{ whole_number_format(o.amount) }} Discount&nbsp;  -&nbsp; Orders above ₦{{ whole_number_format(o.min_spend) }}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <p>You have no coupons that apply to this order</p>
                                {% endif %}
                                {% if form.bob_coupon.errors %}
                                    {% for e in form.bob_coupon.errors %}<span class="error help-block">{{ e }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% else %}
                        <p>You must be signed in to use your coupons <a href="#">
                            <small>sign in</small>
                        </a></p>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="span4">
            <div class="shopping-cart checkout" ng-controller="CartController" ng-init="init()">
                {% if is_quick_checkout %}
                    <div>
                        <div class="pull-left"><h4>Review</h4></div>
                    </div>
                {% else %}
                    <div>
                        <div class="pull-left">
                            <h4>My Cart
                                <small class="ng-cloak cloak" ng-cloak ng-if="total_quantity">([[total_quantity]])
                                </small>
                            </h4>
                        </div>
                    </div>
                {% endif %}
                {% if cart.cart_items.count() == 0 %}
                    <div class=" clearfix empty-cart">
                        <p class="small-font uppercase text-center">Your shopping Cart Is Empty</p>
                    </div>
                {% endif %}
                {% if is_quick_checkout %}
                    <div class="clearfix shopping-cart-items">
                        {% for obj in cart.cart_items %}
                            <div class="clearfix shopping-cart-item">
                                <div class="shopping-cart-item-image {% if obj.variant.quantity<1 %}grayscale{% endif %}"
                                     style="background-image:url('{{ obj.product.cover_image_url }}'); background-position:center; background-size:contain; background-repeat:no-repeat"></div>
                                <div class="shopping-cart-item-info">
                                    <h5 class="{% if obj.variant.quantity<1 %}caption_color{% endif %}">{{ obj.product.name }}</h5>
                                    <p class=" light-font small-font">{{ obj.variant.name }}</p>
                                    <p class="shopping-cart-item-qty light-font small-font">Qty: {{ obj.quantity }}</p>
                                    <h5>₦{{ number_format(obj.total) }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="shopping-cart-sub-total">
                            <h5>Sub-Total:</h5>
                            <h5>₦{{ cart.sub_total }}</h5>
                        </div>
                        <div class="shopping-cart-sub-total">
                            <h5>Delivery Charge:</h5>
                            <h5 id="delivery-fee">₦{{ cart.delivery_charge }}</h5>
                        </div>
                        {% for coupon in cat_coupons %}
                            <div class="shopping-cart-sub-total">
                                <h5>{{ coupon.category.name }} coupon:</h5>
                                <h5> - ₦{{ coupon.amount }}</h5>
                            </div>
                        {% endfor %}
                        <div class="shopping-cart-sub-total">
                            <h5>BOB Coupon:</h5>
                            <h5 id="bob-applied">- ₦0</h5>
                        </div>
                        {#					<div class="shopping-cart-sub-total">#}
                        {#						<h5>Total:</h5>#}
                        {#						<h5>N[[delivery_charge+sub_total|number]]</h5>#}
                        {#					</div>#}
                        <div class="shopping-cart-sub-total">
                            <h5>Total:</h5>
                            <h5 id="price_total"><span>₦</span>{{ number_format(cart.total - cat_coupon_total) }}</h5>
                        </div>
                        {{ form.total(class="form-control", style='display:none', value=cart.total - cat_coupon_total) }}
                        {{ form.prev_coupon(class="form-control", style='display:none') }}
                        {{ form.prev_delivery(class="form-control", style='display:none') }}
                        <div>
                            <small ng-click="clearCart()">Clear Cart</small>
                        </div>
                        <input type="submit" id="chckout_btn" class="btn btn-large btn-warning bob" value="Place Order">
                    </div>
                {% else %}
                    <div class="clearfix shopping-cart-items">
                        <div class="clearfix shopping-cart-item" ng-repeat="obj in cart_items">
                            <div class="shopping-cart-item-image" ng-class="{'grayscale': obj.max_quantity < 1}"
                                 style="background-image:url('[[obj.cover_image_url]]'); background-position:center; background-size:contain; background-repeat:no-repeat"></div>
                            <div class="shopping-cart-item-info">
                                <h5 ng-class="{'caption_color': obj.max_quantity < 1}">[[obj.product_name]]</h5>
                                <p class=" light-font small-font">[[obj.variant_name]]</p>
                                <p class="shopping-cart-item-qty light-font small-font" ng-if="obj.max_quantity >0">Qty: [[obj.quantity]]</p>
                                <div ng-if="obj.max_quantity < 1" class="cart_item_sold_out">
                            <span class="bob_error_color">
                                OUT OF STOCK
                            </span>
                        </div>
                                <h5>₦[[obj.total|number]]</h5>

                            </div>
                        </div>
                        <div class="shopping-cart-sub-total">
                            <h5>Sub-Total:</h5>
                            <h5>₦[[sub_total|number]]</h5>
                        </div>
                        <div class="shopping-cart-sub-total">
                            <h5>Delivery Charge:</h5>
                            <h5 id="delivery-fee">₦[[delivery_charge|number]]</h5>
                        </div>
                        {% for coupon in cat_coupons %}
                            <div class="shopping-cart-sub-total">
                                <h5>{{ coupon.category.name }} coupon:</h5>
                                <h5> - ₦{{ coupon.amount }}</h5>
                            </div>
                        {% endfor %}
                        <div class="shopping-cart-sub-total">
                            <h5>BOB Coupon:</h5>
                            <h5 id="bob-applied">- ₦0</h5>
                        </div>
                        {#					<div class="shopping-cart-sub-total">#}
                        {#						<h5>Total:</h5>#}
                        {#						<h5>N[[delivery_charge+sub_total|number]]</h5>#}
                        {#					</div>#}
                        <div class="shopping-cart-sub-total">
                            <h5>Total:</h5>
                            <h5 id="price_total"><span>₦</span>{{ number_format(cart.total - cat_coupon_total) }}</h5>
                        </div>
                        {{ form.total(class="form-control", style='display:none', value=cart.total - cat_coupon_total) }}
                        {{ form.prev_coupon(class="form-control", style='display:none') }}
                        {{ form.prev_delivery(class="form-control", style='display:none') }}
                        <div>
                            <small ng-click="clearCart()">Clear Cart</small>
                        </div>
                        <input type="submit" id="chckout_btn" class="btn btn-large btn-warning bob" value="Place Order">
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock body %}

{% block page_js %}
    <script type="text/javascript">
        function apply_bob(a) {

            var formatter = new Intl.NumberFormat('NG', {
                style: 'currency',
                currency: 'Ngn',
                minimumFractionDigits: 2,
            });

            var p = a.options[a.selectedIndex].id;
            var pr = document.getElementById("price_total");
            var ba = document.getElementById("bob-applied");
            var n = parseInt(p);
            var e = document.getElementById("total");
            var prev = document.getElementById("prev_coupon");
            var pre = 0;
            if (typeof prev.value != 'undefined') {
                pre = prev.value;
            }
            var new_total = e.value - n + parseInt(pre);
            prev.value = n;
            e.value = new_total;
{#            pr.innerHTML = formatter.format(new_total);#}
            pr.innerHTML = "&#8358;"+numeral(new_total).format('0,0');
{#            ba.innerHTML = "- " + formatter.format(n)#}
            ba.innerHTML = "- &#8358;"+numeral(n).format('0,0');
        }

        function get_delivery_fee(a) {
            var formatter = new Intl.NumberFormat('NG', {
                style: 'currency',
                currency: 'Ngn',
                minimumFractionDigits: 2,
            });
            var value = a.value;
            $.ajax({
                url: '/check_delivery/' + value,
                type: 'GET',
                contentType: false,
                success: function (res) {
                    var fee = document.getElementById('delivery-fee');
                    fee.innerHTML = "+ ₦" + res.fee;
                    var pr = document.getElementById("price_total");
                    var e = document.getElementsByName("total")[0];
                    var prev = document.getElementById("prev_delivery");
                    var pre = 0;
                    if (typeof prev.value != null) {
                        pre = prev.value;
                    }
                    var new_total = parseInt(e.value) + res.fee - parseInt(pre);
                    prev.value = res.fee;
                    e.value = new_total;
                    pr.innerHTML = "&#8358;"+numeral(new_total).format('0,0');
                }
            });
            return false;
        }
        function verify_email(url) {
            $.ajax({
                url: url,
                type: 'GET',
                contentType: false,
                success: function (res) {
                    var text = document.getElementById("verify-text");
                    text.style.display = "block"
                }
            });
        }

    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            DefaultSplashScreen.hideDefaultSplashScreen()
                $('#email').focusout(function () {
                    var dataString = $(this).val();
                    $.ajax({
                        type: "POST",
                        contentType: 'application/json',
                        url: "/email_checker/",
                        data: dataString,
                        dataType: 'json',
                        success: function (data) {
                            if (data) {
                                if (data.exist) {
                                    $('#quick_user_id').val(data.cust_id);
                                    DefaultSplashScreen.init();
                                }
                            } else {
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                        }
                    });
                    return false;
                })

                $('#quick_user_submit_btn').click(function () {
                    DefaultSplashScreen.hideDefaultSplashScreen()
                    var dataString = {
                        "cust_id": $('#quick_user_id').val(),
                        "pass": $('#quick_user_password').val()
                    }
                    $.ajax({
                        type: "POST",
                        contentType: 'application/json',
                        url: "/quick_user_reg/",
                        data: JSON.stringify(dataString),
                        dataType: 'json',
                        success: function (data) {
                            if (data && data.status == "success") {
                                $('#quick_signup_success').val('success');
                            } else {

                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(xhr.responseText)

                        }
                    });
                    return false;
                })

            $('input[type=radio][name=delivery_option_codes]').attr('checked', false);
            $('input[type=radio][name=delivery_option_codes]').change(function () {
                var value = this.value;
                $("#delivery_option_code").val(value);
            });
            $('input[type=radio][name=payment_option_ids]').attr('checked', false);
            $('input[type=radio][name=payment_option_ids]').change(function () {
                var value = this.value;
                $("#payment_option_id").val(value);
                if (value == 3) {
                    $("#pay_op_ops").removeClass("hidden");
                    $("#2").addClass("hidden");
                    $('input[type=radio][name=card_ids]').attr('checked', false);
                } else if (value == 2) {
                    $("#pay_op_ops").removeClass("hidden");
                    $("#3").addClass("hidden");
                } else {
                    $("#pay_op_ops").addClass("hidden");
                    $('input[type=radio][name=card_ids]').attr('checked', false);
                    $("#2").addClass("hidden");
                    $("#3").addClass("hidden");
                }
                $("#" + value).removeClass("hidden");
            });
            $('input[type=radio][name=card_ids]').attr('checked', false);
            $('input[type=radio][name=card_ids]').change(function () {
                var value = this.value;
                $("#card_id").val(value);
            });
        });
        jQuery(function ($) {
            var form_validated = 1;
            var cardType = $.payment.cardType($('.cc-number').val());
            if (cardType) {
                $(".pc_s").removeClass("clear")
                $("#pc_" + cardType).addClass("clear")
            }
            ;
            $('[data-numeric]').payment('restrictNumeric');
            $('.cc-number').payment('formatCardNumber');
            $('.cc-exp').payment('formatCardExpiry');
            $('.cc-cvc').payment('formatCardCVC');
            $.fn.toggleInputError = function (erred) {
                this.parent('.form-group').toggleClass('has-error', erred);
                return this;
            };

            $(".cc-number").change(function () {
                var cardType = $.payment.cardType($('.cc-number').val());
                if (cardType) {
                    $(".pc_s").removeClass("clear");
                    $("#pc_" + cardType).addClass("clear");
                    $('#brand').val(cardType);
                }

            });
            {#          $('form').submit(function(event) {#}
            {##}
            {#            event.preventDefault();#}
            {#            var cardType = $.payment.cardType($('.cc-number').val());#}
            {#            $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));#}
            {#            $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));#}
            {#            $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));#}
            {#            $('.validation').removeClass('text-danger text-success');#}
            {#            $('.validation').addClass($('.has-error').length ? 'text-danger' : 'text-success');#}
            {#            form_validated = $('.has-error').length;#}
            {#            if(form_validated==0){#}
            {#                event.cancelable;#}
            {#                $('#checkoutform').unbind('submit');#}
            {#            };#}
            {##}
            {#          });#}

        });

    </script>
    <script src="{{ url_for('static', filename='public/js/bob.js') }}"></script>
{% endblock %}
