{% extends "public/layout.html" %}

{% block body %}
    <style>
    #socialMedia span, .socialMedia span{
        color: #333;
    }
    </style>
    <div id="contactus" style="padding-top: 1em;">
        <div class="body-content">
            <div class="main-wrapper">
                <div class="whole-wrap clearfix">
                    <div class="form-wrapp span7">
                        <h2>Contact Us</h2>
                        <p>We're happy to hear from you. Send us a message and we'll reach you as soon as possible.</p>
                        <div class="right-form clearfix">
                            <div>
                                <form action="{{ url_for('.contact_us') }}" method="post">
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label for="{{ form.full_name.name }}">{{ form.full_name.label.text }}</label>
                                        {% if current_user %}
                                            {{ form.full_name(class="form-control", value=current_user.full_name, placeholder=form.full_name.label.text) }}
                                        {% else %}
                                            {{ form.full_name(class="form-control") }}
                                        {% endif %}
                                        {% if form.full_name.description %}
                                            <span class="help-block">{{ form.full_name.description }}</span>{% endif %}
                                        {% if form.full_name.errors %}
                                            {% for e in form.full_name.errors %}
                                                <small class="error">{{ e }}</small>{% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.email.name }}">{{ form.email.label.text }}</label>
                                        {{ form.email(class="form-control", placeholder=form.email.label.text) }}
                                        {% if form.email.description %}
                                            <span class="help-block">{{ form.email.description }}</span>{% endif %}
                                        {% if form.email.errors %}
                                            {% for e in form.email.errors %}
                                                <small class="error">{{ e }}</small>{% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.phone.name }}">{{ form.phone.label.text }}</label>
                                        {{ form.phone(class="form-control", placeholder=form.phone.label.text) }}
                                        {% if form.phone.description %}
                                            <span class="help-block">{{ form.phone.description }}</span>{% endif %}
                                        {% if form.phone.errors %}
                                            {% for e in form.phone.errors %}
                                                <small class="error">{{ e }}</small>{% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.subject.name }}">{{ form.subject.label.text }}</label>
                                        {{ form.subject(class="form-control", placeholder=form.subject.label.text) }}
                                        {% if form.subject.description %}
                                            <span class="help-block">{{ form.subject.description }}</span>{% endif %}
                                        {% if form.subject.errors %}
                                            {% for e in form.subject.errors %}
                                                <small class="error">{{ e }}</small>{% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.body.name }}">{{ form.body.label.text }}</label>
                                        {{ form.body(class="form-control", placeholder=form.body.label.text) }}
                                        {% if form.body.description %}
                                            <span class="help-block">{{ form.body.description }}</span>{% endif %}
                                        {% if form.body.errors %}
                                            {% for e in form.body.errors %}
                                                <small class="error">{{ e }}</small>{% endfor %}
                                        {% endif %}
                                    </div>
                                    <button type="submit" class="btn black-btn">SEND <i class="fa fa-thumbs-o-up"></i>
                                    </button>
                                <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="span1"></div>
                    <div class="span4">
                        <div class="contact_info">
                            <div class="socialMedia">
                                <h5 class="">SOCIAL MEDIA</h5>
                                <a href="https://www.facebook.com/buyorbidng/"><i class="fa fa-facebook-f"></i></a>
                                <a href="https://twitter.com/buyorbid"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/buyorbidng/"><i class="fa fa-instagram"></i></a>
                                <a href="whatsapp://send?text=Hello BuyOrBid!&phone=+2347026387650"><i class="fa fa-whatsapp"></i></a>
                                <p></p>
                                <p>
                                    <span><a href="mailto:info@buyorbidng.com"><i style="font-size: 13px;" class="fa fa-at"></i> info@buyorbidng.com</a></span><br>
                                    <span><a href="tel:07026387650"><i style="font-size: 13px;" class="fa fa-phone"></i> 0702 638 7650</a></span>
                                </p>
                            </div>
                            <div class="socialMedia">
                                <h5 class="">OFFICE HOURS</h5>
                                <span>Monday through Friday</span><br>
                                <span>8:30 AM – 5:30 PM</span><br>
                                <small>Closed Saturday and Sunday</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

