{% extends "public/layout.html" %}

{% block header %}
    <div id="header" ng-controller="HeaderController" ng-init="init()">
        <div class="container">
            <div id="welcomeLine" class="row">
                <div class="span6 pull-right">
                    <div class="pull-right">
                        {% if current_user.is_authenticated() %}
                            <a href="{{ url_for('.logout') }}" id="logoutbtn" class="btn btn-mini">Logout</a>
                        {% endif %}
                        <span class="btn btn-mini ng-cloak" ng-cloak>E [[user_earning|number]]</span>
                        <span class="btn btn-mini ng-cloak" ng-cloak>C [[user_credit|number]]</span>
                    <span class="btn btn-mini ng-cloak" ng-cloak
                                      id="available_coupon_worth" ng-if="available_coupon_worth">₦[[available_coupon_worth|number]]</span>
                        <span id="header_cart_icon">
                            <a href="#" onclick="showShoppingCart()" class="ng-cloak" ng-cloak>
                                <img src="/static/shopping-cart-black_1.svg" alt=""/> <small ng-model="total_quantity"
                                                                                           class="ng-cloak" ng-cloak>[[total_quantity]]</small>
                            </a>
                            <a href="{{ url_for('.wishlists') }}" class="ng-cloak" ng-cloak>
                                <i class="fa fa-heart-o"></i> <small
                                    ng-model="total_wishlist" class="ng-cloak" ng-cloak>[[total_wishlist]]</small>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Navbar ================================================== -->
            <div id="logoArea" class="navbar clearfix">
                <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-inner">
                    {% cache 1200, "buyorbidng", "index","homepage", "logo", "image_optimized" %}
                        <a class="brand" href="{{ url_for('.index') }}"><img
                                src="{{ url_for('static', filename='bob_logo_1.png') }}" alt="BuyOrBid"
                                style="height:70px;"/></a>
                        <!--logo -->
                    {% endcache %}
                    <form class="form-inline navbar-search" method="get" action="{{ url_for('.products') }}"
                    >
                        <div class="inline-form-row">
                            <fieldset class="ignore">
                                <input id="srchFld" name="q" class="ws" type="text"
                                       {% if search_q %}placeholder="{{ search_q }}"{% endif %}/>
                            </fieldset>
                            <fieldset class="ignore">
                                <button type="submit" id="submitButton" class="black-btn btn">Go</button>
                            </fieldset>
                        </div>
                    </form>
                    <ul id="topMenu" class="nav navbar-collapse collpase pull-right">

                        <li class=""><a href="{{ url_for('.products') }}">Products</a></li>
                        {% if all_done %}
                            <li class=""><a href="{{ url_for('.sales') }}">Sales</a></li>

                            <li class=""><a href="#">T2B</a></li>
                        {% endif %}
                        <li class=""><a href="{{ url_for('.contact_us') }}">Contact Us</a></li>
                        {% if all_done %}
                            <li class=""><a href="{{ url_for('.auctions') }}">Auctions</a></li>
                        {% endif %}
                        {% if current_user.is_authenticated() %}
                            <li class="dropdown">
                                <a href="{{ url_for('.profile') }}">
                                    <span>Hi<strong> {{ current_user.username }}</strong> !</span>
                                </a>
                                <ul class="dropdown-menu extended logout">
                                    <div class="log-arrow-up"></div>
                                    <li class="eborder-top">
                                        <a href="#"><i class="icon_profile"></i> My Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="">
                                <a href="{{ url_for('.login', next=request.path) }}">Login/Signup</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="item-added-flash clearfix animated fadeIn">
            <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
            <div class="text">Item Added, continue shopping of proceed to checkout
            </div>
        </div>
        <div class="item-not-added-flash clearfix animated fadeIn">
            <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
            <div class="text">Item Not Added, please select a valid variant to add the item to your list.</div>
        </div>
        <div class="item-updated-flash clearfix animated fadeIn">
            <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
            <div class="text">Item Successfully Updated</div>
        </div>
        <div class="item-wishlist-added-flash clearfix animated fadeIn">
            <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
            <div class="text">Product has been added to Wishlist
            </div>
        </div>
        <div class="item-wishlist-not-added-flash clearfix animated fadeIn">
            <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
            <div class="text">Product Not Added to wishlist</div>
        </div>
    </div>
     {% if not current_user.is_authenticated() %}
            {% if get_flashed_messages()|length < 1 %}
                <div id="imp_flash">
                    <div class="text">Get <strong>₦10,000 worth of Discount Coupon</strong> to be applied on your
                        orders. <a href="{{ url_for('.login',action='reg') }}">Click Here to Signup</a></div>
                </div>
            {% endif %}
        {% endif %}
    <!-- Header End====================================================================== -->
    {% for message in get_flashed_messages() %}
        <div id="flash">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
    {% cache 1200, "buyorbidng", "index","homepage_sliders","coupon_banner_update","new_year" %}
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                {% if on_sale %}
                <div class="item">
                    <div class="container">
                        <a href="{{ url_for('.sales') }}"><img style="width:100%"
                                                               src="http://res.cloudinary.com/rusty-x/image/upload/v1513775017/xmas-sale_1_e22hvk.png"
                                                               alt="XMAS SALE"/></a>
                        <div class="carousel-caption">
                            <h4></h4>
                            <p></p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="item active">
                    <div class="container">
                        <a href="{{ url_for('.login',action='reg') }}"><img style="width:100%"
                                                               src="http://res.cloudinary.com/rusty-x/image/upload/v1513775015/coupon_banner_1_itejkw.png"
                                                               alt="SIGNUP & GET COUPON of ₦10k"/></a>
                        <div class="carousel-caption">
                            <h4></h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
{% endcache %}
{% endblock header %}
{% block body %}

    {% include 'public/snippets/sidebar.html' %}
    <div class="span9">
        <div class="well well-small">
            <h4>Featured Products
                <small class="pull-right"></small>
            </h4>
            <div class="row-fluid">
                {% if results.total>0 %}
                    <div id="featured" class="carousel slide">
                        <div class="carousel-inner">
                            {% for group in batch_results(results.objects, 4) %}
                                {% if length(group) >0 %}
                                    <div class="item {% if loop.index==1 %}active{% endif %}">
                                        <ul class="thumbnails">
                                            {% for obj in group %}
                                                <li class="span3" ng-controller="CartItemController"
                                                    ng-init='init({{ obj|tojson }})' rel="{{ obj.id }}">
                                                    <div class="thumbnail">
                                                        <i class="tag"></i>
                                                        <a href="

                                                                {% if obj.id %}{{ url_for('.product', id=obj.id, handle=slugify(obj.name)) }}{% else %}#{% endif %}"><img
                                                                src="{{ obj.cover_image_url }}" alt=""
                                                                style="width: 160px; height: 160px"></a>
                                                        <div class="caption">
                                                            <h5>{{ obj.name }}</h5>
                                                            <h4 class="yellow-price-tag">
                                                            {% if obj.on_sale %}
                                                                <span class="pull-left" style="width: 100%; padding-bottom: 5px;"> ₦{{ whole_number_format(obj.min_price) }} <small class="slash_price", style="color: black">₦{{ whole_number_format(obj.max_price) }}</small></span>
                                                            {% else %}
                                                                ₦ {{ whole_number_format(obj.price) }}
                                                            {% endif %}
                                                            </h4>
                                                            {% if current_user.is_authenticated() %}
                                                                <a class="center" href="javascript:void(0);"
                                                                   style="font-size: 13px; color: rgba(94,93,94,0.69)"
                                                                   ng-click="addProductToWishList()">Add to Wishlist <i
                                                                        class="fa fa-heart {% if obj.id in wishlist_product_ids %}added{% endif %}" ng-class="{'added': obj.added_to_wishlist}"
                                                                        style="font-size: 16px"></i></a>
                                                            {% else %}
                                                                <a class="center"
                                                                   href="{{ url_for('.login',next=request.path) }}"
                                                                   style="font-size: 13px; color: rgba(94,93,94,0.69)">Add
                                                                    to
                                                                    Wishlist <i class="fa fa-heart"
                                                                                style="font-size: 16px"></i></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#featured" data-slide="prev" style="background:0;">‹</a>
                        <a class="right carousel-control" href="#featured" data-slide="next" style="background:0;">›</a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% cache 1200, "buyorbidng", "category_well_wrap", "women", "14th_Nov", "2017", "links_update","image_optimize" %}
            <div class="category_well_wrap">
                <div class="category_well">
                    <div class="category_brand">
                        <a href="http://buyorbidng.com/products/women/">
                                <span class="category_title">
                                    WOMEN
                                </span>
                            <span class="btn black-btn reverse">
                                    SHOP NOW
                                </span>
                        </a>
                    </div>
                    <div class="category_contents style_one">
                        <a href="http://buyorbidng.com/products/women/w_dresses/"><div class="r _cont" style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779651/women-fashion_1_bxbfqz.gif');"></div></a>

                        <a href="http://buyorbidng.com/products/women/"><div class="l _cont" style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779653/women-test_1_s6rpp5.gif');"></div></a>
                        <div class="c _cont">
                            <a href="http://buyorbidng.com/products/women/w_jewelry_accessories/"><div style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779650/sales-6-banner-2-2_1_g1tcfb.jpg');"></div></a>
                            <a href="http://buyorbidng.com/products/women/bags/"><div style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779650/sales-6-banner-2-1_1_lqvi5y.jpg');"></div></a>
                        </div>

                    </div>

                </div>
                <div class="category_navs">
                    <ul>
                        <li><a href="http://buyorbidng.com/products/women/w_dresses/">Dress</a></li>
                        <li><a href="http://buyorbidng.com/products/women/blouses_shirts_tops/">Blouses & Tops</a></li>
                        <li><a href="http://buyorbidng.com/products/women/w_shoes/">Shoes</a></li>
                        <li><a href="http://buyorbidng.com/products/women/bags/">Bags</a></li>
                        <li><a href="http://buyorbidng.com/products/women/w_jewelry_accessories/">Accessories</a></li>
                    </ul>
                </div>
            </div>
        {% endcache %}
        {% cache 1200, "buyorbidng", "category_well_wrap", "men", "14th_Nov", "2017", "links_update","image_optimize" %}
            <div class="category_well_wrap">
                <div class="category_well">
                    <div class="category_brand">
                        <a href="http://buyorbidng.com/products/men/">
                                <span class="category_title">
                                    MEN
                                </span>
                            <span class="btn black-btn reverse">
                                    SHOP NOW
                                </span>
                        </a>
                    </div>
                    <div class="category_contents style_two">
                        <div class="r _cont">
                            <a href="http://buyorbidng.com/products/men/m_shoes/"><div class="r_cont_t" style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779402/category1_1_desrht.jpg')">
                            </div></a>
                            <div class="r_cont_b">
                                <a href="http://buyorbidng.com/products/men/m_shoes/"><div style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779402/men_boots_1_nx5w8t.png')"></div></a>
                                <a href="http://buyorbidng.com/products/men/m_shirts_tops/"><div style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779401/sales-6-banner-1-1_1_bbwuoy.jpg')"></div></a>
                            </div>
                        </div>
                        <a href="http://buyorbidng.com/products/men/"><div class="l _cont" style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779403/men-test_1_zkdknj.gif');"></div></a>
                    </div>
                </div>
                <div class="category_navs">
                    <ul>
                        <li><a href="http://buyorbidng.com/products/men/m_shirts_tops/">Shirts</a></li>
                        <li><a href="http://buyorbidng.com/products/men/m_shoes/">Shoes</a></li>
                        <li><a href="http://buyorbidng.com/products/men/m_jewelry_accessories/">Accessories</a></li>
                    </ul>
                </div>
            </div>
        {% endcache %}
        {% cache 1200, "buyorbidng", "category_well_wrap", "electronics", "14th_Nov", "2017", "links_update","image_optimize" %}
            <div class="category_well_wrap">
                <div class="category_well">
                    <div class="category_brand">
                        <a href="http://buyorbidng.com/products/electronics/">
                                <span class="category_title">
                                    ELECTRONICS
                                </span>
                            <span class="btn black-btn reverse">
                                    SHOP NOW
                                </span>
                        </a>
                    </div>
                    <div class="category_contents style_two">
                        <div class="r _cont">
                            <a href="http://buyorbidng.com/products/electronics/smart_electronics/"><div class="r_cont_t" style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779814/smart-watch_1_pkkoye.gif')">
                            </div></a>
                            <div class="r_cont_b">
                                <a href="http://buyorbidng/products/electronics/smart_electronics/"><div style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779811/AndroidBox_1_1_1_j1zwpo.jpg')"></div></a>
                                <a href="http://buyorbidng/products/electronics/smart_electronics/"><div style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779810/VR_1_1_zuwxcx.jpg')"></div></a>
                            </div>
                        </div>
                        <a href="http://buyorbidng.com/products/electronics/"><div class="l _cont" style="background-image: url('http://res.cloudinary.com/rusty-x/image/upload/v1513779810/OTG_1_1_kzfztr.jpg');"></div></a>
                    </div>
                </div>
                <div class="category_navs">
                    <ul>
                        <li><a href="http://buyorbidng.com/products/phone_accessories/p_accessories/">Chargers</a></li>
                        <li><a href="http://buyorbidng.com/products/phone_accessories/p_accessories/">Speakers</a></li>
                        <li><a href="http://buyorbidng.com/products/phone_accessories/p_accessories/">Headsets</a></li>
                        <li><a href="http://buyorbidng.com/products/computer_office/storage_devices/">Storage Drives</a>
                        </li>
                        <li><a href="http://buyorbidng.com/products/electronics/parts_accessories/">Accessories</a></li>
                    </ul>
                </div>
            </div>
        {% endcache %}

    </div>

{% endblock body %}
