<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if not config.DEBUG %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109567101-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-109567101-1');
        </script>
        <!--END OF GOOGLE ANALYTICS CODE -->

{#        <!-- Facebook Pixel Code -->#}
{#        <script>#}
{#            !function (f, b, e, v, n, t, s) {#}
{#                if (f.fbq) return;#}
{#                n = f.fbq = function () {#}
{#                    n.callMethod ?#}
{#                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)#}
{#                };#}
{#                if (!f._fbq) f._fbq = n;#}
{#                n.push = n;#}
{#                n.loaded = !0;#}
{#                n.version = '2.0';#}
{#                n.queue = [];#}
{#                t = b.createElement(e);#}
{#                t.async = !0;#}
{#                t.src = v;#}
{#                s = b.getElementsByTagName(e)[0];#}
{#                s.parentNode.insertBefore(t, s)#}
{#            }(window, document, 'script',#}
{#                'https://connect.facebook.net/en_US/fbevents.js');#}
{#            fbq('init', '1968610786720060');#}
{#            fbq('track', 'PageView');#}
{#            {% block fbevent_code %}#}
{##}
{#            {% endblock fbevent_code %}#}
{#        </script>#}
{#        <noscript>#}
{#            <img height="1" width="1"#}
{#                 src="https://www.facebook.com/tr?id=1968610786720060&ev=PageView#}
{#        &noscript=1"/>#}
{#        </noscript>#}
{#        <!-- End Facebook Pixel Code -->#}

        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1963740623864071'); // Insert your pixel ID here.
            fbq('track', 'PageView');
            {% block fbevent_code %}

            {% endblock fbevent_code %}
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=1963740623864071&ev=PageView&noscript=1"
        /></noscript>
        <!-- DO NOT MODIFY -->
        <!-- End Facebook Pixel Code -->


        <!-- Start Fullstory Code -->
        <script>
            window['_fs_debug'] = false;
            window['_fs_host'] = 'fullstory.com';
            window['_fs_org'] = '8RP1J';
            window['_fs_namespace'] = 'FS';
            (function (m, n, e, t, l, o, g, y) {
                if (e in m) {
                    if (m.console && m.console.log) {
                        m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');
                    }
                    return;
                }
                g = m[e] = function (a, b) {
                    g.q ? g.q.push([a, b]) : g._api(a, b);
                };
                g.q = [];
                o = n.createElement(t);
                o.async = 1;
                o.src = 'https://' + _fs_host + '/s/fs.js';
                y = n.getElementsByTagName(t)[0];
                y.parentNode.insertBefore(o, y);
                g.identify = function (i, v) {
                    g(l, {uid: i});
                    if (v) g(l, v)
                };
                g.setUserVars = function (v) {
                    g(l, v)
                };
                g.identifyAccount = function (i, v) {
                    o = 'account';
                    v = v || {};
                    v.acctId = i;
                    g(o, v)
                };
                g.clearUserCookie = function (c, d, i) {
                    if (!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')) {
                        d = n.domain;
                        while (1) {
                            n.cookie = 'fs_uid=;domain=' + d +
                                ';path=/;expires=' + new Date(0).toUTCString();
                            i = d.indexOf('.');
                            if (i < 0)break;
                            d = d.slice(i + 1)
                        }
                    }
                };
            })(window, document, window['_fs_namespace'], 'script', 'user');

            {% if current_user.is_authenticated() %}
                FS.identify('{{ current_user.email }}', {
                    displayName: '{{ current_user.name }}',
                    email: '{{ current_user.email }}',
                    // TODO: Add your own custom user variables here, details at
                    // http://help.fullstory.com/develop-js/setuservars.
                });
            {% endif %}
        </script>
    {% endif %}
    <!-- End Fullstory Code -->

    <meta charset="utf-8">
    <title>Buy Or Bid{% if page_title %} | {{ page_title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="BuyOrBidng">
    <meta name="robots" content="index, follow"/>
    <meta name='rating' content='General'>
    <meta name='owner' content='RaveSoftwares'>
    <meta name='reply-to' content='info@buyorbidng.com'>
    <meta name='url' content='http://buyorbidng.com'>
    <meta name='description' content='Online Store for Buying or Bidding on Quality Products'>
    <meta name='subject' content='Smartest Shopping Surely'>
    <meta name="keywords" content="online store,buyorbid,women,men,fashion,bob,quality,shoes,dress">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block style_assets %}
        {% assets "main-global-css" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
        {% endassets %}
    {% endblock style_assets %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='bob_fav.png') }}">
    <link rel='fluid-icon' type='image/png' href='{{ url_for('static', filename='bob_fav.png') }}'>
    {% block meta_tags %}
        {% if page_tags %}
            <meta property="og:title" content="{{ page_tags.get('title') }}"/>
            <meta property="og:url" content="{{ page_tags.get('url') }}"/>
            <meta property="og:description" content="{{ page_tags.get('description') }}">
            <meta property="og:image" content="{{ page_tags.get('image') }}">
        {% else %}
            <meta property="og:title" content="BuyOrBidng"/>
            <meta property="og:url" content="http://buyorbidng.com"/>
            <meta property="og:description" content="Online Store for Buying or Bidding on Quality Products">
            <meta property="og:image"
                  content="http://res.cloudinary.com/rusty-x/image/upload/v1510504876/bob-logo2_nrr3at.png">
            {#        <meta property="og:image" content="{{ url_for('static', filename='bob_fav.png') }}">#}
        {% endif %}
    {% endblock meta_tags %}
    <meta property="og:locale" content="en_NG"/>
    <meta property="og:locale:alternate" content="fr_US"/>
    <meta property="og:locale:alternate" content="es_GB"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ url_for('static', filename='public/images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ url_for('static', filename='public/images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ url_for('static', filename='public/images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed"
          href="{{ url_for('static', filename='public/images/ico/apple-touch-icon-57-precomposed.png') }}">
    <style type="text/css" id="enject"></style>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>
<body ng-app="app">
{% if current_user.is_authenticated() %}
    <style>
        #something_light_ref_code {
            border: 0;
            outline: none;
            background: #f4f4f4f4;
            padding: 10px 10px;
            font-size: 26px;
            text-align: center;
        }
    </style>
    <div id="splash-screen"></div>
    <div id="splash-screen-dialog">
        <div class="splash-wrap">
            <input type="hidden" name="quick_user_id" id="quick_user_id">
            <div class="splash-screen-content">
                <h2 class="title">You Want Something Light <img
                        src="/static/public/images/ico/falz-smiley_1.png" alt="" width="50px"></h2>
                <h4 style="margin-bottom: 10px;">Get BuyOrBid's Discount Coupons</h4>
                <p style="margin: 20px 0;">

                    <input id="something_light_ref_code" name="something_light_ref_code"
                           value="{{ current_user.referral_code }}">
                </p>
                <p style="width: 70%;margin: auto">
                    Share your referral code with your connects, and get something light on your purchase.
                </p>

            </div>
            <div class="splash-screen-actions">
                <a id="cancel-button" class="btn btn-warning" style="font-size: 16px;">
                    Oya Let's Go <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
{% endif %}
<style>
    input[name="quantity"] {
        width: 30px;
    }

    .cart_item_inputs h5 {
        display: inline-block;
        float: right;
    }

    .cart_item_inputs button.black-btn {
        padding: 8px 10px;
        margin-left: -7px;
        border-radius: 0 !important;
        font-size: 12px;
    }
</style>
<div class="mask"></div>
<div ng-controller="AddedItemController">
    <div class="div">
        <div class="shopping-cart" ng-controller="CartController" ng-init="init()">
            <div class="cart-header">
                <div class="close-cart-button pull-right" onclick="showShoppingCart()"><i class="fa fa-times"
                                                                                          aria-hidden="true"></i></div>
                <div class="pull-left">
                    <h4>My Cart
                        <small ng-if="total_quantity">([[total_quantity]])</small>
                    </h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div ng-if="total_quantity<=0" class=" empty-cart">
                <div class="empty-cart-icon"
                     style="background-image: url('{{ url_for('static', filename='empty-cart_1.png') }}');"></div>
                <p class="small-font uppercase text-center">Your shopping Cart Is Empty</p>
            </div>
            <div ng-if="total_quantity>0" class="clearfix shopping-cart-items">
                <div class="clearfix shopping-cart-item" ng-repeat="obj in cart_items"
                     ng-controller="CartItemController"
                     ng-init="init(obj)">
                    <div class="shopping-cart-item-image" ng-class="{'grayscale': obj.max_quantity < 1}"
                         style="background-image:url('[[obj.cover_image_url]]'); background-position:center; background-size:contain; background-repeat:no-repeat"></div>
                    <div class="shopping-cart-item-info">
                        <a href="[[obj.product_url]]" ng-class="{'caption_color': obj.max_quantity < 1}"><h5>
                            [[obj.product_name]]</h5></a>
                        <p class=" light-font small-font">[[obj.variant_name]]</p>
                        <div class="cart_item_inputs" ng-if="obj.max_quantity > 0">
                            <input id="id{{ cart_item_id }}" type="hidden" name="id"
                                   value="[[obj.id]]">
                            <input id="variant{{ cart_item_id }}" type="hidden" name="variant_id"
                                   value="[[obj.variant_id]]">
                            <input id="quantity{{ cart_item_id }}" type="number"
                                   class="quantity shopping-cart-item-qty light-font small-font"
                                   name="quantity" min="0" ng-model="obj.quantity" min="1" max="[[obj.max_quantity]]">
                            <button ng-if="!obj.transmitting" ng-click="updateUniCartItem()"
                                    class="btn black-btn reverse">
                                <span>Update</span>
                            </button>
                            <button ng-if="obj.transmitting" class="btn black-btn" style="width: 60px;">
                                <span><i class="fa fa-spinner"></i></span>
                            </button>
                            <h5>₦[[obj.total|number]]</h5>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="obj.max_quantity < 1" class="cart_item_sold_out">
                            <span class="bob_error_color">
                                OUT OF STOCK
                            </span>
                        </div>
                    </div>
                </div>
                <div class="shopping-cart-sub-total">
                    <h5>Sub-Total:</h5>
                    <h5>₦[[sub_total|number]]</h5>
                </div>
                {#                <div class="shopping-cart-sub-total">#}
                {#                    <h5>Delivery Charge:</h5>#}
                {#                    <h5>₦[[delivery_charge|number]]</h5>#}
                {#                </div>#}
                {#                <div class="shopping-cart-sub-total">#}
                {#                    <h5>Total:</h5>#}
                {#                    <h5>₦[[delivery_charge+sub_total|number]]</h5>#}
                {#                </div>#}
                <div>
                    <small ng-click="clearCart()">Clear Cart</small>
                </div>
                <a href="{{ url_for('.checkout') }}"><span id="chckout_btn"
                                                           class="btn btn-large btn-warning bob">Checkout</span></a>
            </div>
        </div>
    </div>
    {% block header %}
        <div id="header" ng-controller="HeaderController" ng-init="init()">
            <div class="container">
                <div id="welcomeLine" class="row">
                    <div class="span6 pull-right">
                        <div class="pull-right">
                            {% if current_user.is_authenticated() %}
                                <a href="{{ url_for('.logout') }}" id="logoutbtn" class="btn btn-mini">Logout</a>
                            {% endif %}
                            <span class="btn btn-mini ng-cloak" ng-cloak
                                  id="user_earning">E [[user_earning|number]]</span>
                            <span class="btn btn-mini ng-cloak" ng-cloak
                                  id="user_credit">C [[user_credit|number]]</span>
                            <span class="btn btn-mini ng-cloak" ng-cloak
                                  id="available_coupon_worth" ng-if="available_coupon_worth">₦[[available_coupon_worth|number]]</span>
                            <span id="header_cart_icon">
                            <a href="#" onclick="showShoppingCart()" class="ng-cloak" ng-cloak>
                                <img src="/static/shopping-cart-black_1.svg" alt=""/> <small ng-model="total_quantity"
                                                                                           class="ng-cloak" ng-cloak>[[total_quantity]]</small>
                            </a>
                            <a href="{{ url_for('.wishlists') }}" class="ng-cloak" ng-cloak>
                                <i class="fa fa-heart-o"></i> <small ng-model="total_wishlist" class="ng-cloak"
                                                                     ng-cloak>[[total_wishlist]]</small>
                            </a>
                        </span>
                        </div>
                    </div>
                </div>
                <!-- Navbar ================================================== -->
                <div id="logoArea" class="navbar">
                    <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-inner">
                        {% cache 1200, "buyorbidng", "layout", "logo" %}
                            <a class="brand" href="{{ url_for('.index') }}"><img
                                    src="{{ url_for('static', filename='bob_logo_1.png') }}" alt="BuyOrBid"
                                    style="height:70px;"/></a>
                            <!--logo -->
                        {% endcache %}
                        <form class="form-inline navbar-search" method="get" action="{{ url_for('.products') }}"
                        >
                            <div class="inline-form-row">
                                <fieldset class="ignore">
                                    <input id="srchFld" name="q" class="ws" type="text"
                                           {% if search_q %}placeholder="     {{ search_q }}"{% endif %}/>
                                </fieldset>
                                <fieldset class="ignore">
                                    <button type="submit" id="submitButton" class="black-btn btn ">Go</button>
                                </fieldset>
                            </div>
                        </form>
                        <ul id="topMenu" class="nav navbar-collapse collpase pull-right top-menu">

                            <li class=""><a href="{{ url_for('.products') }}">Products</a></li>
                                    {% if all_done %}
                                <li class=""><a href="{{ url_for('.sales') }}">Sales</a></li>

                                <li class=""><a href="#">T2B</a></li>
                            {% endif %}
                            <li class=""><a href="{{ url_for('.contact_us') }}">Contact Us</a></li>
                            {% if all_done %}
                                <li class=""><a href="{{ url_for('.auctions') }}">Auctions</a></li>
                            {% endif %}
                            {% if current_user.is_authenticated() %}
                                {#                        <li id="username">#}
                                <li class="dropdown">
                                    <a href="{{ url_for('.profile') }}">
                                        <span>Hi<strong> {{ current_user.username }}</strong> !</span>
                                    </a>
                                    <ul class="dropdown-menu extended logout">
                                        <div class="log-arrow-up"></div>
                                        <li class="eborder-top">
                                            <a href="#"><i class="icon_profile"></i> My Profile</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                                        </li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="">
                                    <a href="{{ url_for('.login', next=request.path) }}">Login/Signup</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item-added-flash clearfix animated fadeIn">
                <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div class="text">Item Added, continue shopping of proceed to checkout
                </div>
            </div>
            <div class="item-not-added-flash clearfix animated fadeIn">
                <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div class="text">Item Not Added, please select a valid variant to add the item to your list.</div>
            </div>
            <div class="item-updated-flash clearfix animated fadeIn">
                <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div class="text">Item Successfully Updated</div>
            </div>
            <div class="item-wishlist-added-flash clearfix animated fadeIn">
                <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div class="text">Product has been added to Wishlist
                </div>
            </div>
            <div class="item-wishlist-not-added-flash clearfix animated fadeIn">
                <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                <div class="text">Product Not Added to wishlist</div>
            </div>
        </div>
        {% if not current_user.is_authenticated() %}
            {% if not hide_imp_flash %}
            {% if get_flashed_messages()|length < 1 %}
                <div id="imp_flash">
                    <div class="text">Get <strong>₦10,000 worth of Discount Coupon</strong> to be applied on your
                        orders. <a href="{{ url_for('.login',action='reg') }}">Click Here to Signup</a></div>
                </div>
            {% endif %}
            {% endif %}
        {% endif %}
        {% for message in get_flashed_messages() %}
            <div id="flash">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endblock header %}
    <!-- Header End====================================================================== -->
    <div id="mainBody">
        <div class="container">
            <div class="row">
                {% block body %}

                {% endblock body %}
            </div>
        </div>
    </div>
    <!-- MainBody End ============================= -->
    <!-- Footer ================================================================== -->
    {% cache 1200, "buyorbidng", "footer", "contact_update", "whatsapp_update", "product" %}
        <div id="footerSection">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h5 class="yellow-heading">ACCOUNT</h5>
                        <a href="{{ url_for('.profile') }}">YOUR ACCOUNT</a>
                        {#                    <a href="login.html">PERSONAL INFORMATION</a>#}
                        <a href="{{ url_for('.profile') }}">EARNINGS & CREDITS</a>
                        <a href="{{ url_for('.profile') }}">AFFILIATE</a>
                        <a href="{{ url_for('.orders') }}">ORDER HISTORY</a>
                    </div>
                    <div class="span3">
                        <h5 class="yellow-heading">INFORMATION</h5>
                        <a href="{{ url_for('.contact_us') }}">CONTACT US</a>
                        <a href="{{ url_for('.resources', page='terms') }}">TERMS AND CONDITIONS</a>
                        <a href="{{ url_for('.resources', page='privacy') }}">PRIVACY POLICY</a>
                        <a href="{{ url_for('.resources', page='return') }}">RETURN POLICY</a>
                        <a href="{{ url_for('.resources', page='faq') }}">FAQ</a>
                    </div>
                    <div class="span3">
                        <h5 class="yellow-heading">OUR OFFERS</h5>
                        <a href="{{ url_for('.products') }}">NEW PRODUCTS</a>
                        <a href="{{ url_for('.products') }}">TOP PRODUCTS</a>
                        {#                    <a href="{{url_for('.promo')}}">SPECIAL OFFERS</a>#}
                    </div>
                    <div id="socialMedia" class="span3">
                        <h5 class="yellow-heading">SOCIAL MEDIA </h5>
                        <a href="https://www.facebook.com/buyorbidng/"><i class="fa fa-facebook-f"></i></a>
                        <a href="https://twitter.com/buyorbid"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/buyorbidng/"><i class="fa fa-instagram"></i></a>
                        <a href="whatsapp://send?text=Hello BuyOrBid!&phone=+2347026387650"><i
                                class="fa fa-whatsapp"></i></a>
                        <br>
                        <br>
                        <span><a style="font-size: 12px;" href="mailto:info@buyorbidng.com"><i style="font-size: 13px;"
                                                                                               class="fa fa-envelope-o"></i> info@buyorbidng.com</a></span><br>
                        <span><a style="font-size: 12px;" href="tel:07026387650"><i style="font-size: 13px;"
                                                                                    class="fa fa-phone"></i> 0702 638 7650</a></span>
                    </div>
                </div>
            </div><!-- Container End -->
        </div>
    {% endcache %}
</div>
<script type="text/javascript">
    window.CART_NOTI_URL = "{{url_for('.cart_notification')}}";
    window.ADD_TO_WISHLIST_URL = "{{url_for('.add_to_wishlist')}}";
    window.HEADER_URL = "{{url_for('.header_data')}}";
    window.AUCTION_URL = "{{url_for('.auction')}}";
    window.CART_ITEM_UPDATE = "{{url_for('.update_cart_item')}}";

</script>

{% block script_assets %}
    <script src="{{ url_for('static', filename='public/js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='public/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='public/js/google-code-prettify/prettify.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/jquery.countdown.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/angular-route.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/angular-resource.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/angular-selectize.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/angular-timer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/bob.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/bootshop.js') }}"></script>
    <script src="{{ url_for('static', filename='public/js/jquery.lightbox-0.5.js') }}"></script>
    {#    <script src="{{ url_for('static', filename='public/js/jquery.nicescroll.min.js') }}"></script>#}
    <script src="{{ url_for('static', filename='public/js/jquery.payment.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='public/js/numeral.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='public/js/jquery.cookie.js') }}" type="text/javascript"></script>
{% endblock script_assets %}
<script>

    {% if current_user.is_authenticated() and request.path[:10] != '/checkout/' %}
        $('document').ready(function () {

            $("#cancel-button").click(function () {
                $.cookie("show_something_light", "false", {expires: 20});
                DefaultSplashScreen.hideDefaultSplashScreen()
            });
        });

        if (jQuery.cookie("show_something_light") == "false") {
            DefaultSplashScreen.hideDefaultSplashScreen();
        };
        if (jQuery.cookie("show_something_light") != "false") {
            DefaultSplashScreen.init();
        };
    {% endif %}


    function showShoppingCart() {
        var mask = document.querySelector('.mask')
        mask.classList.toggle('show')
        var button = document.querySelector('.shopping-cart')
        button.classList.toggle('on')
        var body = document.querySelector('body')
        body.classList.toggle('hide-overflow')
    }

    {% if get_flashed_messages %}
        window.setTimeout(function () {
            $('#flash').hide();
        }, 5000);
    {% endif %}

</script>
{% block page_js %}
{% endblock page_js %}

</body>
</html>
