<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109567101-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-109567101-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Buy Or Bid{% if page_title %} | {{ page_title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="BuyOrBidng">
    <link rel="shortcut icon" href="{{ url_for('static', filename='bob_fav.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ url_for('static', filename='public/images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{ url_for('static', filename='public/images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{ url_for('static', filename='public/images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed"
          href="{{ url_for('static', filename='public/images/ico/apple-touch-icon-57-precomposed.png') }}">

    {% assets "main-login-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
    {#    <!-- Bootstrap Core CSS -->#}
    {#    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    {##}
    {#    <!-- MetisMenu CSS -->#}
    {#    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">#}
    {##}
    {#    <!-- Custom CSS -->#}
    {#    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">#}
    {##}
    {#    <!-- Custom Fonts -->#}
    {#    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
{#        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
{#        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
    <![endif]-->

</head>

<body class="page-bg">
<style>
    div.label{
        font-size: 14px;
    }
    select#method_of_reach{
        font-size: 14px;
        padding: 0px 5px !important;
    }
    #referral_box{
        display: None;
    }
    #fog_p:hover{
        color: #ebb218 !important;
    }
</style>
<div class="page">
    {% for message in get_flashed_messages() %}
            <div id="imp_flash">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                {#                <div class="login-panel panel panel-default">#}
                <div class="login_logo">
                    <a href="{{ url_for('.index') }}"> <img src="/static/bob_logo.png" alt="BuyOrBid" style="height:70px;"></a>
                </div>
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Register</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div id="flashbox" class="row">
                                        <div class="col-md-12">
                                            <div class="note note-danger">
                                                {% for message in messages %}
                                                    <p>
                                                        {{ message }}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <form id="login-form" role="form" name="form" action="{{ request.path }}"
                                  enctype="multipart/form-data"
                                  method="post">
                                {{ form.csrf_token }}
                                <fieldset>
                                    <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                                        <div class="label">{{ form.username.label }}</div>
                                        {{ form.username(class='login-form-control form-control') }}
                                        {% if form.username.errors %}
                                            {% if form.username.description %}
                                                <span class="help-block">{{ form.username.description }}</span>
                                            {% endif %}
                                            {% for e in form.username.errors %}<span class="help-block">{{ e }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                                        <div class="label">{{ form.password.label }}</div>
                                        {{ form.password(class='login-form-control form-control') }}
                                        {% if form.password.errors %}
                                            {% if form.password.description %}
                                                <span class="help-block">{{ form.password.description }}</span>
                                            {% endif %}
                                            {% for e in form.password.errors %}<span class="help-block">{{ e }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <!-- Change this to a button or input when using this as a form -->
                                <div class="form-group">
                                    <button type="submit" class="yellow-btn btn btn-lg btn-success btn-block">Login
                                    </button>
                                    <a id="fog_p" href="{{url_for('.forgot_password')}}" style="margin-top: 10px;color: inherit;text-align: center;display: block;" >Forgot Your Password? Click Here to Reset</a>
                                </div>
                                </fieldset>
                            </form>
                            <form id="register-form" role="form" name="s_form" style="display: none;"
                                  action="{{ request.path }}" enctype="multipart/form-data" method="post">
                                {{ s_form.csrf_token }}
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6 form-group {% if s_form.first_name.errors %} has-error {% endif %}">
                                            <div class="label">{{ s_form.first_name.label }}</div>
                                            {{ s_form.first_name(class='login-form-control form-control') }}
                                            {% if s_form.first_name.errors %}
                                                {% if s_form.first_name.description %}
                                                    <span class="help-block">{{ s_form.first_name.description }}</span>
                                                {% endif %}
                                                {% for e in s_form.first_name.errors %}
                                                    <span class="help-block">{{ e }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 form-group {% if s_form.last_name.errors %} has-error {% endif %}">
                                            <div class="label">{{ s_form.last_name.label }}</div>
                                            {{ s_form.last_name(class='login-form-control form-control') }}
                                            {% if s_form.last_name.errors %}
                                                {% if s_form.last_name.description %}
                                                    <span class="help-block">{{ s_form.last_name.description }}</span>
                                                {% endif %}
                                                {% for e in s_form.last_name.errors %}
                                                    <span class="help-block">{{ e }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group {% if s_form.email.errors %} has-error {% endif %}">
                                        <div class="label">{{ s_form.email.label }}</div>
                                        {{ s_form.email(class='login-form-control form-control') }}
                                        {% if s_form.email.errors %}
                                            {% if s_form.email.description %}
                                                <span class="help-block">{{ s_form.email.description }}</span>
                                            {% endif %}
                                            {% for e in s_form.email.errors %}<span class="help-block">{{ e }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group {% if s_form.username.errors %} has-error {% endif %}">
                                        <div class="label">{{ s_form.username.label }}</div>
                                        {{ s_form.username(class='login-form-control form-control') }}
                                        {% if s_form.username.errors %}
                                            {% if s_form.username.description %}
                                                <span class="help-block">{{ s_form.username.description }}</span>
                                            {% endif %}
                                            {% for e in s_form.username.errors %}<span class="help-block">{{ e }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 form-group {% if s_form.password.errors %} has-error {% endif %}">
                                            <div class="label">{{ s_form.password.label }}</div>
                                            {{ s_form.password(class='login-form-control form-control') }}
                                            {% if s_form.password.errors %}
                                                {% if s_form.password.description %}
                                                    <span class="help-block">{{ s_form.password.description }}</span>
                                                {% endif %}
                                                {% for e in s_form.password.errors %}
                                                    <span class="help-block">{{ e }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6 form-group {% if s_form.verify_password.errors %} has-error {% endif %}">
                                            <div class="label">{{ s_form.verify_password.label }}</div>
                                            {{ s_form.verify_password(class='login-form-control form-control') }}
                                            {% if s_form.verify_password.errors %}
                                                {% if s_form.verify_password.description %}
                                                    <span class="help-block">{{ s_form.verify_password.description }}</span>
                                                {% endif %}
                                                {% for e in s_form.verify_password.errors %}
                                                    <span class="help-block">{{ e }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 form-group {% if s_form.method_of_reach.errors %} has-error {% endif %}">
                                            <div class="label"><strong>How Did We Fall On You <img style="margin-left: 2px;" src="/static/public/images/ico/smiley-happy-wink.svg" alt="" width="15px"> ?</strong></div>
                                            {{ s_form.method_of_reach(class='login-form-control form-control') }}
                                            {% if s_form.method_of_reach.errors %}
                                                {% if s_form.method_of_reach.description %}
                                                    <span class="help-block">{{ s_form.method_of_reach.description }}</span>
                                                {% endif %}
                                                {% for e in s_form.method_of_reach.errors %}
                                                    <span class="help-block">{{ e }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" id="referral_box">
                                        <div class="col-md-6 form-group {% if s_form.referrer.errors %} has-error {% endif %}">
                                            <div class="label">{{ s_form.referrer.label }}</div>
                                            {{ s_form.referrer(class='login-form-control form-control') }}
                                            {% if s_form.referrer.errors %}
                                                {% if s_form.referrer.description %}
                                                    <span class="help-block">{{ s_form.referrer.description }}</span>
                                                {% endif %}
                                                {% for e in s_form.referrer.errors %}
                                                    <span class="help-block">{{ e }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="yellow-btn btn btn-lg btn-block">Signup <i class="fa fa-thumbs-up"></i></button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#    <!-- jQuery -->#}
{#    <script src="../vendor/jquery/jquery.min.js"></script>#}
{##}
{#    <!-- Bootstrap Core JavaScript -->#}
{#    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>#}
{##}
{#    <!-- Metis Menu Plugin JavaScript -->#}
{#    <script src="../vendor/metisMenu/metisMenu.min.js"></script>#}
{##}
{#    <!-- Custom Theme JavaScript -->#}
{#    <script src="../dist/js/sb-admin-2.js"></script>#}
<script src="{{ url_for('static', filename='public/js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='public/js/bootstrap.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {

        $('#login-form-link').click(function (e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function (e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

        {% if action=="reg" %}
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        {% endif %}

    });

    $('select[id=method_of_reach]').change(function () {
        var value = $(this).val();
        if(value=="friend"){
            $('#referral_box').show();
        }else{
            $('#referral_box').hide();
        }
    });

</script>

</body>

</html>
