{% extends "public/oldprofile-layout.html" %}

{% block body %}

    {#    <div class="tab-pane fade in active" id="tab1">#}
    {#        <h3>This is tab 1</h3>#}
    {#    </div>#}
    {#    <div class="tab-pane fade in" id="tab2">#}
    {#        <h3>This is tab 2</h3>#}
    {#    </div>#}
    {#    <div class="tab-pane fade in active" id="tab3">#}
    {#        <h3>This is tab 3</h3>#}
    {#    </div>#}
    <div class="cus-container container">
        {#        <div class="row">#}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                <div class="list-group">
                    {% for i in conversations %}
                        <a href="#" class="list-group-item text-center">
                            <h4 class="glyphicon">{{ i.conversees[0].user.name }}</h4><br/>{{ i.messages[-1].text }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <div id="screen" style="padding: 110px; display: block; text-align: center">
                    <i class="fa fa-comments-o" style="font-size: 100px" aria-hidden="true"></i>
                    <h1>Select a conversation on the left</h1>
                </div>
                {% for c in conversations %}
                    <!-- message section -->
                    <div class="bhoechie-tab-content">
                        {% for i in c.messages %}
                            {% if i.sender_id == current_user.id %}
                                <h2 class="msg"
                                    style="margin-top: 0;color:#55518a;; text-align: right">{{ i.text }}</h2>
                            {% else %}
                                <div class="msg">
                                {% if i.product_id %}
                                    <div class="quoted-msg quoted-msg-clickable">
                                        <div class="quoted-msg-status">
                                            <span class="bg-color-1 quoted-msg-color-bar"></span>
                                            <div class="quoted-msg-info">
                                                <div>
                                                    <div class="author color-1 quoted-msg-author">
                                                        <span dir="auto" class="emojitext author-name"><!-- react-text: 24841 -->Emotu<!-- /react-text --></span>
                                                    </div><div class="message-text quoted-msg-text">
                                                    <span dir="auto" class="emojitext"><!-- react-text: 24844 -->Been traveling. Just getting back to Lagos<!-- /react-text --></span>
                                                </div>
                                                </div>
                                            </div>
                                        </div><!-- react-empty: 24845 -->
                                    </div>
                                {% endif %}
                                <h2 style="margin-top: 0;color:#55518a;float: left">{{ i.text }}</h2>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {#        </div>#}
    </div>

{% endblock body %}

{% block page_js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var sc = document.getElementById('screen');
                sc.style.display = 'none';
                var index = $(this).index();
                console.log(index, "index");
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });
        });
    </script>
{% endblock page_js %}