{% extends "public/layout.html" %}
{% block body %}
{% include 'public/snippets/sidebar.html' %}
<div class="span9">
	<ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">Products</li>
	</ul>

<br class="clr"/>
<div class="tab-content">
    <div class="tab-pane  active" id="blockView">
	<ul class="thumbnails">
        {% for obj in results.objects %}
        <li class="span3" ng-controller="CartItemController" ng-init='init({{obj|tojson}})'>
			<div class="thumbnail">
			<a href="{{ url_for('.product', id=obj.id, handle=obj.handle) }}"><img src="{{ obj.cover_image_url }}" alt="" style="width: 160px; height: 160px"/></a>
			<a href="{{ url_for('.product', id=obj.id, handle=obj.hanlde) }}">
                <div class="caption">
                    <h5>{{ obj.name }}</h5>
                    <p>
                    {{ obj.description }}
                    </p>
                    <h4>
                        {% if obj.is_discounted %}
                            <small class="pull-left black-price-tag" style="width: 100%; padding-bottom: 5px;"> ₦ {{ whole_number_format(obj.min_price) }} <span class="yellow-price-tag">₦ {{ whole_number_format(obj.max_price) }}</span></small>
                        {% else %}
                            <small class="pull-left black-price-tag"  style="width: 100%; padding-bottom: 5px;">₦ {{ whole_number_format(obj.price) }}</small>
                        {% endif %}
                    </h4>
                    {% if current_user.is_authenticated() %}
                    <a class="center" href="javascript:void(0);" style="font-size: 13px; color: rgba(94,93,94,0.69)" ng-click="addProductToWishList()">Add to Wishlist <i class="fa fa-heart {% if obj.id in wishlist_product_ids %}added{% endif %}" style="font-size: 16px"></i></a>
                    {% else %}
                        <a class="center" href="{{ url_for('.login',next=request.path) }}" style="font-size: 13px; color: rgba(94,93,94,0.69)">Add to Wishlist <i class="fa fa-heart" style="font-size: 16px"></i></a>
                    {% endif  %}
                    <div class="clearfix"></div>
                </div>
            </a>
			</div>
		</li>
        {% endfor %}
    </ul>

</div>
</div>
<div class="pagination pull-right">
	<ul>
	<li><a href="#">&lsaquo;</a></li>
	<li><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">...</a></li>
	<li><a href="#">&rsaquo;</a></li>
	</ul>
</div>
<div class="clearfix"></div>
</div>
{% endblock body %}
