{% extends "public/oldprofile-layout.html" %}

{% block body %}

    <div class="tab-pane fade in active" id="tab1">
        <h3>This is tab 1</h3>
    </div>
{#    <div class="tab-pane fade in" id="tab2">#}
{#        <h3>This is tab 2</h3>#}
{#    </div>#}
{#    <div class="tab-pane fade in" id="tab3">#}
{#        <h3>This is tab 3</h3>#}
{#    </div>#}

{% endblock body %}