<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% assets "oldprofile-global-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
    <title>Buy Or Bid{% if page_title %} | {{ page_title }}{% endif %}</title>
</head>
<body>

<div class="col-lg-12 col-sm-6">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="card-info"><span class="card-title">Pamela Anderson</span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="{{ url_for('.profile') }}">
                <button type="button" id="messages"
                        class="btn {% if request.path == url_for('.profile') %}btn-primary{% else %}btn-default{% endif %}"
                        href="#tab1"><span
                        class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">My ByOrBid</div>
                </button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span
                    class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">My Orders</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <a href="{{ url_for('.messages') }}">
                <button type="button" id="messages" class="btn {% if url_for('.messages') in request.path %}btn-primary{% else %}btn-default{% endif %}"
                        href="#tab3"><span
                        class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">Messages</div>
                </button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span
                    class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Wish list</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span
                    class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Settings</div>
            </button>
        </div>
    </div>

    <div class="well">
        <div class="tab-content">
            {% block body %}

            {% endblock body %}
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='public/js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='public/js/bootstrap.min.js') }}" type="text/javascript"></script>
{#<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>#}
{#<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>#}
{#<script type="text/javascript">#}
{#    $(document).ready(function () {#}
{#        $(".btn-pref .btn").click(function () {#}
{#            $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");#}
{#            // $(".tab").addClass("active"); // instead of this do the below#}
{#            $(this).removeClass("btn-default").addClass("btn-primary");#}
{#        });#}
{#    });#}
{#</script>#}
{% block page_js %}

{% endblock page_js %}
</body>
</html>