{% extends "public/layout.html" %}

{% block body %}
    <form method="post" >
    <input type="text" name="pin" placeholder="pin">
{#        {{ form.csrf_token }}#}
{#        <input type="hidden" name="quantity" value="1">#}
{#        <div class="form-group  {% if form.variant_id.errors %} has-error {% endif %}">#}
{#            <label for="variant_ids"><strong>Select Product Variant</strong></label>#}
{#            <div class="checkbox-list variant_ids">#}
{#                {% for subfield in form.variant_ids %}#}
{#                    <label class="checker"#}
{#                           style="margin-right: 1em; margin-bottom: 1em;">{{ subfield }} {{ subfield.label }}</label>#}
{#                {% endfor %}#}
{#                {% if form.variant_id.errors %}#}
{#                    {% for e in form.variant_id.errors %}<span class="help-block">{{ e }}</span>{% endfor %}#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group {% if form.variant_id.errors %} has-error {% endif %} hidden">#}
{#            <label for="{{ form.variant_id.name }}">Select Product Variant</label>#}
{#            {{ form.variant_id(class="form-control") }}#}
{#            {% if form.variant_id.errors %}#}
{#                {% for e in form.variant_id.errors %}<span class="help-block">{{ e }}</span>{% endfor %}#}
{#            {% endif %}#}
{#        </div>#}
    </form>
{% endblock body %}