{% extends "public/layout.html" %}

{% block body %}

    {% include 'public/snippets/sidebar.html' %}
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.index') }}">Home</a> <span class="divider">/</span></li>
            <li><a href="{{ url_for('.products') }}">Products</a> <span class="divider">/</span></li>
            <li class="active">{{ product.name }}</li>
        </ul>
        <div class="row">
            <div id="gallery" class="span4">
                <a href="{{ product.cover_image.url }}" title="{{ product.name }}">
                    <img src="{{ product.cover_image.url }}" style="width:100%" alt="{{ product.name }}"/>
                </a>
                <div id="differentview" class="moreOptopm carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="prod thumb-item">
                                {% for i in product.images %}
                                    <li>
                                        <div class="prod-thumb">
                                            <a href="{{ i.url }}"> <img style="width: 50px; height: auto"
                                                                        src="{{ i.url }}" alt=""/></a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="btn-toolbar">
                    {% if all_done %}
                        <div class="btn-group">
                            <span class="btn"><i class="fa fa-envelope"></i></span>
                            <span class="btn"><i class="fa fa-print"></i></span>
                            <span class="btn"><i class="fa fa-zoom-in"></i></span>
                            <span class="btn"><i class="fa fa-star"></i></span>
                            <span class="btn"><i class=" fa fa-thumbs-up"></i></span>
                            <span class="btn"><i class="fa fa-thumbs-down"></i></span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="span5 product_descrip">
                <h3>{{ product.name }}</h3>
                <h4 class="yellow-price-tag" style="font-size: x-large">
                    {% if product.on_sale %}
                        {% if product.max_price != product.min_price %}
                            <span id='main-price'
                                  class="pull-left">₦{{ whole_number_format(product.min_price) }} - ₦{{ whole_number_format(product.max_price) }}</span>
                            <small id="slash_price" class="slash_price" style="color: black">
                                ₦{{ whole_number_format(product.regular_price) }}</small>
                        {% else %}
                            <span id='main-price'
                                  class="pull-left">₦{{ whole_number_format(product.sale_price) }}</span>
                            <small id="slash_price" class="slash_price" style="color: black">
                                ₦{{ whole_number_format(product.regular_price) }}</small>
                        {% endif %}
                    {% else %}
                        {% if product.max_price != product.min_price %}
                            <span id='main-price'
                                  class="pull-left">₦{{ whole_number_format(product.max_price) }} - ₦{{ whole_number_format(product.min_price) }}</span>
                        {% else %}
                            <span id='main-price' class="pull-left">₦{{ whole_number_format(product.price) }}</span>
                        {% endif %}
                    {% endif %}
                </h4>
                <div class="clearfix"></div>
                <hr class="soft"/>
                <form method="post" action="{{ request.path }}">
                    {{ form.csrf_token }}
                    <div class="form-group  {% if form.variant_id.errors %} has-error {% endif %}">
                        <label for="variant_ids"><strong>Select Product Variant</strong></label>
                        <div class="checkbox-list variant_ids">
                            {% if product.quantity <1 %}
                                <label class="checker" style="margin-right: 1em; margin-bottom: 1em;color:#ff570a;">OUT
                                    OF STOCK</label>
                            {% endif %}
                            {% for subfield in form.variant_ids %}
                                <label class="checker"
                                       style="margin-right: 1em; margin-bottom: 1em;">{{ subfield }} {{ subfield.label }}</label>
                            {% endfor %}
                            {% if form.variant_id.errors %}
                                {% for e in form.variant_id.errors %}<span class="help-block">{{ e }}</span>{% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group {% if form.variant_id.errors %} has-error {% endif %} hidden">
                        <label for="{{ form.variant_id.name }}">Select Product Variant</label>
                        {{ form.variant_id(class="form-control") }}
                        {% if form.variant_id.errors %}
                            {% for e in form.variant_id.errors %}<span class="help-block">{{ e }}</span>{% endfor %}
                        {% endif %}
                    </div>
                    <div id="item_actions">
                        <div class="form-group {% if form.quantity.errors %} has-error {% endif %}">
                            <label for="{{ form.quantity.name }}"> Qty:</label>
                            <input type="number" name="quantity" value="1" min="1">
                            {% if form.quantity.errors %}
                                {% for e in form.quantity.errors %}<span class="help-block">{{ e }}</span>{% endfor %}
                            {% endif %}
                        </div>
                        {#                        <span style="color: #dc4e04" id="auction-timer">{{bid_end.strftime('%b %d, %Y %H:%M %p')}}</span>#}
                        <div class="action_btns">
                            <a id="buy_now_btn" href="" class="black-btn btn btn-large bob pull-right"> Buy Now <i
                                    class="fa fa-gift"></i></a>
                            <button id="add_to_cart_btn" type="submit" class="yellow-btn btn btn-large pull-right"> Add
                                to cart <img class="img_n_o_h" src="/static/shopping-cart-small-black_1.svg" alt=""/><img
                                        class="img_o_h" src="/static/shopping-cart-small_1.svg" alt=""/></button>
                        </div>
                    </div>
                </form>
                <div id="prob_plc_order">
                    <h5>Problem Placing Order?</h5>
                    <span class="inf">Call or Contact via Whatsapp</span>
                    <span>
                        <a href="tel:07026387650"><i class="fa fa-phone"></i> 0702 638 7650</a>
                        {% if product %}
                            <a href="whatsapp://send?text=Hello BuyOrBid! I want the {{ product.name }}&phone=+2347026387650"><i
                                    class="fa fa-whatsapp"></i> 0702 638 7650</a>
                        {% else %}
                            <a href="whatsapp://send?text=Hello BuyOrBid!&phone=+2347026387650"><i
                                    class="fa fa-whatsapp"></i> 0702 638 7650</a>
                        {% endif %}
                    </span>
                </div>
                <hr class="soft clr"/>
                <p>
                    {{ product.description }}
                </p>
                <a class="btn btn-small btn-warning bob pull-right" href="#detail">More Details</a>
                <br class="clr"/>
                <a href="#" name="detail"></a>
                <hr class="soft"/>
            </div>

            <div class="span9">
                <ul id="productDetail" class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">Description</a></li>
                    <li><a href="#profile" data-toggle="tab">Related Products</a></li>
                    <li><a href="#customers" data-toggle="tab">Ask A Customer</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    {#                        details#}
                    <div class="tab-pane fade active in" id="home">
                        {% if specs.items() %}
                            <h4>Product Information</h4>
                        {% endif %}
                        <table class="table table-bordered">
                            <tbody>
                            {% for k,v in specs.items() %}
                                <tr class="techSpecRow">
                                    <td class="techSpecTD1">{{ k }}:</td>
                                    <td class="techSpecTD2">{{ v }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if vid %}
                            <center>
                                <div class="videoWrapper">
                                    <iframe width="800" height="395" src="{{ vid.content|safe }}" frameborder="0"
                                            allowfullscreen></iframe>
                                </div>
                            </center>
                        {% endif %}
                        {% if pic %}
                            {{ pic.content|safe }}
                        {% endif %}
                        {% if tex %}
                            {{ tex.content|safe }}
                        {% endif %}
                    </div>
                    {#                        related#}
                    <div class="tab-pane fade" id="profile">
                        <div class="tab-content">

                            <div class="tab-pane active" id="blockView1">
                                {% if also_likes and also_likes.total>0 %}
                                    <ul class="thumbnails">
                                        {% for obj in also_likes.objects %}

                                            <li class="span3" ng-controller="CartItemController"
                                                ng-init='init({{ obj|tojson }})'>
                                                <div class="thumbnail">
                                                    <a href="{{ url_for('.product', id=obj.id, handle=obj.handle) }}"><img
                                                            src="{{ obj.cover_image_url }}" alt=""
                                                            style="width: 160px; height: 160px"/></a>
                                                    <a href="{{ url_for('.product', id=obj.id, handle=obj.handle) }}">
                                                        <div class="caption">
                                                            <h5>{{ obj.name }}</h5>
                                                            <p>
                                                                {{ obj.description }}
                                                            </p>
                                                            <h4 class="yellow-price-tag">
                                                                {% if obj.on_sale %}
                                                                    <span class="pull-left"
                                                                          style="width: 100%; padding-bottom: 5px;"> ₦ {{ whole_number_format(obj.min_price) }} <small
                                                                            class="slash_price" ,
                                                                            style="color: black">₦ {{ whole_number_format(obj.max_price) }}</small></span>
                                                                {% else %}
                                                                    ₦ {{ whole_number_format(obj.price) }}
                                                                {% endif %}
                                                            </h4>
                                                            {% if current_user.is_authenticated() %}
                                                                <a class="center" href="javascript:void(0);"
                                                                   style="font-size: 13px; color: rgba(94,93,94,0.69)"
                                                                   ng-click="addProductToWishList()">Add to Wishlist <i
                                                                        class="fa fa-heart {% if obj.id in wishlist_product_ids %}added{% endif %}" ng-class="{'added': obj.added_to_wishlist}"
                                                                        style="font-size: 16px"></i></a>
                                                            {% else %}
                                                                <a class="center"
                                                                   href="{{ url_for('.login',next=request.path) }}"
                                                                   style="font-size: 13px; color: rgba(94,93,94,0.69)">Add
                                                                    to Wishlist <i class="fa fa-heart"
                                                                                   style="font-size: 16px"></i></a>
                                                            {% endif %}
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <div style="text-align: center;">No Related products found.</div>
                                {% endif %}
                                <hr class="soft"/>
                            </div>
                        </div>
                        <br class="clr">
                    </div>
                    {#                        customer#}
                    <div class="tab-pane fade" id="customers">
                        <div style="font-size: medium; text-align:center;">
                            <p>Never regret a purchase. <br> Ask questions <b>directly</b> from other customers who have
                                bought this item</p>
                        </div>
                        <hr class="soft"/>
                        <div class="tab-content">
                            <div class="tab-pane active" id="blockView">
                                <ul class="thumbnails">
                                    {% for entry in prev_orders %}
                                        <li class="span3 ask_customer_tiles">
                                            <div class="thumbnail">
                                                <a href="#"><img
                                                        src="{{ entry.user.profile_pic }}" alt=""/></a>
                                                <div class="caption">
                                                    <h5>{{ entry.user.first_name }} {{ entry.user.last_name }}</h5>
                                                    <p>
                                                        Ordered on: {{ entry.date_created.strftime("%d/%m/%y") }}
                                                        <br>
                                                        Registered
                                                        since: {{ entry.user.date_created.strftime("%d/%m/%y") }}
                                                    </p>
                                                    <h4 style="text-align:center">
                                                        <a class="btn black-btn reverse" href="#ask{{ entry.user_id }}"
                                                           role="button" data-toggle="modal">
                                                            ASK
                                                        </a>
                                                        <div id="ask{{ entry.user_id }}" class="modal hide fade in"
                                                             tabindex="-1"
                                                             role="dialog"
                                                             aria-labelledby="ask" aria-hidden="false">
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-hidden="true">×
                                                                </button>
                                                                <h3>Ask Customer</h3>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form role="form" name="form"
                                                                      action="{{ url_for(".ask_customer", next=url_for(".product", id=product.id, handle=product.handle)) }}"
                                                                      method="post">
                                                                    {{ ask_form.csrf_token }}
                                                                    <fieldset>
                                                                        <div class="form-group {% if ask_form.text.errors %} has-error {% endif %}">
                                                                            {{ ask_form.text(class='form-control', placeholder='E-mail') }}
                                                                            {% if ask_form.text.errors %}
                                                                                {% if ask_form.text.description %}
                                                                                    <span class="help-block">{{ ask_form.text.description }}</span>
                                                                                {% endif %}
                                                                                {% for e in ask_form.text.errors %}
                                                                                    <span class="help-block">{{ e }}</span>
                                                                                {% endfor %}
                                                                            {% endif %}
                                                                        </div>
                                                                        {{ ask_form.product_id(class="form-control hidden", style="display:none", value=product.id) }}
                                                                        {{ ask_form.sender_id(class="form-control", style="display:none", value=current_user.id) }}
                                                                        {{ ask_form.receiver_id(class="form-control", style="display:none", value=entry.user_id) }}
                                                                        <!-- Change this to a button or input when using this as a form -->
                                                                        <button type="submit"
                                                                                class="btn btn-sm btn-success">
                                                                            Send
                                                                        </button>
                                                                        <button class="btn" data-dismiss="modal"
                                                                                aria-hidden="true">Close
                                                                        </button>

                                                                    </fieldset>
                                                                </form>
                                                                {#                                        <button type="submit" class="btn btn-success">Sign in</button>#}
                                                                {#                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>#}
                                                            </div>
                                                        </div>
                                                    </h4>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {% if prev_orders.all()|length < 1 %}
                                        <center><p style="font-size: large">No Signed up buyers yet. <br/>But others have given great comments</p></center>
                                    {% endif %}
                                </ul>
                                <hr class="soft"/>
                            </div>
                        </div>
                        <br class="clr">
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}

{% block page_js %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var variant_prices =
            {{ variant_prices|safe }}
            var variant_ids_val = $('input[type=radio][name=variant_ids]').attr('checked', false);
            $('#auction-timer').countdown("{{bid_end.strftime('%Y/%m/%d')}}").on('update.countdown', function (event) {
                var $this = $(this).html(event.strftime(''
                    // + '<span>%-w</span> week%!w '
                    + '<span>%-d</span> day%!d '
                    + '<span>%H</span> hr '
                    + '<span>%M</span> min '
                    + '<span>%S</span> sec'));
            });
            {#            $('#item_actions').hide();#}

            $('input[type=radio][name=variant_ids]').change(function () {
                var value = this.value;
                var vali = $("#variant_id").val(value);
                $('#p_price').html("₦" + variant_prices[value][0]);
                document.getElementById("main-price").innerHTML = "₦" + variant_prices[value][0];
                var s_p_val = variant_prices[value][1];
                console.log(s_p_val);
                if (s_p_val) {
                    $(".slash_price").innerHTML = "₦" + variant_prices[value][1];
                    document.getElementById("slash_price").innerHTML = "₦" + variant_prices[value][1];
                }
                ;
                $('#item_actions').show();
                $('#buy_now_btn').attr("href", "/checkout/" + value + "/buy_now/prepare/");
            });

        });
    </script>
    <script>
        function priceFunction() {
            var p = document.getElementById("variant_id").options[document.getElementById("variant_id").selectedIndex].getAttribute("price");
            document.getElementById("price").innerHTML = p;
        }
    </script>


    <!-- The below method uses jQuery, but that is not required -->
    <!-- Add event to the button's click handler -->
    <script type="text/javascript">
        $('#add_to_cart_btn').click(function () {
            fbq('track', 'AddToCart', {
                content_ids: ['1234'],
                content_type: 'product',
                value: 2.99,
                currency: 'USD'
            });
        });
    </script>

{% endblock page_js %}
