{% extends "public/layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-12" style="text-align: center;margin-top: 30px;">
      <img src="/static/public/images/ico/smiley-happy.svg" alt="" style="width: 70px;">
     <h2 class="number" style="color: #ebb218;">
        Success!
     </h2>
     <div class="details">
        <h2>Your password reset link has been sent</h2>
        <p>
    			Please follow the instructions in your email to continue.
    	</p>
        <p>
        </p>
      </div>
  </div>
</div>
{% endblock body %}
