{% extends "public/layout.html" %}
{% block body %}
<div class="row">


<div class="col-md-12" style="text-align: center;margin-top: 30px;">
    <img src="/static/public/images/ico/smiley-happy-dimple.png" alt="" style="width: 70px;">
     <h2 class="number" style="color: #ebb218;">
        Done!
     </h2>
     <div class="details">
        <h2>Your password reset was successful</h2>
        <p>
          You can now log in and continue shopping.
        </p>
        <p>
        </p>
      </div>
  </div>
</div>
{% endblock body %}
