{% extends "public/layout.html" %}
{% block body %}
    {#    <header class="private_pg_header"><h3>{{ page_title }}</h3></header>#}
    <a href="#">
        <div class="static-banner">
            <img src="http://res.cloudinary.com/rusty-x/image/upload/v1513775017/xmas-sale_1_e22hvk.png">
            <div class="banner-container">

            </div>
        </div>
    </a>

    <header class="private_pg_header">
        <div class="timer-app ng-cloak">

            <timer class="timer-counter-h ng-cloak" end-time="{{ sale_end_time }}">
                <div class="vert-time ng-cloak">
                    <span>[[days]]</span>
                    <span class="dark">Days</span>
                </div>
                <div class="vert-time ng-cloak">
                    <span>[[hours]]</span>
                    <span class="dark">Hours</span>
                </div>
                <div class="vert-time ng-cloak">
                    <span>[[mminutes]]</span>
                    <span class="dark">Minutes</span>
                </div>
                <div class="vert-time ng-cloak">
                    <span>[[sseconds]]</span>
                    <span class="dark">Seconds</span>
                </div>

            </timer>
        </div>
    </header>
    <!-- Sidebar ================================================== -->
    <div id="sidebar" class="span3" style="margin-left: 0;">
        <ul id="sideManu" class="nav nav-tabs nav-stacked">
            {% for c in product_categories|sort(attribute='nested.name') %}
                {% if c.nested and c.nested.level < 1 %}
                    <li class="subMenu"><a class="title">{{ c.nested.name }}</a>
                        <ul style="display: none">
                            <li><a href="{{ url_for('.sales', sec_slug=c.nested.code) }}">All {{ c.nested.name }}</a>
                            </li>
                            {% for i in c.nested.categories|sort(attribute='name') %}
                                <li>
                                    <a href="{{ url_for('.sales', sec_slug=c.nested.code,cat_slug=i.code) }}"> {{ i.name }} </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <br/>
    </div>
    <!-- Sidebar end=============================================== -->
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{{ url_for('.sales') }}">{{ page_title }}</a> <span class="divider">/</span></li>
            {% if section %}
                <li><a {% if not category %}class="active"{% endif %}
                       href="{{ url_for('.products',sec_slug=section.nested.code) }}">{{ section.nested.name }}</a>
                    <span class="divider">/</span></li>
            {% endif %}
            {% if category %}
                <li><a class="active"
                       href="{{ url_for('.products',sec_slug=section.code,cat_slug=category.nested.code) }}">{{ category.nested.name }}</a>
                </li>
            {% endif %}
        </ul>

        <br class="clr"/>
        <div class="tab-content" style="overflow: visible !important;">
            <div class="tab-pane  active" id="blockView">
                {% if results.total > 0 %}
                    <ul class="thumbnails">
                        {% for obj in results.objects %}
                            <li class="span3 produc_tiles" ng-controller="CartItemController"
                                ng-init='init({{ obj|tojson }})'>
                                <div class="thumbnail">
                                    <a href="{{ url_for('.product', id=obj.id, handle=obj.handle) }}">
                                        {% if obj.percentage_off %}
                                            <div class="ribbon-shadow">
                                                <span class="ribbon">
                                                    <strong>{{ obj.percentage_off }}</strong> OFF
                                                    <span class="fold"></span>
                                                </span>
                                            </div>
                                        {% endif %}
                                        <img src="{{ obj.cover_image_url }}" alt=""
                                                style="width: 160px; height: 160px"/></a>
                                    <a href="{{ url_for('.product', id=obj.id, handle=obj.handle) }}">
                                        <div class="caption">
                                            <h5>{{ obj.name }}</h5>
                                            <p>
                                                {{ obj.description }}
                                            </p>
                                            <h4 class="yellow-price-tag">
                                                {% if obj.on_sale %}
                                                    <span class="pull-left"
                                                          style="width: 100%; padding-bottom: 5px;"> ₦ {{ whole_number_format(obj.min_price) }} <small
                                                            class="slash_price" ,
                                                            style="color: black">₦ {{ whole_number_format(obj.max_price) }}</small></span>
                                                {% else %}
                                                    ₦ {{ whole_number_format(obj.price) }}
                                                {% endif %}
                                            </h4>
                                            {% if current_user.is_authenticated() %}
                                                <a class="center" href="javascript:void(0);"
                                                   style="font-size: 13px; color: rgba(94,93,94,0.69)"
                                                   ng-click="addProductToWishList()">Add to Wishlist <i
                                                        class="fa fa-heart {% if obj.id in wishlist_product_ids %}added{% endif %}" ng-class="{'added': obj.added_to_wishlist}"
                                                        style="font-size: 16px"></i></a>
                                            {% else %}
                                                <a class="center" href="{{ url_for('.login',next=request.path) }}"
                                                   style="font-size: 13px; color: rgba(94,93,94,0.69)">Add to Wishlist
                                                    <i class="fa fa-heart" style="font-size: 16px"></i></a>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div id="sold_out">
                        <img src="{{ url_for('static', filename='public/images/sold-out3.png') }}" alt="">
                        <p>Please check back again or join our subscription to get updates on your favorite
                            category.</p>
                    </div>
                {% endif %}
            </div>
        </div>
        {% include 'public/snippets/pagination.html' %}
        <div class="clearfix"></div>
    </div>
{% endblock body %}
