{% extends "public/layout.html" %}
{% block fbevent_code %}
    fbq('track', 'CompleteRegistration');
{% endblock fbevent_code %}
{% block body %}
    <style>
      i.fa-envelope-o{
          font-size: 120px;
          color: #ebb128;
      }
    .email-display-box{
        margin-bottom: 10px;
    }
  </style>
          <div class="container">
          <div class="viewport onboarding grey-background">
              <div class="heading colored-background">
                  <!-- <a href="" class="action-link float-left"><i class="bi_interface-arrow-left"></i></a> -->
                  <div class="small centered white-text">

                  </div>
              </div>
              <div class="success-message-contain">
                <div class="success-tick">
                  <div class="trigger"></div>
                  <i class="fa fa-envelope-o"></i>
                </div>
                <div class="success-message-text">
                  <div class="email-display-box">
                      <img src="/static/public/images/ico/smiley-cool.svg" alt="" width="20px">
                      <img src="/static/public/images/ico/smiley-grin.svg" alt="" width="20px">
                      <img src="/static/public/images/ico/smiley-happy.svg" alt="" width="20px">
                      <img src="/static/public/images/ico/smiley-happy-wink.svg" alt="" width="20px">
                      <img src="/static/public/images/ico/smiley-kiss.svg" alt="" width="20px">
                  </div>
                  <h3 class="text-center"><strong>You've successfully signed up!</strong></h3>
                  <p class="thank-you help text-center">Thank you for signing up. An email has been sent to you.<br/>Please check the email for a verification link.<br/>
                  If not found in your inbox please check your spam
                  </p>
                  <a style="margin-top: 15px;" href="{{url_for('.profile')}}" class="text-center"><h6>Proceed to your account</h6></a>
                </div>
              </div>
          </div>
      </div>

{% endblock body %}