{% extends "public/layout.html" %}

{% block body %}
<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3">
	<div class="well well-small">
		<a id="myCart" href="product_summary.html"><img src="{{ url_for('static', filename='public/images/ico-cart.png') }}" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a>
	</div>
	<ul id="sideManu" class="nav nav-tabs nav-stacked">
		<li class="subMenu open"><a> ELECTRONICS [230]</a>
			<ul>
			<li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Cameras (100) </a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Computers, Tablets & laptop (30)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Sound & Vision (15)</a></li>
			</ul>
		</li>
		<li class="subMenu"><a> CLOTHES [840] </a>
		<ul style="display:none">
			<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Clothing (45)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Men's Clothings  (45)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>
		</ul>
		</li>
		<li class="subMenu"><a>FOOD AND BEVERAGES [1000]</a>
			<ul style="display:none">
			<li><a href="products.html"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Bouchard Aine & Fils (8)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Other Liquors & Wine (5)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Garden (3)</a></li>
			<li><a href="products.html"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>
		</ul>
		</li>
		<li><a href="products.html">HEALTH & BEAUTY [18]</a></li>
		<li><a href="products.html">SPORTS & LEISURE [58]</a></li>
		<li><a href="products.html">BOOKS & ENTERTAINMENTS [14]</a></li>
	</ul>
	<br/>
	<div class="thumbnail">
		<img src="{{ url_for('static', filename='public/images/products/panasonic.jpg') }}" alt="Bootshop panasonoc New camera"/>
		<div class="caption">
			<h5>Panasonic</h5>
			<h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
		</div>
	</div>
	<br/>
	<div class="thumbnail">
		<img src="{{ url_for('static', filename='public/images/products/kindle.png') }}" title="Bootshop New Kindel" alt="Bootshop Kindel">
		<div class="caption">
			<h5>Kindle</h5>
				<h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
		</div>
	</div>
	<br/>
	<div class="thumbnail">
		<img src="{{ url_for('static', filename='public/images/payment_methods.png') }}" title="Bootshop Payment Methods" alt="Payments Methods">
		<div class="caption">
			<h5>Payment Methods</h5>
		</div>
	</div>
</div>
<!-- Sidebar end=============================================== -->
<div class="span9">
		<ul class="breadcrumb">
			<li><a href="index.html">Home</a> <span class="divider">/</span></li>
			<li class="active">Registration</li>
		</ul>
		<h3> Registration</h3>
		<div class="well">
			<form class="form-horizontal" action="{{ request.path }}" method="post" >
{#				<h4>Your personal information</h4>#}
                {{ form.csrf_token }}
                <div class="form-section">
                    <h4>Customer Information</h4>
                    <div class="inline-form-row">
                        <fieldset>
                            <label>First Name</label>
                            {{ form.first_name(placeholder='First Name') }}
                        </fieldset>
                        <fieldset>
                            <label>Last Name</label>
                            {{ form.last_name(placeholder='Last Name') }}
                        </fieldset>
                    </div>
                    <div class="inline-form-row">
                        <fieldset>
                            <label>Email</label>
                            {{ form.email(placeholder='Email') }}
                        </fieldset>
                        <fieldset>
                            <label>Phone Number</label>
                            {{ form.phone(placeholder='Phone Number') }}
                        </fieldset>
                    </div>
                    <div class="inline-form-row">
                        <fieldset>
                            <label>Username</label>
                            {{ form.username(placeholder='Username') }}
                        </fieldset>
                        <fieldset>
                            <label>Password</label>
                            {{ form.password(placeholder='Password') }}
                        </fieldset>
                        <fieldset>
                            <label>Verify Password</label>
                            {{ form.verify_password(placeholder='Re-type Password') }}
                        </fieldset>
                    </div>
                </div>


                {#				<div class="alert alert-block alert-error fade in">#}
{#					<button type="button" class="close" data-dismiss="alert">×</button>#}
{#					<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s#}
{#				</div>#}
                <input class="btn btn-large btn-success" type="submit" value="Sign Up" />
			</form>
		</div>
	</div>
{% endblock body %}
