{% extends "public/layout.html" %}
{% block fbevent_code %}
    fbq('track', 'Purchase', {value: {{ transaction.amount }}, currency: 'NGN'});
{% endblock fbevent_code %}
{% block body %}
    <style>
        h3, h5{
            font-weight: normal !important;
        }
    </style>
<div class="success-message-contain">
  <div class="success-tick">
    <div class="trigger"></div>
    <svg version="1.1" id="tick" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 37 37" style="enable-background:new 0 0 37 37;" xml:space="preserve">
    <path class="circ path" style="fill:none;stroke:green;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" d="
      M30.5,6.5L30.5,6.5c6.6,6.6,6.6,17.4,0,24l0,0c-6.6,6.6-17.4,6.6-24,0l0,0c-6.6-6.6-6.6-17.4,0-24l0,0C13.1-0.2,23.9-0.2,30.5,6.5z"
      />
    <polyline class="tick path" style="fill:none;stroke:green;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;" points="
      11.6,20 15.9,24.2 26.4,13.8 "/>
    </svg>
  </div>
  <div class="success-message-text">
    <h3 class="text-center">Transaction Successful</h3>
      <h5 class="text-center light-font">Your order <strong>{{transaction.order.code}}</strong> is {{transaction.order.order_status.code}}. The order is being processed and an email will be sent to you shortly</h5>
  </div>
</div>

{% endblock body %}
