/* Responsive--------------------- */
/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  //.navbar .brand {
  //  float: none;
  //  text-align: center;
  //}
  //
  //#sideManu, #topMenu {
  //  height: 0
  //}
  //
  //.navbar-search {
  //  margin-top: 8px;
  //  width: 100%;
  //  float: none;
  //}
  //
  //#topMenu {
  //  height: auto;
  //  float: none;
  //}
  //
  //#topMenu li {
  //  float: none;
  //}
  //
  //.navbar .nav > li > a {
  //  border-top: 1px solid #666;
  //  padding: 0
  //}
  //
  //#sideManu, #topMenu {
  //  height: 0
  //}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    font-size: 12px;
    #mainBody {
      padding: 0 10px;
    }
    #footerSection {
      padding: 10px 10px 0;
      .span3 {
        display: inline-block;
        width: 49%;
      }
      .span3:nth-child(3), .span3:first-child {
        float: left;
      }
    }

    #header {
      margin: 0 !important;
      #welcomeLine {
        text-align: center;
        .pull-right {
          float: none !important;
          .pull-right {
            float: none !important;
          }
        }
      }
      #logoArea {
        margin-bottom: 0 !important;
        #smallScreen {
          background: #000;
          margin: 21px 21px 0 0;
          .icon-bar {
            background-color: #ebb128;
          }
        }
        .navbar-inner {
          .brand {
            img {
              height: 55px;
            }
          }
          .navbar-search {
            width: auto;
          }
          form {
            padding: 0 8% !important;
            fieldset:first-child {
              width: 79%;
            }
            fieldset:last-child {
              width: 14%;
            }
          }
        }
        #topMenu {
          background: #222;
          float: none !important;
          padding: 0 !important;
          li {

            border-top: 1px solid #010101;
            a {
              border: 0 !important;
              padding: 0 10px;
              color: #f5f5f5 !important;
            }
          }
        }
      }
    }
    #carouselBlk {
      margin: 0 !important;
    }
    .sideManu {
      height: auto !important;
    }
  }

  #productDetail {
    display: inline-block;
  }

  .category_well_wrap {
    .category_well {
      height: 250px !important;
      padding-left: 150px !important;
      .category_brand {
        padding-top: 70px !important;
        width: 150px !important;
        height: 180px;
        .category_title {
          font-size: 16px !important;
          font-weight: bold;
          margin-bottom: 10px !important;
        }
      }
      .category_contents.style_one {
        .r._cont {
          display: none !important;
        }
        .l._cont {
          width: 55%;
        }
        .c._cont {
          width: 43%;
        }
      }
      .category_contents.style_two {
        .l._cont {
          display: none;
        }
        .r._cont {
          width: 100%;
        }
      }
    }
  }

  .shopping-cart {
    padding: 0 !important;
    div {
      padding: 5px;
    }
    div.cart-header {
      border-bottom: 1px solid #ddd;
    }
    .empty-cart .empty-cart-icon {
      min-height: 195px;
      height: 195px;
    }
  }

  .shopping-cart-items #chckout_btn {
    width: 93%;
  }

  #contactus {
    input, textarea {
      width: 95% !important;
      min-width: 95% !important;
      max-width: 95% !important;
    }
  }

  #splash-screen-dialog, .splash-screen-dialog{
        width: 96%;
    left: 2%;
    top:10%;
  }
  .produc_tiles{
    display: block !important;
  margin-left: 0 !important;
}
  .ribbon-shadow{
    right: -4px !important;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
  //#header, #carouselBlk {
  //  margin: 0 -20px;
  //}
  //
  #sideManu, #topMenu {
    height: auto !important;
  }

  #splash-screen-dialog, .splash-screen-dialog{
        width: 96%;
    left: 2%;
    top:5%;
  }

  .produc_tiles{
    display: block !important;
  margin-left: 0 !important;
}

  //
  //#topMenu {
  //  height: auto;
  //  float: none;
  //}
  //
  //#topMenu li {
  //  float: none;
  //}
  //
  //.navbar .nav > li > a {
  //  border-top: 1px solid #666;
  //  padding: 0
  //}
}
