input:focus, textarea:focus, select:focus, input:active, textarea:active, select:active {
  outline-color: rgba(255, 110, 1, 0.6) !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border-color: rgba(2, 2, 2, 0.4) !important;
}

.img_o_h {
  display: none !important;
}

#buy_now_btn:hover {
  color: #010101 !important;
}

.bob_error_color {
  color: #ff570a !important;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .9s ease-in-out !important;
}

.caption_color {
  color: #888 !important;
}

.grayscale.grayscale-fade {
  transition: all .6s ease-in-out !important;
}

#add_to_cart_btn:hover {
  img.img_n_o_h {
    display: none !important;
  }
  .img_o_h {
    display: inline-block !important;
  }
}

input:hover, textarea:hover, select:hover {
  border-color: #333;
}

.slash_price {
  color: #ebb128;
  text-decoration: line-through;
  margin-left: 10px;
}

.ng-cloak {
  display: none;
}

a {
  text-decoration: none !important;
}

.thumbnail .caption a:hover {
  color: #ebb128;
}

#welcomeLine {
  .btn-mini {
    border: none;
    padding: 3px 8px;
    color: #888;
  }
  .btn-mini:hover {
    color: #ebb128;
  }
}

#header_cart_icon {
  margin-left: 10px;
  a {
    text-decoration: none;
    color: #333;
    i.fa {
      margin-left: 5px;
      font-size: 25px;
      vertical-align: bottom;
    }
  }
  a:hover {
    color: #000;
    .fa-heart-o {
      color: #000 !important;
    }
    cursor: pointer;
  }
}

.empty-cart {
  padding: 50px 0;
  text-align: center;
  .empty-cart-icon {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 170px;
    height: 170px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.navbar .nav > li {
  cursor: pointer;
  a + span {
    cursor: pointer;
  }
}

li#username {
  span {
    padding: 10px;
    color: #DDD;
    text-shadow: none;
    line-height: 70px;
  }
  span:hover {
    color: #fff;
  }
}

.badge-warning.bob {
  background: #ebb128;
}

#flash {
  padding: 10px;
  background: #ebb128;
  color: #fff;
  box-shadow: 0px 0px 2px #ccc;
  p {
    margin: 0;
    text-align: center;
  }
}

#loginBtn {
  background: rgba(0, 0, 0, 0.2);
  color: #ddd;
  border: 0;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
}

#loginBtn:hover {
  color: #fff;
}

#sideManu {
  border-bottom: 1px solid #eee;
  li {
    a.active {
      color: #ebb128;
    }
  }
}

#sidebar {
  ul {
    li.subMenu {
      a {
        cursor: pointer;
      }
      li {
        a {
          text-decoration: none;
        }
        a:hover {
          color: #ebb128;
        }
        a.active {
          color: #ebb128;
        }
      }
    }
    li.subMenu.open {
      a.title {
        color: #ebb128;
      }
    }
  }
}

.techSpecRow {
  td {
    background: #fff;
  }
  th {
    background: transparent;
  }
}

.form-group .checker {
  display: inline-block !important;
}

.form-group .variant_ids .checker, .form-group .smth_radio_select .checker {
  display: inline-block !important;
}

.form-group .variant_ids .checker input, .form-group .smth_radio_select .checker input {
  display: none;
}

.form-group {
  .variant_ids, .smth_radio_select {
    .checker {
      input[type="radio"]:checked + label {
        border: 1px #eee solid;
        background-color: #f6f6f6;
        color: #ebb128;
        // text-shadow: 0px 0px 1px;
      }

      label {
        margin: 0 !important;
        cursor: pointer;
        border: 1px #eee solid;
        padding: 7px 10px;

        &:hover {
          border: 1px #ccc solid;
        }
      }
    }
  }
}

.btn-warning.bob {
  background-color: #ebb128;
  background-image: linear-gradient(to bottom, #f98348, #ebb128);
}

.product_descrip {
  form {
    #item_actions {
      display: inline-block;
      width: 100%;
      padding: 20px 10px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      background: #fcfcfc;
      .form-group {
        display: inline-block;

        input {
          height: 32px;
          font-size: 16px;
          width: 50px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border: 1px solid #eee;
          text-align: center;
        }
        input:hover {
          border: 1px solid #ccc;
        }
      }
      .action_btns {
        display: inline-block;
        float: right;
        padding-top: 24px;

        button {
          border-radius: 0;
          margin: 0 3px;
        }
      }
    }
  }
}

#new_card {
  div.wrap.payment_cards {
    margin-bottom: 5px;
    img {
      width: 25px;
      opacity: 0.1;
      margin-right: 5px;
    }
    img.clear {
      width: 25px;
      opacity: 1;
    }
  }
  div.wrap.third {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    overflow: hidden;
    div.form-group {
      display: inline-block;
      input {
        margin: 0 !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
      }
    }
    div.form-group:first-child {
      width: 73%;
      margin-bottom: 0;
      input {
        width: 100%;
        border: none;
      }
    }
    div.form-group:nth-child(2) {
      width: 15%;
      margin: 0;
      input {
        width: 100%;
        border: none;
        text-align: center;
      }
    }
    div.form-group:last-child {
      width: 10%;
      margin: 0;
      input {
        width: 100%;
        border: none;
        text-align: center;
      }
    }
  }
  div.wrap.half.contact {
    div.form-group {
      width: 49%;
      display: inline-block;
    }
    div.form-group:nth-child(2) {
      float: right;
    }
  }
  div.wrap.third:focus, div.wrap.third:hover, div.wrap.third:active {
    border: 1px solid #000;
  }
}

.success-message-contain {
  text-align: center;
  padding: 30px 0;
  .success-tick {
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
  }
}

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.mirror_icon:before {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.item-not-added-flash, .item-wishlist-not-added-flash {
  width: 100%;
  height: 35px;
  line-height: 35px;
  //position: absolute;
  //top: 133px;
  background: #fff;
  animation-duration: 0.5s;
  background-color: rgba(251, 222, 48, 0.9);
  color: #010101;
  display: none;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  .icon {
    text-align: center;
    height: 100%;
    color: #010101;
    display: inline-block;
    padding-right: 10px;
  }
  .text {
    display: inline-block;
    word-spacing: 1px;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

.item-added-flash, .item-wishlist-added-flash, .item-updated-flash, #imp_flash {
  width: 100%;
  height: 35px;
  line-height: 35px;
  //position: absolute;
  //top: 133px;
  background: #fff;
  animation-duration: 0.5s;
  background-color: rgba(1, 1, 1, 0.9);
  color: #ebb128 !important;
  display: none;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  .icon {
    text-align: center;
    height: 100%;
    color: #ebb128 !important;
    display: inline-block;
    padding-right: 10px;
  }
  .text {
    display: inline-block;
    word-spacing: 1px;
  }
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

#imp_flash {
  display: block;
  padding: 0;
}

#prob_plc_order {
  h5 {
    color: #ff570a;
  }
  span {
    display: block;
    font-size: 14px;
  }
  span.inf {
    margin-bottom: 5px;
  }
  span:last-child {
    a {
      display: inline-block;
      font-size: 16px;
    }
    a:first-child {
      margin: 0 7px 0 0;
    }
    a:last-child {
      margin: 0 0 0 7px;
    }
  }
}

.btn:hover {
  text-shadow: none !important;
  -webkit-text-shadow: none !important;
  -ms-text-shadow: none !important;
  -moz-text-shadow: none !important;
}

.item-added-flash, .item-not-added-flash, .item-wishlist-not-added-flash, .item-wishlist-added-flash, .item-updated-flash {
  position: fixed;
  top: 0px;
  z-index: 999999999999;
}

ul.wishlist {
  padding: 20px 12px 10px !important;
  li.span3 {
    margin-left: 0 !important;
    list-style: none !important;
  }
}

.category_well_wrap {
  margin: 10px 0 20px;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  .category_well {
    position: relative;
    height: 300px;
    background-color: #fff;
    padding-left: 230px;
    vertical-align: baseline;
    border-bottom: 1px solid #eee;
    .category_brand {
      position: absolute;
      left: 0;
      top: 0;
      width: 230px;
      height: 225px;
      padding-top: 75px;
      float: left;
      text-align: center;
      a {
        display: block;
        width: 100%;
        height: 100%;
        span.category_title {
          display: block;
          font-size: 30px;
          margin-bottom: 40px;
          line-height: 40px;
        }
        span.category_btn_lnk {

          display: inline-block;
          padding: 0 15px;
          font-size: 15px;
          line-height: 30px;
          color: #fff;
          font-weight: 700;
        }
        span.btn {
          border-radius: 0 !important;
        }
      }
    }
    .category_contents {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
    }
    .category_contents.style_one {
      ._cont {
        width: 30%;
        height: 100%;
        display: inline-block;
        background: #FDFDFD;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .c._cont {
        div, a div {
          display: block;
          width: 100%;
          height: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      }
      .r._cont, a .r._cont {
        float: right;
      }
      .l._cont, a .l._cont {
        width: 39%;
      }
    }
    .category_contents.style_two {
      ._cont {
        height: 100%;
        display: inline-block;
        background: #FDFDFD;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .r._cont {
        float: right;
        width: 60%;
        div.r_cont_t, a div.r_cont_t {
          display: block;
          width: 100%;
          height: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
        div.r_cont_b, a div.r_cont_b {
          display: block;
          width: 100%;
          height: 50%;
          div:first-child, a div:first-child {
            float: right;
          }
          div, a div {
            width: 50%;
            height: 100%;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
          }
        }
      }
      .l._cont {
        width: 40%;
      }
    }
  }
  .category_navs {
    padding: 0 10px;
    ul {
      margin: 0;
      li {
        display: inline-block;
        list-style: none;
        line-height: 32px;
        padding: 10px 15px;
      }
    }
  }
}

.center {
  display: block;
  text-align: center;
  .fa-heart-o.added, .fa-heart.added {
    color: #ebb128 !important;
  }
}

ul#topMenu.top-menu {
  li.dropdown:last-child {
    a {
      padding-right: 0 !important;
    }
  }
}

#splash-screen, .splash-screen {
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000 !important;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /*display: none;*/
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

#splash-screen.visible, #splash-screen-dialog.visible, .splash-screen.visible, .splash-screen-dialog.visible {
  display: block;
  visibility: visible;
}

#splash-screen-dialog, .splash-screen-dialog {
  position: fixed;
  z-index: 10000;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #c7c7c7;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  background: #fff;
  width: 40%;
  top: 20%;
  left: 30%;
  display: none;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;

}

#splash-screen-dialog .title, .splash-screen-dialog .title {
  color: #ebb128;
}

#splash-screen-dialog .small_title, .splash-screen-dialog .small_title {
  color: #333;
}

#splash-screen-dialog #splash-wrap, .splash-screen-dialog #splash-wrap {
  position: relative;
  padding: 15px;
}

#splash-screen-dialog .splash-screen-content, .splash-screen-dialog .splash-screen-content {
  min-height: 100px;
  max-height: 400px;
  overflow: auto;
  padding: 10px 20px;
  text-align: center;
  font-size: 110%;
}

#splash-screen-dialog .splash-screen-actions, .splash-screen-dialog .splash-screen-actions {
  padding: 20px 10px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 -1px 2px #ccc;
}

#socialMedia, .socialMedia {
  margin-bottom: 20px;
  a {
    margin-right: 15px !important;
    i.fa {
      font-size: 20px;
    }
  }
  span {
    color: #ccc;
  }
}

.form-group {
  margin-bottom: 15px;
}

#contactus {
  input {
    width: 100% !important;
  }
}

.error {
  color: crimson;
}

#header .container {
  padding: 0 !important;
}

.paginate {
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
  .btn, .btn-group {
    border-color: rgba(235, 235, 235, 0.4);
  }
  .btn {
    padding: 8px 12px;
    i {
      line-height: 20px;
    }
  }
  .btn:hover {
    background-color: #ebb128;
    color: #333 !important;
  }
}

#sold_out {
  width: 300px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  img {
    width: 60%;
    margin-bottom: 10px;
  }

}

.panel-heading {
  border-color: #ddd !important;
}

.panel-body {
  padding: 15px 15px 25px;
}

.ask_customer_tiles {
  .thumbnail {
    img {
      width: 60px !important;
      max-width: 60px !important;
      border-radius: 50%;
    }
  }
  .thumbnail:hover, .thumbnail:focus, .thumbnail:active {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
  }
}

.private_pg_header {
  text-align: center;
  text-transform: uppercase;
}

.static-banner {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  box-shadow: 0px 2px 2px #ddd;
  position: relative;
  margin-bottom: 30px;
  & > img {
    width: 100%;
    height: auto;
  }
}

.timer-app {
  width: 400px;
  color: #000;
  height: 60px;
  position: relative;
  margin: 10px auto;
}

.timer-app .timer-badge {
  position: absolute;
  /*background: #74AF07;*/
  // background: #800000;
  background: #000080;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  padding: 10px 15px;
}

.timer-app .timer-badge span {
  display: block;
  text-align: center;
  line-height: 100%;
}

.timer-app .timer-counter {
  position: absolute;
  top: 0px;
  left: 60px;
  bottom: 0px;
  padding: 4px 15px;
  text-align: center;
  color: #000;
  font-weight: 700;
}

.timer-app .timer-counter span {
  display: block;
  font-size: 25px;
  line-height: 100%;
}

.timer-app .timer-counter span.dark {
  color: #ebb128;
  display: inline;
  font-size: inherit;
}

.timer-app .timer-counter div {
  display: block;
  font-size: 14px;
  color: #000;
  line-height: 100%;
}

.timer-app .timer-counter .extra {
  color: #DC4E04;
  font-size: 16px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.timer-app .timer-counter-h {
  //margin-left: 75px;
}

.timer-app .timer-counter-h .t-col-div {
  font-size: 40px;
  color: #ebb128;
  vertical-align: middle;
}

.timer-app .timer-counter-h .vert-time {
  display: inline-block;
  margin: 0 5px;
}

.timer-app .timer-counter-h .vert-time span {
  display: block;
  text-align: center;
}

.timer-app .timer-counter-h .vert-time span:first-child {
  font-size: 3em;
  margin-bottom: 5px;
}

.timer-app .timer-counter-h .vert-time span:first-child:after {
  content: " :";
}

.timer-app .timer-counter-h .vert-time:last-child span:first-child:after {
  content: none !important;
}

.timer-app .timer-counter-h .vert-time span.dark {
  color: #ebb128;
  font-size: 12px;
  text-align: left;
}

.discount-ribbon {
  position: absolute;
  top: 13px;
  right: 0;
  z-index: 1;
  color: #eee;
  font-size: 2em;
  cursor: pointer;
  width: 1.5em;
  line-height: 0.5em;
  background: #ebb128;
  height: 40px;
  .digit {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .text {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 6px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
  }
}

.discount-ribbon:after {
  content: "";
  font-size: 0.5em;
  position: absolute;
  height: 1.2em;
  border: 1.5em solid #ebb128;
  z-index: -1;
  top: -2em;
  border-top-width: 2.5em;
  border-bottom-color: transparent;
  right: 0;
}

.discount-ribbon:before {
  content: "";
  font-size: 0.5em;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent #ebb128 transparent;
  top: -16px;
  right: 40px;
  border-width: 0 0 1em 0.7em;
  z-index: -1;
}

.ribbon-shadow {
    box-shadow: #888 0px 4px 5px;
    box-sizing: border-box;
    overflow: visible;
    position: absolute;
    right: -9px;
    top: -1px;
    background: rgba(235,177,40,0.7);
  .ribbon {

        box-sizing: border-box;
    margin: 0;
    height: 35px;
    color: #fff;
        font-size: 1.3em;
    text-align: center;
    line-height: 35px;
    padding: 0 7px;
    .fold{
          bottom: -6px;
    border-width: 6px 8px 0px 0px;
    border-color: #897138 transparent transparent;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    }
  }
}
.produc_tiles{
  margin-left: 25px !important;
  float: none !important;
  display: inline-block !important;
}