
#srchFld {
  height: 80%;
  flex: none;
  width: 100%;
  padding: .52rem;
  margin-left: 10px;
}

.btn-black {
  background-color: #333;
  border-color: #000;
  color: #fff;
}

.btn-black:hover {
  background-color: #000;
  border-color: #333;
  color: #fff;
  box-shadow: 1px 0px 2px #fbd141;
}

.list-group-item {
  h4 {
    display: block;
    img {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border: 1px solid #fff;
      border-radius: 50%;
    }
    span {
      display: inline-block;
    }
  }
  .lst_msg_cap {
    height: auto;
    max-height: 40px;
    margin: 0;
    overflow: hidden;
  }
}

#profile {
  .well {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: transparent;
  }
  .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
    .card-background {
      height: 170px;
    }
    .useravatar {
      position: absolute;
      top: 40px;
      left: 0;
      right: 0;
      img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.7);
      }
    }
    .card-info {
      position: absolute;
      bottom: 14px;
      left: 0;
      right: 0;
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
      .card-title {
        padding: 0 5px;
        font-size: 20px;
        line-height: 1;
        color: #262626;
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
    }
    .bottom {
      padding: 0 20px;
      margin-bottom: 17px;
    }
  }

  .card-background {
    img {
      -webkit-filter: blur(25px);
      -moz-filter: blur(25px);
      -o-filter: blur(25px);
      -ms-filter: blur(25px);
      filter: blur(25px);
      margin-left: -100px;
      margin-top: -200px;
      min-width: 130%;
    }
  }

  .btn-pref {
    .btn {
      -webkit-border-radius: 0 !important;
    }
  }

  /*  bhoechie tab */
  .cus-container {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    border: solid #c3c6c9;
    border-width: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05)
  }
  .cus-container.trans {
    background: transparent !important;
  }
  div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    /*margin-top: 20px;*/
    /*margin-left: 50px;*/
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
  }

  div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  div.bhoechie-tab-menu {
    div.list-group {
      margin-bottom: 0;
      height: 480px;
      /*overflow: auto;*/
      background-color: #dddddd;
      box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
      overflow-x: hidden;
      overflow-y: overlay;
    }
  }

  div.bhoechie-tab-menu {
    div.list-group > a {
      margin-bottom: 0;
      .glyphicon, .fa {
        color: #ebb128;
        font-weight: 600;
      }

    }
    div.list-group > a:first-child {
      border-top-right-radius: 0;
      -moz-border-top-right-radius: 0;
    }
    div.list-group > a:last-child {
      border-bottom-right-radius: 0;
      -moz-border-bottom-right-radius: 0;
    }
    div.list-group > a.active {
      background-color: #000;
      color: #ffffff;
      .glyphicon, .fa {
        background-color: #000;
        color: #ffffff;
      }
    }
    div.list-group > a.active:after {
      /*content: '';*/
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -13px;
      border-left: 0;
      border-bottom: 13px solid transparent;
      border-top: 13px solid transparent;
      border-left: 10px solid #5A55A3;
    }
  }

  div.bhoechie-tab-content {
    background-color: #ffffff;
    padding: 10px 20px 0;
    height: 420px;
    overflow-x: hidden;
    overflow-y: overlay;
    h2.msg {
      margin-top: 0;
      color: #55518a;
    }
    .responses {
      clear: both;
      .msg_resp {
        width: 60%;
        padding: 5px 0;
        margin: 7px 0;
        display: flex;
        background: #fafafa;
        border-radius: 20px;
        .avatar, .info {
          display: inline-block;
        }
        .avatar {
          width: 75px;
          height: 58px;
          min-width: 75px;
          margin-right: 5px;
          img {
            width: 40px;
            height: 40px;
            min-width: 40px;
            margin: auto 15px;
            border-radius: 50%;
          }
          small {
            display: block;
            text-align: center;
          }
        }
        .quoted-msg-preview-wrapper {
          position: absolute;
          width: calc(100% - 6px);
          margin-left: -6px;
        }
        .quoted-msg-clickable {
          cursor: pointer !important;
        }
        .quoted-msg {
          position: relative;
          min-width: 50%;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          border-radius: 7.5px;
          background-color: rgba(0, 0, 0, 0.05);
          margin-bottom: 3px;
          margin-left: 7px;
          cursor: default;
          min-height: 56px;
          max-height: 94px;
        }
        .quoted-msg-status {
          display: -webkit-flex;
          display: flex;
          min-height: 56px;
          max-height: 94px;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .quoted-msg-info {
          margin: 3px;
          margin-right: 6px;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: center;
          justify-content: center;
          margin-top: 8px;
          margin-bottom: 8px;
          overflow: hidden;
        }
        .quoted-msg-color-bar {
          border-top-left-radius: 7.5px;
          border-bottom-left-radius: 7.5px;
          min-width: 4px;
          width: 4px;
          margin-right: 3px;
        }
        .quoted-msg-color-right-bar {
          border-top-right-radius: 7.5px;
          border-bottom-right-radius: 7.5px;
          min-width: 4px;
          width: 4px;
          margin-right: 1px;
        }
        .bg-color-1 {
          background-color: #ebb128 !important;
        }

        .info {
          height: auto;
          padding: 5px 10px;
          flex-grow: 1;
          text-align: left;
        }
        .quoted-msg-info .message-text {
          line-height: 19px;
          padding: 0 !important;
          overflow: hidden;
        }
        .quoted-msg-text {
          font-size: 12.6px;
          max-height: 64px;
          overflow: hidden;
          word-break: break-word;
          color: rgba(0, 0, 0, 0.6);
        }
      }
      .msg_resp.reverse {
        direction: rtl;
        background: rgba(235, 177, 40, 0.3);
        float: right;
        .avatar {
          margin-left: 5px;
        }
      }
    }
    form {
      margin: 0 0 0 -22px !important;
    }
  }

  div.bhoechie-tab {
    height: 480px;
    position: relative;
    display: block;
    #screen {
      padding: 110px;
      display: block;
      text-align: center;
      i.fa-comments-o {
        font-size: 100px;
      }
    }
    div.bhoechie-tab-content:not(.active) {
      display: none;
    }
    #response {
      display: inline-block;
      position: absolute;
      bottom: 0;
      width: 97%;
      textarea {
        width: 100%;
        max-width: 100%;
        height: 60px !important;
        min-height: 60px !important;
        max-height: 60px !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding-right: 42.5px;
        color: #888;
      }
      textarea[placeholder], [placeholder], *[placeholder] {
        color: #333 !important;
      }
      button {
        position: absolute;
        border: 0;
        top: 1px;
        right: 1px;
        width: 40px;
        height: 58px;
        text-align: center;
        cursor: pointer;
        z-index: 2;
        background: #fafafa;
        padding: 0;
        #resp_btn {
          position: relative;
          font-size: 17px;
          text-align: center;
          width: 40px;
          line-height: 60px !important;
          pointer-events: none;
        }
        #resp_btn:hover {
          font-weight: 600;
        }
      }
      button:hover {
        #resp_btn {
          font-weight: 600;
        }
      }
      button:focus {
        box-shadow: none;
        outline-color: transparent !important;
        outline-style: none !important;
      }

    }
  }
  .msg {
    width: 100%;
    font-size: medium;
    padding-right: 9%;
    padding-left: 9%;
    position: relative;
    margin-bottom: 12px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*border-radius: 10px;*/
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

#profile_setting_tab_nav {
  padding: 0 5px;
  li {
    float: none !important;
    display: inline-block;
    border-bottom: 2px solid transparent;
    a {
      color: inherit;
      background: none;
    }
    a:hover {
      color: inherit;
    }
  }

  li:hover {
    a {
      color: inherit !important;
    }
  }
  li.active {
    border-bottom: 2px solid #ebb128;
    a {
      color: inherit !important;
    }
  }

}

#profile_setting_tab_content {
  input {
    height: 32px;
    padding: 5px 7px;
    font-size: 12px;
  }
  .tab-pane {
    padding: 10px 0 20px 0;
  }
  #profile-mangmnt {
    .col-md-6 {
      padding-left: 0;
    }
  }
  #head-columns {
    z-index: 1;
    background-color: #e9e9eb;
    font-size: 13px;
    padding: 15px 0;
    border-bottom: 1px solid #cbced1;
    line-height: 14px;
    .column {
      display: inline-block;
      width: 140px;
      padding-left: 3em;
      padding-right: 1em;
      border-bottom: 3px solid transparent;
      font-weight: 600;
      line-height: 1;
    }
  }
  #column_records {
    margin: 0 1em 0 1em;
    display: flow-root;
    .records-container {
      display: block;
      margin: 1em 0;
      padding: 1em;
      border: 1px solid lightgrey;
      height: auto;
      .record-info {
        padding-bottom: 1em;
        border-bottom: 1px solid lightgrey;
        font-size: 12px;
        .column {
          vertical-align: top;
          display: inline-block;
          width: 130px;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 0.85em;
          padding-right: 0.75em;
          border-bottom: 3px solid transparent;
          font-weight: 600;
        }
        .column:nth-child(3) {
          text-align: center;
          display: inline-block;
          width: 120px;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 0;
          padding-right: 0.75em;
          border-bottom: 3px solid transparent;
          font-weight: 600;
        }
        .column:nth-child(4) {
          white-space: nowrap;
          text-align: right;
          display: inline-block;
          width: 120px;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 0.85em;
          padding-right: 0.75em;
          border-bottom: 3px solid transparent;
          font-weight: 600;
          .status {
            white-space: nowrap;
            text-transform: uppercase;
            background-color: #f0f0f0;
            color: #999;
          }
          .status.delivered, .status.fulfilled, .status.completed {
            color: #4e8c2a;
            background-color: #f3ffeb;
          }
          .status.pending {
            color: #d28d1b;
            background-color: #f3ffeb;
          }
          .status.cancelled {
            color: #cd5c5c;
            background-color: #f3ffeb;
          }
          .status.info, .status.processing {
            color: #1e90ff;
            background-color: #f3ffeb;
          }
        }
      }
      .order-items {
        padding-top: 0.75em;
        width: 50%;
        display: inline-block;
        float: left;
        overflow-x: auto;
        .item {
          img {
            margin-right: 5px;
          }
          padding: 0.3em;
          margin: 0.3em;
        }
      }
      .order-buttons {
        display: inline-block;
        padding-top: 0.75em;
        float: right;
        max-width: 282px;
      }
    }
  }
}

.p_wlc {
  display: block;
  padding: 15px;
  .col-md-12 {
    background-color: #fcfcfc;
    padding: 20px 15px;
    div.pull-left {
      img {
        width: 60px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 10px;
        border: 1px solid #fff;
      }
      div {
        display: inline-block;
      }
    }
  }
}

.d_board {
  display: block;
  width: 100%;
  padding: 0 10px;
  a {
    color: #555 !important;

  }
  a .d_board_panel {
    color: inherit !important;
    display: inline-block;
    padding: 18px 10px;
    width: 19.8%;
    border-radius: 0;
    line-height: 20px;
    margin: 0 0 -3px -1px;
    text-align: center;
    font-size: 18px;
    span {
      color: inherit !important;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.social_bar {
  width: 100%;
  height: auto;
  line-height: 5em;
  color: #777;
  padding: 15px;
  .social_bar_heading {
    line-height: 1em;
    font-size: 26px;
    color: #333;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    font-weight: 500;
  }
  .social_bar_subheading {
    padding: 10px 0;
    font-size: 1.09em;
    text-align: center;
    line-height: 1.7em;
  }
  .social_bar_button {
    line-height: 1em;
    margin-top: 2em;
    span {
      display: inline-block;
      border-right: 1px solid #f7f7f7;
      width: 33%;
      height: 100%;
      text-align: center;
      font-weight: 600;
      padding: 10px 0;
    }
  }
  .referral_table {
    line-height: 1em;
    margin-top: 1.5em;
    table {
      width: 100%;
      td {
        padding: 15px 10px;
        border-bottom: 2px solid #f7f7f7;
      }
      td:first-child {
        width: 30%;
        color: #333;
        font-weight: 400;
      }
      td:nth-child(2) {
        width: 50%;
        color: #222;
        line-height: 1.3em;
      }
      td:nth-child(3) {
        width: 20%;
        text-align: right;
        color: #222;
      }
    }
    .view_all_wrap {
      color: inherit !important;
      text-align: center;
      margin-top: 2em;
      margin-bottom: 1em;
    }
  }
}

.referral_code {
  width: 100%;
  height: auto;
  line-height: 4em;
  margin-top: 30px;
  color: #777;
  .code_referral {
    line-height: 1em;
    font-size: 26px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: 200;
    text-align: center;
    font-weight: 500;
  }
  .the_code {
    font-weight: 600;
    color: #ebb128;
    text-align: center;
    background: rgba(191, 191, 191, 0.1);
    line-height: 100%;
    margin-top: 1em;
    padding: 20px 0;
    span {
      background-color: transparent;
      border: none;
      line-height: 1em;
      color: #ebb128;
      font-size: 20px;
      font-weight: 500;
      padding: 0 20px;
      width: 100%;
      text-align: center;
      outline: none !important;
    }
  }
  .referral_social_share {
    height: 45px;
    line-height: 66px;
    padding-left: 10px;
    text-align: center;
    border-top: 1px solid #fbfbfb;
    div {
      display: inline-block;
      padding: 4px 10px;
      border: 1px solid #f7f7f7;
      font-weight: 500;
      line-height: 1em;
      margin-right: 5px;
      border-radius: 3px;
    }

  }
}

.coupon_stat {
  min-height: 7em;
  height: auto;
  margin-bottom: 2em;
  margin-top: 1em;
  .friends {
    height: auto;
    width: 100%;
    text-align: center;
    div:first-child {
      font-size: 4em;
      color: #E87352;
    }
    div:last-child {
      font-weight: 600;
      font-size: 16px;
    }

  }
  .coupon {
    height: auto;
    width: 100%;
    text-align: center;
    div:first-child {
      font-size: 4em;
      color: #5FCE9B;
      small {
        font-size: 20px;
        margin-right: -30px;
      }
    }
    div:last-child {
      font-weight: 600;
      font-size: 16px;
    }
  }
}

#footerSection {
  .container {
    padding: 0 !important;
  }
}
.btn-mini{
      background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
}

@media (max-width: 767px) {
  .btn-mini {
    font-size: 10.5px !important;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
    background-image: -o-linear-gradient(top, #fff, #e6e6e6);
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
  }

  #mainBody {
    padding: 0 8px !important;
    .container {
      padding: 0 !important;
      #profile {
        padding: 0 !important;
        .card {
          margin-top: 10px;
        }
      }
    }
  }

  .row {
    margin-right: 0 !important;
  }

  .well {
    padding: 5px !important;
  }

  .p_wlc {
    height: 100px;
    padding: 0px !important;
  }

  .btn {
    padding: 6px 8px !important;
  }

  button.btn {
    .hidden-xs {
      font-size: 60%;
      display: block !important;
      margin: auto;
      text-align: center;
    }
  }

  #profile_setting_tab_content {
    #head-columns {
      .column {
        width: 50px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  #profile {
    div.bhoechie-tab {
      #screen {
        padding: 40px 0;
        i.fa-comments-o {
          font-size: 70px;
        }
        h1 {
          font-size: 1.5em;
        }
      }
      div.list-group {
        .list-group-item {
          padding: 0px 5px;
          h4.glyphicon {
            font-size: 1em;
          }
        }
      }
    }
    div.bhoechie-tab-content {
      padding: 5px 0 10px;
      .responses {
        .msg_resp {
          width: 85%;
          .avatar {
            width: 65px;
            min-width: 65px;
          }
        }
      }
    }

  }

  .list-group-item {
    padding: 0px 5px;
    h4 {
      font-size: 1em !important;
    }
  }

  #profile_setting_tab_nav {
    border-bottom: 1px solid #ddd;
  }

  .referral_code {
    div {
      padding: 0 10px !important;
      .the_code {
        padding: 15px 0 !important;
        span {
          font-size: 1em;
        }
      }
    }

  }
}