{% extends "admin/layout.html"%}
{% block title %}
    {{ pageTitle }}
{% endblock title %}

{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>{{ pageTitle }}</h1>
                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <form action="{{ request.path }}" method="get">
                        <div class="input-group input-xxlarge">
                            <input type="text" name="q" class="form-control" {% if search_q %}
                                   value="{{ search_q }}" {% endif %}
                                   placeholder="Search by (Name)">
                            <span class="input-group-btn">
										<button class="btn btn-info" title="Search" type="submit"><i
                                                class="fa fa-search"></i></button>
									</span>
                        </div>
                    </form>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!--add class "table-bordered" to add borders-->
                            <table width="100%" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sender</th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                        <th>Replied</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for obj in results.items %}
                                    <tr class="odd gradeX">
                                        <td></td>
                                        <td>{{ obj.full_name }}</td>
                                        <td><a href="{{ url_for('.view_admin_message',id=obj.id) }}">{{ obj.subject }}</a></td>
                                        <td>{{ obj.body }}</td>
                                        <td>{{ "YES" if obj.is_replied else "NO" }}</td>
                                        <td>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            {% include 'admin/snippets/pagination.html' %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

{% endblock %}
