{% extends "admin/layout.html"%}
{% block title %}
    {{ pageTitle }}
{% endblock title %}

{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Auctions</h1>
                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           All Auctions
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!--add class "table-bordered" to add borders-->
                            <table width="100%" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Starting Bid</th>
                                        <th>Bid Count</th>
                                        <th>Current Bid</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for obj in auctions %}
                                    <tr class="odd gradeX">
                                        <td><img src="{{ obj.cover_image.url }}" style="width:50px; height: 50px; margin-right: 2em">{{ obj.name }}</td>
                                        <td>{{ obj.value }}</td>
                                        <td>{{ number_format(obj.starting_bid) }}</td>
                                        <td>{{ obj.bids.count() }}</td>
                                        <td>{{ number_format(obj.price) }}</td>
                                        <td>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

{% endblock %}
            <!-- /.row -->
