{% extends "admin/layout.html" %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flashbox" class="row">
                <div class="col-md-12">
                    <div class="note note-danger">
                        {% for message in messages %}
                            <p>
                                {{ message }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">New Category</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" style="padding-bottom: 20px">
        <form role="form" name="form" action="{{ request.path }}" enctype="multipart/form-data"
              method="post">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Category Details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form.csrf_token }}

                                <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                                    <label for="{{ form.name.name }}">{{ form.name.label.text }}</label>
                                    {{ form.name(class='form-control') }}
                                    {% if form.name.errors %}
                                        {% if form.name.description %}
                                            <span class="help-block">{{ form.name.description }}</span>{% endif %}
                                        {% for e in form.name.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.description.errors %} has-error {% endif %}">
                                    <label for="{{ form.description.name }}">{{ form.description.label.text }}</label>
                                    {{ form.description(class='form-control rich-text') }}
                                    {% if form.description.description %}
                                        <span class="help-block">{{ form.description.description }}</span>{% endif %}
                                    {% if form.description.errors %}
                                        {% for e in form.description.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.parent_id.errors %} has-error {% endif %}">
                                    <label for="{{ form.parent_id.name }}">{{ form.parent_id.label.text }}</label>
                                    {{ form.parent_id(class='form-control rich-text') }}
                                    {% if form.parent_id.description %}
                                        <span class="help-block">{{ form.parent_id.description }}</span>{% endif %}
                                    {% if form.parent_id.errors %}
                                        {% for e in form.parent_id.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Category Images
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group {% if img_errors %} has-error {% endif %}">
                                            <span class="caption"><strong>NOTE: </strong>Maximum size per upload is <strong>15MB</strong></span><br>
{#                                            <span class="btn btn-file">#}
                                                <label for="images" class="custom-file-upload">
                                                    <i class="fa fa-camera-retro fa-5x"></i> Custom Upload
                                                </label>
                                    <input type="file" class="img-upload" id="images" name="images" multiple="multiple"
                                           target="#img-preview">
{#                                  </span>#}
                                            {% if img_errors %}
                                                <span class="help-block">{{ img_errors }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
{#                                    <div class="col-md-12 hidden-xs hidden-sm">#}
{#                                        {% if existing_images %}#}
{#                                            <div id="existing-preview" class="img-preview">#}
{#                                                <div class="thumb">#}
{#                                                    {{ form.cover_image_id }}#}
{#                                                    <img id="coverImage" src="{{ obj.cover_image.url }}" alt="">#}
{#                                                </div>#}
{#                                                {% for img in existing_images %}#}
{#                                                    <div class="thumb has-removable">#}
{#                                                        <img class="clickable" data-display="#coverImage"#}
{#                                                             data-src="{{ img.url }}" data-value="{{ img.id }}"#}
{#                                                             data-target="#{{ form.cover_image_id.id }}"#}
{#                                                             src="{{ img.url }}" alt="">#}
{#                                                        <input type="checkbox" value="{{ img.id }}" name="removables"#}
{#                                                               class="removable" title="remove"/>#}
{#                                                    </div>#}
{#                                                {% endfor %}#}
{#                                                <div>#}
{#                                                    <strong>Click</strong> on an image to make it the cover image. To#}
{#                                                    remove an image, <strong>select the checkbox</strong> above it. The#}
{#                                                    <strong>cover image will not be removed.</strong>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        {% endif %}#}
                                        <div id="img-preview" class="img-preview" style="display: flex">

                                        </div>
{#                                    </div>#}

                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
{#                </div>#}
{#                <!-- /.row (nested) -->#}
{#            </div>#}
{#            <!-- /.panel-body -->#}
{##}
        </div>
{#            <div class="panel panel-default">#}
{#                    <div class="panel-heading">#}
{#                        Inventory & Variants#}
{#                    </div>#}
{#                    <div class="panel-body">#}
{#                        <div class="row">#}
{#                            <div class="col-lg-6">#}
{#                                <div class="form-group col-lg-6 {% if form.regular_price.errors %} has-error {% endif %}">#}
{#                                    <label for="{{ form.regular_price.name }}">{{ form.regular_price.label.text }}</label>#}
{#                                    {{ form.regular_price(class='form-control') }}#}
{#                                    {% if form.regular_price.description %}#}
{#                                        <span class="help-block">{{ form.regular_price.description }}</span>{% endif %}#}
{#                                    {% if form.regular_price.errors %}#}
{#                                        {% for e in form.regular_price.errors %}<span class="help-block">{{ e }}</span>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div class="form-group col-lg-6 {% if form.sale_price.errors %} has-error {% endif %}">#}
{#                                    <label for="{{ form.sale_price.name }}">{{ form.sale_price.label.text }}</label>#}
{#                                    {{ form.sale_price(class='form-control') }}#}
{#                                    {% if form.sale_price.description %}#}
{#                                        <span class="help-block">{{ form.sale_price.description }}</span>{% endif %}#}
{#                                    {% if form.sale_price.errors %}#}
{#                                        {% for e in form.sale_price.errors %}#}
{#                                            <span class="help-block">{{ e }}</span>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div class="form-group col-lg-6 {% if form.quantity.errors %} has-error {% endif %}">#}
{#                                    <label for="{{ form.quantity.name }}">{{ form.quantity.label.text }}</label>#}
{#                                    {{ form.quantity(class='form-control') }}#}
{#                                    {% if form.quantity.description %}#}
{#                                        <span class="help-block">{{ form.quantity.description }}</span>{% endif %}#}
{#                                    {% if form.quantity.errors %}#}
{#                                        {% for e in form.quantity.errors %}<span class="help-block">{{ e }}</span>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div class="form-group col-lg-6 {% if form.sku.errors %} has-error {% endif %}">#}
{#                                    <label for="{{ form.sku.name }}">{{ form.sku.label.text }}</label>#}
{#                                    {{ form.sku(class='form-control') }}#}
{#                                    {% if form.sku.description %}#}
{#                                        <span class="help-block">{{ form.sku.description }}</span>{% endif %}#}
{#                                    {% if form.sku.errors %}#}
{#                                        {% for e in form.sku.errors %}<span class="help-block">{{ e }}</span>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div class="form-group {% if form.has_variants.errors %} has-error {% endif %}">#}
{#                                    <label for="{{ form.has_variants.name }}">{{ form.has_variants.label.text }}</label>#}
{#                                    {{ form.has_variants(class='checkbox', onclick="toggleElement(this, 'attrs')") }}#}
{#                                    {% if form.has_variants.description %}#}
{#                                        <span class="help-block">{{ form.has_variants.description }}</span>{% endif %}#}
{#                                    {% if form.has_variants.errors %}#}
{#                                        {% for e in form.has_variants.errors %}<span class="help-block">{{ e }}</span>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                                <div id="attrs" class="form-group" style="display: none" {% if form.variant_attributes.errors %} has-error {% endif %}">#}
{#                                    <label for="{{ form.variant_attributes.name }}">{{ form.variant_attributes.label.text }}</label>#}
{#                                    {{ form.variant_attributes(class='form-control', placeholder='colour: blue, black | size: 44, 45') }}#}
{#                                    {% if form.variant_attributes.description %}#}
{#                                        <span class="help-block">{{ form.variant_attributes.description }}</span>{% endif %}#}
{#                                    {% if form.variant_attributes.errors %}#}
{#                                        {% for e in form.variant_attributes.errors %}<span class="help-block">{{ e }}</span>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                        </div>#}
{#                        <!-- /.col-lg-6 (nested) -->#}
{#                    </div>#}
{#                    <!-- /.row (nested) -->#}
{#                </div>#}
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
            <div class="form-actions right">
                <a href="{{ url_for('.index') }}" class="btn default">Cancel</a>
                <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
            </div>

        </form>
        </div>
        <!-- /.col-lg-12 -->
{#    </div>#}
    <!-- /.row -->
    <script type=text/javascript>
        function toggleElement(switcher, elem) {
{#            console.log(switcher);#}
{#            console.log(elem);#}
{#                    s = document.getElementById(switcher);#}
                    d = document.getElementById(elem);
                    if (switcher.checked){
                        d.style.display = "block";
                    }
                    else d.style.display = "none";


        }
    </script>
{% endblock body%}

{% block extra_js %}

    <script>
        $(".clickable").each(function (idx, el) {
            var elem = $(el);
            var target = elem.data("target");
            var value = elem.data("value");
            var display = elem.data("display");
            var src = elem.data("src");

            elem.bind("click", function (e) {
                $(target).val(value);
                $(display).attr("src", src);
            });
        });

        // file preview using html5
        $(".img-upload").each(function (idx, el) {
            var elem = $(el);
            var target = elem.attr("target");
            elem.bind("change", function (e) {

                $(target).empty();

                $(this.files).each(function (i, f) {
                    var reader = new FileReader();
                    reader.readAsDataURL(f);
                    reader.onload = function (evt) {
                        var thumb = $("<div/>", {"class": "thumb"}).append($("<img/>", {"src": evt.target.result}));
                        $(target).append(thumb);
                    };
                })
            });
        });

    </script>
{% endblock extra_js %}