{% extends "admin/layout.html" %}
{% block title %}
    {{ pageTitle }}
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Categories</h1>
                <a href="{{ url_for(".add_category") }}" role="button" data-toggle="modal" style="padding-right:0"><span
                        class="btn btn-large btn-success">+ Add Category</span></a>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                           <form action="{{ request.path }}" method="get">
                        <div class="input-group input-xxlarge">
                            <input type="text" name="q" class="form-control" {% if search_q %}
                                   value="{{ search_q }}" {% endif %}
                                   placeholder="Search by (Name)">
                            <span class="input-group-btn">
										<button class="btn btn-info" title="Search" type="submit"><i
                                                class="fa fa-search"></i></button>
									</span>
                        </div>
                    </form>
                        </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!--add class "table-bordered" to add borders-->
                    <table width="100%" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th>Last Updated</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in categories %}
                            <tr class="odd gradeX">
                                <td><img src="{{ p.cover_image.url }}"
                                         style="width:50px; height: 50px; margin-right: 2em">{{ p.name }}</td>
                                <td>{{ p.description }}</td>
                                <td>{{ l(p.products) }}</td>
{#                                <td class="center">{{ number_format(p.price) }}</td>#}
                                <td>{{ p.last_updated.strftime("%d:%m:%y") }}</td>
                                <td>
{#                                    <a href="{{ url_for('.variants', id=p.id) }}">variants</a>#}
                                    <a href="{{ url_for('.index') }}">view</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}