<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    {% assets "admin-global-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
{#    <!-- Bootstrap Core CSS -->#}
{#    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
{##}
{#    <!-- MetisMenu CSS -->#}
{#    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">#}
{##}
{#    <!-- Custom CSS -->#}
{#    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">#}
{##}
{#    <!-- Custom Fonts -->#}
{#    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div id="flashbox" class="row">
                                    <div class="col-md-12">
                                        <div class="note note-danger">
                                            {% for message in messages %}
                                                <p>
                                                    {{ message }}
                                                </p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <form role="form" name="form" action="{{ request.path }}" enctype="multipart/form-data"
                              method="post">
                        {{ form.csrf_token }}
                            <fieldset>
                                <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                                    {{ form.username(class='form-control', placeholder='E-mail') }}
                                    {% if form.username.errors %}
                                        {% if form.username.description %}
                                            <span class="help-block">{{ form.username.description }}</span>{% endif %}
                                        {% for e in form.username.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                                    {{ form.password(class='form-control', placeholder='password') }}
                                    {% if form.password.errors %}
                                        {% if form.password.description %}
                                            <span class="help-block">{{ form.password.description }}</span>{% endif %}
                                        {% for e in form.password.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.remember.errors %} has-error {% endif %}">
                                    {{ form.remember(class='checkbox') }}
                                    {% if form.remember.errors %}
                                        {% if form.remember.description %}
                                            <span class="help-block">{{ form.remember.description }}</span>{% endif %}
                                        {% for e in form.remember.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <!-- jQuery -->#}
{#    <script src="../vendor/jquery/jquery.min.js"></script>#}
{##}
{#    <!-- Bootstrap Core JavaScript -->#}
{#    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>#}
{##}
{#    <!-- Metis Menu Plugin JavaScript -->#}
{#    <script src="../vendor/metisMenu/metisMenu.min.js"></script>#}
{##}
{#    <!-- Custom Theme JavaScript -->#}
{#    <script src="../dist/js/sb-admin-2.js"></script>#}

</body>

</html>
