{% extends "admin/layout.html" %}
{% block title %}
    {{ pageTitle }}
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Notifications</h1>
                <a href="{{ url_for(".new_notification") }}" role="button" data-toggle="modal" style="padding-right:0"><span
                        class="btn btn-large btn-success">+ Add Notification</span></a>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    All Products
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!--add class "table-bordered" to add borders-->
                    <table width="100%" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Code</th>
                            <th>Last Updated</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for n in notification %}
                            <tr class="odd gradeX">
                                <td>{{n.name}}</td>
                                <td>{{n.email}}</td>
                                <td>{{n.code}}</td>
                                <td>last edit</td>
                                <td>
                                    <a href="{{ url_for('.edit_notification', id=n.id) }}">edit</a>
                                    <a href="{{ url_for('.index') }}">back</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}