{% extends "admin/layout.html" %}
{% block head_js %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea',
                            plugins: ["anchor code link image media table"],
                            menubar: ["table"],
{#                            toolbar: ["table"],#}
                            force_br_newlines : false,
                            force_p_newlines : false,
                            forced_root_block : '',
                            file_browser_callback: function(field_name, url, type, win) {
{#                            win.document.getElementById(field_name).value = 'file';#}
                                if(type=='image') $('#my_form input').click();
                            },
                            automatic_uploads: true,
                            });
    </script>
{% endblock head_js %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flashbox" class="row">
                <div class="col-md-12">
                    <div class="note note-danger">
                        {% for message in messages %}
                            <p>
                                {{ message }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">New Notification</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <iframe id="form_target" name="form_target" style="display:none"></iframe>
                                <form id="my_form" action="{{ url_for('.upload_image') }}" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
                                    <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
                                </form>
    <form role="form" name="form" action="{{ request.path }}" enctype="multipart/form-data"
          method="post">
    {{ form.csrf_token }}
        <div class="form-group col-lg-6 {% if form.name.errors %} has-error {% endif %}">
            <label for="{{ form.name.name }}">{{ form.name.label.text }}</label>
            {{ form.name(class='form-control') }}
            {% if form.name.description %}
                <span class="help-block">{{ form.name.description }}</span>{% endif %}
            {% if form.name.errors %}
                {% for e in form.name.errors %}<span class="help-block">{{ e }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group col-lg-6 {% if form.code.errors %} has-error {% endif %}">
            <label for="{{ form.code.name }}">{{ form.code.label.text }}</label>
            {{ form.code(class='form-control') }}
            {% if form.code.description %}
                <span class="help-block">{{ form.code.description }}</span>{% endif %}
            {% if form.code.errors %}
                {% for e in form.code.errors %}<span class="help-block">{{ e }}</span>
                {% endfor %}
            {% endif %}
        </div>
			<div class="span9" style="padding-top: 80px">
                <ul id="productDetail" class="nav nav-tabs">
                  <li class="active"><a href="#sms" data-toggle="tab">SMS</a></li>
                  <li><a href="#email" data-toggle="tab">Email</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">

{#                    this corresponds to the first li in our case sms with id sms#}
                      <div class="tab-pane fade active in" id="sms">
                          <div class="form-group col-lg-12 {% if form.sms.errors %} has-error {% endif %}"
                               style="padding-top: 20px">
{#                              <label for="{{ form.sms.name }}">{{ form.sms.label.text }}</label>#}
                              {{ form.sms(class='form-control small_text') }}
                              {% if form.sms.description %}
                                  <span class="help-block">{{ form.sms.description }}</span>{% endif %}
                              {% if form.sms.errors %}
                                  {% for e in form.sms.errors %}<span class="help-block">{{ e }}</span>
                                  {% endfor %}
                              {% endif %}
                          </div>
                      </div>

{#                    this corresponds to the first li in our case sms with id email#}
                    <div class="tab-pane fade" id="email">
                        <div class="form-group col-lg-12 {% if form.sms.errors %} has-error {% endif %}"
                             style="padding-top: 20px">
{#                            <label for="{{ form.sms.name }}">{{ form.sms.label.text }}</label>#}
                            {{ form.email(class='form-control big_text') }}
                            {% if form.email.description %}
                                <span class="help-block">{{ form.email.description }}</span>{% endif %}
                            {% if form.email.errors %}
                                {% for e in form.email.errors %}<span class="help-block">{{ e }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br class="clr" />
{#                        <hr class="soft"/>#}
{#                        <div>#}
{#                        <br class="clr">#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        <div class="form-actions right">
            <a href="{{ url_for('.index') }}" class="btn default">Cancel</a>
            <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
        </div>
    </form>

{% endblock body %}

{% block extra_js %}
    <script>
     $('#my_form').submit(function(){
            var form = $('#my_form')[0];
            console.log(form);
            var fd = new FormData(form);
            $.ajax({
              url: $('#my_form').attr('action'),
              type: 'POST',
              data : fd,
              processData: false,  // tell jQuery not to process the data
              contentType: false,
              success: function(res){
                console.log('form submitted.');
                top.$('.mce-btn.mce-open').parent().find('.mce-textbox').val(res).closest('.mce-window').find('.mce-primary').click();
              }
            });
            return false;
        });
    </script>
{% endblock extra_js %}