{% extends "admin/layout.html"%}
{% block title %}
    {{ pageTitle }}
{% endblock title %}

{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Orders</h1>
                    </div>

                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <form action="{% if status and status_code %}{{ url_for('.orders',status=status_code) }}{% else %}{{ url_for('.orders') }}{% endif %}" method="get">
                        <div class="input-group input-xxlarge">
                            {% if status and status_code %}
                            <input type="hidden" name="status" value="{{ status_code }}">
                        {% endif %}
                            <input type="text" name="q" class="form-control" {% if search_q %}
                                   value="{{ search_q }}" {% endif %}
                                   placeholder="Search by (Code, Name)">
                            <span class="input-group-btn">
										<button class="btn btn-info" title="Search" type="submit"><i
                                                class="fa fa-search"></i></button>
									</span>
                        </div>
                    </form>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="btn-group pull-left" id="filters">
                <a href="{{ url_for('.orders') }}"
                   class="btn {% if status_code %}btn-default{% else %}btn-black{% endif %} b">
                    <i class="fa fa-refresh"></i> RELOAD
                </a>
                {% for i in order_statuses %}
                    <a href="{{ url_for('.orders',status=i.code) }}"
                       class="btn {% if status_code and status_code==i.code %}btn-black{% else %}btn-default{% endif %} b">
                        {{ i.name }}
                    </a>
                {% endfor %}
            </div>
                            <!--add class "table-bordered" to add borders-->
                            <table width="100%" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Items</th>
                                        <th>Amount</th>
                                        <th>Bob Commission</th>
                                        <th>Status</th>
                                        <th>Update Status</th>
                                        <th style="width: 150px">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for obj in results.items %}
                                    <tr class="odd gradeX">
                                        <td>{{ obj.date_created.strftime('%F') }}</td>
                                        <td>{{ obj.full_name }}</td>
                                        <td >{{ obj.total_quantity }}</td>
                                        <td>₦{{ obj.total }}</td>
                                        <td>₦{{ obj.bob_commission }}</td>
                                    <td>{{ obj.order_status.name }}</td>
                                        <td><form style="display: inline-block; margin-left: 30px;" role="form" name="form" action="{{ url_for('.order', id=obj.id) }}" method="post">
                                            {{ form.csrf_token }}
                                                {{ form.order_id(class='form-control hidden', value=obj.id) }}
                                                <select id="order_status_id" name="order_status_id" onchange="showSave(this)">
                                                    {% for i in order_statuses %}
                                                        {% if i.id == obj.order_status_id %}
                                                        <option value="{{ i.id }}" selected>{{i.name}}</option>
                                                        {% else %}
                                                        <option value="{{ i.id }}">{{i.name}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <div class="saveBtn" style="display: none;">
                                                    <button type="submit" class="btn green" ><i class="fa fa-check"></i>Save</button>
                                                </div>
                                            </form></td>
                                        <td style="box-sizing: unset">
                                            <a href="{{ url_for('.order', id=obj.id) }}">view</a><br>
                                            <a href="{{ url_for('.order_invoice',id=obj.id,code=obj.code) }}" target="_blank">print invoice</a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                            {% include 'admin/snippets/pagination.html' %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

{% endblock %}

{% block extra_js %}
    <script>
    function showSave(elem) {
        var opens = document.getElementsByClassName('saveBtn');
        for(i=0; i<opens.length; i++){
            opens[i].style.display = "none"
        }
        var p = elem.parentElement;
        var btn = p.childNodes[5].nextElementSibling;
        console.log(btn);
        btn.style.display = "inherit";
    }
    </script>
{% endblock %}
