{% extends "admin/layout.html" %}
{% block title %}
    {{ pageTitle }}
{% endblock title %}

{% block  body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <a class="btn btn-default pull-right" type="button"
                   href="{{ url_for('.order_invoice',id=order_.id,code=order_.code) }}" target="_blank">
                    <span>Print Order</span>
                    <i class="fa fa-print"></i>
                </a>
                <h1>Order
                    <small>({{ order_.code }})</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="well col-xs-6" style="margin-left: 15px">
            <h4 style="margin-bottom: 10px">Customer Information</h4>
            <div class="row">
                <div class="col-xs-6" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <strong>Billing Address</strong>
                    <ul class="list-unstyled">
                        <li>{{ order_.full_name }}</li>
                        <li>{{ order_.email }}</li>
                        <li>{{ order_.address_line1 }}</li>
                        <li>{{ order_.address_line2 }}</li>
                        <li>{{ order_.city }}, {{ order_.state.name }}, {{ order_.country.name }}</li>
                        <li>{{ order_.phone }}</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <strong>Shipping Address</strong>
                    <ul class="list-unstyled">
                        <li>{{ order_.shipment_name }}</li>
                        <li>{{ order_.shipment_email }}</li>
                        <li>{{ order_.shipment_address }}</li>
                        <li>{{ order_.shipment_city }}, {{ order_.shipment_state }}, {{ order_.shipment_country }}</li>
                        <li>{{ order_.shipment_phone }}</li>
                        <li>
                            <small><strong>Additional Info.:{{ order_.shipment_description }}</strong></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="well col-xs-4 invoice-payment" style="text-align: right;margin-right: 15px;float: right;">
            <h4>{{ order_.date_created.strftime('%A, %B, %d %Y %H:%M') }}</h4>
            <h4>Payment Information</h4>
            <ul class="list-unstyled">
                <li><strong>{{ order_.payment_option.name }}</strong></li>
                <li><strong>{{ order_.payment_status.name }}</strong></li>
            </ul>
            <p>Order Status</p>
            <h4><strong class="fulfilled">{{ order_.order_status.name }}</strong></h4>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th class="hidden-480">Description</th>
                    <th style="text-align: right;" class="hidden-480">Quantity</th>
                    <th style="text-align: right;" class="hidden-480">Unit Cost</th>
                    <th style="text-align: right;">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in order_.entries %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry.product.name }}<br/>{{ entry.variant.name }}</td>
                        <td class="hidden-480">{{ entry.variant.description }}
                        </td>
                        <td style="text-align: right;" class="hidden-480">{{ entry.quantity }}</td>
                        <td style="text-align: right;" class="hidden-480">₦{{ number_format(entry.price) }}</td>
                        <td style="text-align: right;">₦{{ number_format(entry.total) }}</td>
                    </tr>
                {% endfor %}
                <tr style="font-size: 120%;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;"><strong>Discount</strong></td>
                    <td style="text-align: right;">₦{{ number_format(order_.discount) }}</td>
                </tr>
                <tr style="font-size: 120%;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;"><strong>Delivery Charge</strong></td>
                    <td style="text-align: right;">₦{{ number_format(order_.shipping_charge) }}</td>
                </tr>
                <tr style="font-size: 120%;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;"><strong>Total</strong></td>
                    <td style="text-align: right;">₦{{ number_format(order_.total) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}