{% extends "admin/layout.html" %}
{% block title %}
    {{ pageTitle }}
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Variants</h1>
{#                <a href="{{ url_for(".add_product") }}" role="button" data-toggle="modal" style="padding-right:0"><span#}
{#                        class="btn btn-large btn-success">+ Add product</span></a>#}
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Varaints of {{ product.name }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Last Updated</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in variants %}
                            <tr class="odd gradeX">
                                <td>{{ obj.name }}</td>
                                <td>{{ obj.description }}</td>
                                <td>{{ obj.quantity }}</td>
                                <td>{{ number_format(obj.price) }}</td>
                                <td>{{ obj.last_updated }}</td>
                                <td><a href="{{ url_for('.edit_variant',id=obj.product_id, variant_id=obj.id) }}">Edit</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}