{% extends "admin/layout.html" %}
{% block title %}
    {{ pageTitle }}
{% endblock title %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flashbox" class="row">
                <div class="col-md-12">
                    <div class="note note-danger">
                        {% for message in messages %}
                            <p>
                                {{ message }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Variant</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic Form Elements
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ form.csrf_token }}
                            <form role="form" name="form" action="{{ request.path }}" enctype="multipart/form-data"
                                  method="post">
                                <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                                    <label for="{{ form.name.name }}">{{ form.name.label.text }}</label>
                                    {{ form.name(class='form-control', value=variant.name) }}
                                    {% if form.name.errors %}
                                        {% if form.name.description %}
                                            <span class="help-block">{{ form.name.description }}</span>{% endif %}
                                        {% for e in form.name.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.description.errors %} has-error {% endif %}">
                                    <label for="{{ form.description.name }}">{{ form.description.label.text }}</label>
                                    {{ form.description(class='form-control rich-text', text=variant.description) }}
                                    {% if form.description.description %}
                                        <span class="help-block">{{ form.description.description }}</span>{% endif %}
                                    {% if form.description.errors %}
                                        {% for e in form.description.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-lg-4 {% if form.regular_price.errors %} has-error {% endif %}">
                                    <label for="{{ form.regular_price.name }}">{{ form.regular_price.label.text }}</label>
                                    {{ form.regular_price(class='form-control', value=variant.regular_price) }}
                                    {% if form.regular_price.description %}
                                        <span class="help-block">{{ form.regular_price.description }}</span>{% endif %}
                                    {% if form.regular_price.errors %}
                                        {% for e in form.regular_price.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-lg-4 {% if form.sale_price.errors %} has-error {% endif %}">
                                    <label for="{{ form.sale_price.name }}">{{ form.sale_price.label.text }}</label>
                                    {{ form.sale_price(class='form-control', value=variant.sale_price) }}
                                    {% if form.sale_price.description %}
                                        <span class="help-block">{{ form.sale_price.description }}</span>{% endif %}
                                    {% if form.sale_price.errors %}
                                        {% for e in form.sale_price.errors %}
                                            <span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group col-lg-4 {% if form.affiliate_price.errors %} has-error {% endif %}">
                                    <label for="{{ form.affiliate_price.name }}">{{ form.affiliate_price.label.text }}</label>
                                    {{ form.affiliate_price(class='form-control') }}
                                    {% if form.affiliate_price.description %}
                                        <span class="help-block">{{ form.affiliate_price.description }}</span>{% endif %}
                                    {% if form.affiliate_price.errors %}
                                        {% for e in form.affiliate_price.errors %}
                                            <span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.availability.errors %} has-error {% endif %}">
                                    <label for="{{ form.availability.name }}">{{ form.availability.label.text }}</label>
                                    {{ form.availability(class='checkbox') }}
                                    {% if form.availability.description %}
                                        <span class="help-block">{{ form.availability.description }}</span>{% endif %}
                                    {% if form.availability.errors %}
                                        {% for e in form.availability.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.quantity.errors %} has-error {% endif %}">
                                    <label for="{{ form.quantity.name }}">{{ form.quantity.label.text }}</label>
                                    {{ form.quantity(class='form-control', value=variant.quantity) }}
                                    {% if form.quantity.description %}
                                        <span class="help-block">{{ form.quantity.description }}</span>{% endif %}
                                    {% if form.quantity.errors %}
                                        {% for e in form.quantity.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-group {% if form.sku.errors %} has-error {% endif %}">
                                    <label for="{{ form.sku.name }}">{{ form.sku.label.text }}</label>
                                    {{ form.sku(class='form-control', value=variant.sku) }}
                                    {% if form.sku.description %}
                                        <span class="help-block">{{ form.sku.description }}</span>{% endif %}
                                    {% if form.sku.errors %}
                                        {% for e in form.sku.errors %}<span class="help-block">{{ e }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="form-actions right">
                                    <a href="{{ url_for('.variants', id=product.id) }}" class="btn default">Cancel</a>
                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
{% endblock %}