<div class="clearfix"> </div>
<div class="paginate pull-right">
    <div class="btn-group pull-right">
      {% if page > 1 %}
        {% if results.prev %}
          <a href="{{results.previous_page}}" class="pg btn btn-default">
            <i class="fa fa fa-chevron-left"></i>
          </a>
        {% endif %}
      {% endif %}

      {% for i in range(minimum(results.pages+1, page-2), minimum(results.pages+1, page+3)) %}
        {% if i > 0 %}
          {% if page == i %}
            <a href="{{paging_url_build(request.path, request_args, i)}}" style="background:#ebb128; color:#333 !important;" class="pg btn btn-default b">
              {{i}}
            </a>
          {% else %}
            <a href="{{paging_url_build(request.path, request_args, i)}}" class="pg btn btn-default">
              {{i}}
            </a>
          {% endif %}
        {% endif %}

      {% endfor %}

      {% if results.next %}
        <a href="{{results.next_page}}" class="pg btn btn-default">
          <i class="fa fa-chevron-right"></i>
        </a>
      {% endif %}
    </div>
</div>
